@import "../base/variable.scss";
@import "../base/mixins.scss";


// font-family: 'Lexend', sans-serif;
// font-family: 'Montserrat', sans-serif;


body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;

	&.listing_flow {
		overflow: hidden;
	}
}

.btn-primary-1 {
	background-color: transparent;
	border: 1px solid $secondary_color;
	width: 160px;
	height: 50px;
	border-radius: 5px;
	color: $secondary_color;
	font-weight: 500;
	font-size: 14px;
}

.btn-primary-2 {
	background-color: $secondary_color;
	color: $white  !important;
	border-radius: 5px;
	height: 50px;
	line-height: 49px;
	font-size: 14px;
	font-weight: 500;
	width: 160px;
	padding: 0 !important;
	text-align: center;
	border: none;

	&:hover {
		background-color: $secondary_color;
		color: $white;
	}

	&:focus {
		box-shadow: none;
		background-color: $secondary_color;
		color: $white;

	}

	&:active {
		box-shadow: none;
		border-color: $secondary_color;
		background-color: $secondary_color;
		color: $white;
	}
}

.btn-primary-3 {
	background-color: $light-black;
	border: 1px solid $light-black;
	padding: 15px 30px;
	text-align: center;
	height: 50px;
	color: $white;
	font-weight: 500;
	font-size: 14px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.btn-primary-4 {
	background-color: transparent;
	border: 1px solid $white;
	width: 140px;
	height: 50px;
	border-radius: 5px;
	color: $white;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	line-height: 45px;
}

.btn-primary-5 {
	background-color: transparent;
	color: $secondary_color  !important;
	border-radius: 30px;
	height: 50px;
	line-height: 49px;
	font-size: 14px;
	font-weight: 600;
	width: 160px;
	padding: 10px;
	padding: 0 !important;
	text-align: center;
	border: 1px solid $secondary_color;
	

	&:hover {
		background-color: $primary-color;
		color: $white;
		border-color: $primary-color;
	}

	&.active{
		box-shadow: none;
		border-color: $primary-color;
		background-color: $primary-color;
		color: $white;
	}
	
}

.top_space {
	margin-top: 75px;
}


.menu small.badge {
	float: right;
	color: #444;
}


.custome-star-rate{
	background-color: $secondary_color;
	border-radius: 4px;
	padding: 3px 9px;
	display: inline-block;
	color: $yellow;
	font-size: 12px;
	i{
		color: $yellow;
		padding-right: 2px;
	}
}


.page_not_foun{
	.img_area_set{
		width: 100%;
		max-width: 100%;
		
		.img_area{
			width: 100%;
		    height: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.initloader{
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	i{
		font-size: 25px;
	}
}

.rating_met{
	@include clearfix();
	ul{
		float: left;
		li{
			display: inline-block;
    		margin-right: 10px;
			font-size: 20px;
			i{
				color: $stroke;
				&.active{
					color: $ad_color;
				}
			}
		}
	}
	.show_rating{
		display: inline-block;
		padding: 4px 14px !important;
		background-color: #333333;
		color: #FFD021 !important;
		font-size: 14px;
		margin-left: 0px;
		vertical-align: middle;
		border-radius: 5px;
		margin-left: 4px !important;
	}
}

.college-hoc .choose_university_area {
	@include clearfix();
	padding-bottom: 20px;
	height: 100%;

	.inner_box_area {
		position: relative;
		@include clearfix();
		background-color: $white;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
		padding: 10px;
		border-radius: 5px;
		width: 100%;
		height: 100%;


		.innerr_image_area {
			float: left;
			width: 62px;

			.image_area {
				width: 62px;
				height: 62px;
				border: 5px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.info_area {
			padding-left: 10px;
			float: right;
			width: calc(100% - 62px);

			.unisersity_name {
				padding-top: 6px;
				padding-bottom: 5px;
				padding-right: 34px;

				p {
					font-size: 14px;
					color: $secondary_color;
					font-weight: 600;

				}
			}

			.uni_location_area {
				@include clearfix();

				a {
					color: $secondary_color;
					display: flex;
					align-items: center;

					.left_area {
						width: 18px;
						float: left;

						i {
							color: $secondary_color;
							margin-right: 10px;
							font-size: 14px;
						}
					}

					.right_area_in {
						width: calc(100% - 18px);
						float: right;
						font-size: 12px;
						color: $offspara;
						font-weight: 600;
					}
				}
			}

			.cross_area {
				position: absolute;
				top: 0;
				right: 0;
				background-color: $checkbox;
				height: 26px;
				width: 26px;
				margin-right: 8px;
				margin-top: 8px;
				align-items: center;
				border-radius: 5px;

				a {
					color: $secondary_color;

					i {
						font-size: 16px;
						text-align: center;
						margin-left: 8px;
						line-height: 26px;
					}
				}

			}
		}
	}
}
.main_add_met {
	min-height: 1000px;
}

.empty_img_area {
	@include clearfix();
	display: flex;
	align-items: center;

	.text_lable {
		width: 40%;
		float: left;
		font-size: 30px;
		font-weight: 500;
	}

	.img_area {
		width: calc(100% - 40%);
		float: left;
		padding-left: 20px;

		img {
			max-width: 100%;
			width: 400px;
		}
	}
}
.progress{
	height: 9px;
	margin-top: 10px;
.progress-bar{
   background-color: $primary-color;
}
}


/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1200px) and (max-width: 1399px) {
	.initloader{
		min-height: 400px;
	}
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.top_space {
		margin-top: 70px;
	}
	.initloader{
		min-height: 400px;
	}
	
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.top_space {
		margin-top: 64.06px;
	}

	.btn-primary-5 {
		width: 140px;
	}

	.btn-primary-6 {
		width: 200px;
	}

	.btn-primary-7 {
		width: 200px;
	}
	.initloader{
		min-height: 400px;
	}
	
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.top_space {
		margin-top: 50.3px;
	}

	.btn-primary-5 {
		width: 140px;
	}
	.initloader{
		min-height: 320px;
	}
	.empty_img_area{
		@include clearfix();
		display: flex;
		flex-direction: column-reverse;
		padding-top: 20px;
		.text_lable{
			width: 100%;
			float: unset;
			font-size: 20px;
			text-align: center;
		}
		.img_area{
			width: 100%;
			float: unset;
			padding-left: 0px;
			margin: 0 auto;
			text-align: center;
			img{
				max-width: 100%;
				width: 300px;
			}
		}
	}
	
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.top_space {
		margin-top: 45.25px;
	}

	.btn-primary-5 {
		width: 140px;
	}

	.btn-primary-6 {
		width: 140px;
		height: 50px;
	}

	.btn-primary-7 {
		width: 140px;
		height: 50px;
	}
	.initloader{
		min-height:340px;
	}

	.empty_img_area{
		@include clearfix();
		display: flex;
		flex-direction: column-reverse;
		padding-top: 20px;
		.text_lable{
			width: 100%;
			float: unset;
			font-size: 20px;
			text-align: center;
		}
		.img_area{
			width: 100%;
			float: unset;
			padding-left: 0px;
			margin: 0 auto;
			text-align: center;
			img{
				max-width: 100%;
				width: 300px;
			}
		}
	}
	
}

/* Smaller phones */
@media (max-width: 360px) {
	.top_space {
		margin-top: 47.53px;
	}

	.btn-primary-2 {
		width: 100px;
		height: 46px;
	}

	.btn-primary-5 {
		width: 140px;
	}

	.btn-primary-6 {
		width: 140px;
		height: 50px;
	}

	.btn-primary-7 {
		width: 140px;
		height: 50px;
	}
	.initloader{
		min-height: 340px;
	}
	.empty_img_area{
		@include clearfix();
		display: flex;
		flex-direction: column-reverse;
		padding-top: 20px;
		.text_lable{
			width: 100%;
			float: unset;
			font-size: 20px;
			text-align: center;
		}
		.img_area{
			width: 100%;
			float: unset;
			padding-left: 0px;
			margin: 0 auto;
			text-align: center;
			img{
				max-width: 100%;
				width: 300px;
			}
		}
	}

}

/* Smaller phones */
@media (max-width: 320px) {
	.btn-primary-2 {
		float: unset;
	}

	.btn-primary-5 {
		width: 140px;
	}

	.btn-primary-6 {
		width: 140px;
		height: 50px;
	}

	.btn-primary-7 {
		width: 140px;
		height: 50px;
	}
}
