@import "../base/variable.scss";
@import "../base/mixins.scss";

.custom-radio{
	padding-left: 0;
	.custom-control-input{
		&:checked{
			&~.custom-control-label{
				&:before{
					top: 0;
					left: 0;
					background-color: $white;
					border: 1px solid $black;
					box-shadow: none;
					text-decoration: none;
					outline: none;
				}
				&:after{
					top: 0;
					left: 0;
				    background: $white;
				    border-radius: 50%;
				    width: 10px;
				    height: 10px;
				    margin-top: 6px;
		    		margin-left: 3.2px;
					background-color: $black;
				}
			}
		}
	}
	.custom-control-label{
		font-weight: 500;
		font-size: 16px;
		color: $black;
		padding-left: 20px;
		&:before{
			top: 0;
			left: 0;
			margin-top: 3px;
			background-color: transparent;
			border: 1px solid $black;
		}
		&:after{
			top: 0;
			left: 0;
		    border-radius: 50%;
		    width: 10px;
		    height: 10px;
		    margin-top: 6px;
		    margin-left: 3.2px;
		    background: transparent;
		}
	}
}

.btn-checkbox{
	position: relative;
	border: 0;
	padding: 0;
	margin: 0;
	color: $black;
	font-size: 12px;
	border-radius: 0px;
	input{
		position: absolute;
		top: 0;
		right: 0;
		margin-right: 7px;
		margin-top: -5px;
		opacity: 0;
		z-index: 2;
	}
	.active_border{
		display: block;
		border: 0px solid #CECECE;
		padding: 5px 10px;
		color: $black;
		font-size: 12px;
		border-radius: 5px;
	}
	input[type=checkbox]:checked + .active_border{
		background-color: $purple;
   		border: 0px solid $primary_color;
   		color: $white;
	}
	input[type=radio]:checked + .active_border{
		background-color: $purple;
   		border: 0px solid $primary_color;
   		color: $white;
	}
}

.custom-control.custom-checkbox{
	.custom-control-input{}
	.custom-control-label{
		font-size: 14px;
		color: #666666;
		&:before{
			top: 3px;
			border-radius: 0;
			height: 16px;
			width: 16px;
			box-shadow: none;
			text-decoration: none;
			outline: none;
		}
		&:after{
			top: 3px;
			border-radius: 0;
			height: 16px;
			width: 16px;
			box-shadow: none;
			text-decoration: none;
			outline: none;
		}
	}
}
.custom-control-input:checked~.custom-control-label::before{
	background-color: $primary_color;
	border-color: $primary_color;
	box-shadow: none;
	text-decoration: none;
	outline: none;
}


.form-check-input:checked[type=checkbox]{
    background-color: $black !important;
}
.form-check-input:checked{
    background-color: $black !important;
    border-color: $black !important;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.form-check-input{
	box-shadow: none;
	border-radius: 4px;
	background-color: $checkbox;
	width: 20px;
	height: 20px;
	border-color: $checkbox;
	&:focus{
		box-shadow: none;
		border-color:  $black;
	}
}
.form-check{
	label{
		padding-left: 10px;
		font-size: 14px;
	}
}











/* Extra Huge large desktops */
@media (min-width: 1920px){
    .btn-checkbox{
    	.custom_check{
    		height: 15px;
    		width: 15px;
    		margin-top: -8px;
    		i{
    			font-size: 8px;
    		}
    	}
    	.active_border{
    		font-size: 14px;
    	}
    }
    .custom-radio{
    	.custom-control-label{
    		font-size: 14px;
    	}
    }
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1500px){
    
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	
}

/* Landscape phones and portrait tablets */
@media (min-width: 544px) and (max-width: 767px) {
	
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 543px) {
	
}

/* Smaller phones */
@media (max-width: 360px) {
	
}

/* Smaller phones */
@media (max-width: 320px) {
    
}