$black: #111111;
$white: #ffffff;
$red: #FF0000;
$green: #008000;
$yellow: #FFD021;
$pink: #FFC0CB;
$blue: #0000FF;
$purple: #CC8899;
$brown: #A52A2A;
$grey: #e7e7e7;
$prim_blck: #46515E;

$primary_color: #B4ECB9;
$secondary_color: #262C33;

// Social Icons Color
$facebook: #284386;
$twitter: #1da1f2;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #bd0d21;
$instagram: #e1376f;
$offspara: #757575;

// Rating Star Color
$rating_color: #FF8D07;
$ad_color: #FCC233;
$black-2: #20262E;
$border-light: #DEDEDE;
$bg-light: #F8F8F8;
$stroke: #DCDCDC;
$checkbox: #F2F2F2;
$light-green: #B4ECB9;
$light-black: #262C33;
$link: #1A518C;
$failed: #FF473E;
$black_stroke: #3D4248;
$degree: #59626B;
$darkgrey: #808080;
$lightyellow:#fdfbf5;
$midblack:#747474;