@import "../base/variable.scss";
@import "../base/mixins.scss";


.about_section {
    padding-top: 100px;
    padding-bottom: 100px;

    .heading_area {
        padding-bottom: 80px;

        .image_area {
            img {
                width: 100%;
            }
        }
    }

    .video_area {
        background-color: $bg-light;

        .video_iner_area {
            width: 1300px;
            margin: 0 auto;

            img,
            video,
            iframe {
                width: 100%;
                height: 660px;
                margin: 0 auto;
                text-align: center;
                object-fit: cover;
            }
        }

    }
}








/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .about_section {
        padding-top: 70px;
        padding-bottom: 80px;

        .heading_area {
            padding-bottom: 60px;
        }

        .video_area {
            .video_iner_area {
                width: 1000px;

                img,
                video,
                iframe {

                    height: 500px;

                }
            }
        }
    }

}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .about_section {
        padding-top: 70px;
        padding-bottom: 80px;

        .heading_area {
            padding-bottom: 60px;
        }

        .video_area {
            .video_iner_area {
                width: 700px;

                img,
                video,
                iframe {
                    height: 381px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .about_section {
        padding-top: 30px;
        padding-bottom: 60px;

        .heading_area {
            padding-bottom: 40px;
        }

        .video_area {
            .video_iner_area {
                width: 595px;

                img,
                video,
                iframe {
                    height: 286px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .about_section {
        padding-top: 30px;
        padding-bottom: 35px;

        .heading_area {
            padding-bottom: 40px;
        }

        .video_area {
            .video_iner_area {
                width: 330px;

                img,
                video,
                iframe {
                    height: 220px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .about_section {
        padding-top: 30px;
        padding-bottom: 35px;

        .heading_area {
            padding-bottom: 40px;
        }

        .video_area {
            .video_iner_area {
                width: 330px;

                img,
                video,
                iframe {
                    height: 220px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .about_section {
        padding-top: 30px;
        padding-bottom: 60px;

        .heading_area {
            padding-bottom: 40px;
        }

        .video_area {
            .video_iner_area {
                width: 300px;

                img,
                video,
                iframe {
                    height: 220px;
                }
            }
        }
    }
}