@import "../base/variable.scss";
@import "../base/mixins.scss";



.agent_list {
    margin-bottom: 80px;

    .uni_detail_wrap {
        .uni_detail_area {
            margin-bottom: 26px;

            .agent_box {
                width: 100%;
                @include clearfix();
                height: 100%;
                display: block;
                background-color: $white;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                overflow: hidden;

                .agent_inner_area {
                    @include clearfix();
                    display: flex;

                    .left_area {
                        float: left;
                        width: 200px;

                        h5 {
                            font-size: 18px;
                        }

                        .img_area {
                            height: 100%;
                            width: 100%;
                            background-color: #fdfbf5;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                    
                    .right-area {
                        width: calc(100% - 200px);
                    }
                    .right_area {
                        padding: 20px;
                        float: left;
                        width: calc(100% - 200px);
                        .rating_area{
                            float: right;
                           
                        }

                        .top-area {
                            @include clearfix();
                            .left_area {
                                float: left;

                                h5 {
                                    font-size: 16px;
                                    font-weight: 600;
                                    a{
                                        color: $black;
                                    }
                                }
                            }

                            .right-area {
                                float: right;

                                .rating_area {
                                    @include clearfix();

                                    .empty-icons {
                                        display: none;
                                    }

                                    svg.star-svg {
                                        display: none;
                                    }

                                    .react-simple-star-rating-tooltip {
                                        display: inline-block !important;
                                        padding: 1px 14px !important;
                                        background-color: $black  !important;
                                        color: $yellow  !important;
                                        margin-left: 0px !important;
                                        vertical-align: middle !important;
                                        border-radius: 5px !important;
                                        font-size: 14px !important;
                                    }

                                    .rating {
                                        font-size: 14px;
                                    }
                                }

                            }
                        }

                        .desc {
                            margin-top: 8px;
                           
                            font-size: 14px;
                            color: $offspara;
                        }


                        .location_area {
                            margin-top: 10px;
                            @include clearfix();
                            .location_left_area {
                                float: left;
                                width: 20px;

                                i {
                                    color: $secondary_color;
                                    font-size: 16px;

                                }
                            }

                            .location_right_area {
                                float: left;
                                width: calc(100% - 20px);
                                padding-left: 5px;

                                p {
                                    font-size: 14px;
                                    color: $black;
                                    font-weight: 600;
                                }
                            }
                        }

                        .success_area {
                            margin-top: 6px;
                            @include clearfix();
                            margin-bottom: 0;

                            .success_left_area {
                                float: left;
                                width: 20px;

                                i {
                                    color: $secondary_color;
                                    font-size: 16px;

                                }
                            }

                            .success_right_area {
                                float: left;
                                width: calc(100% - 20px);
                                padding-left: 5px;

                                p {
                                    font-size: 14px;
                                    color: $black;
                                    font-weight: 600;
                                    margin-top: 1px;
                                }
                            }
                        }
                    }
                }

                .bottom_area {
                    margin-top: 0 !important;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    text-align: center;
                    background-color: $secondary_color;

                    p {
                        font-size: 14px;
                        color: $white;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .btn_area {
        margin-top: 10px;
        float: right;
    }
}




/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1280px) and (max-width: 1399px) {

    .agent_list {
        margin-bottom: 80px;

        .uni_detail_wrap {
            .uni_detail_area {
                .agent_box {
                    .agent_inner_area {
                        .left_area {
                            h5 {
                                font-size: 16px;
                            }
                        }

                        .right_area {
                            padding-top: 12px;
                            padding-left: 12px;
                            padding-right: 12px;

                            .desc {
                                margin-top: 6px;

                            }


                            .location_area {
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {

    .agent_list {
        margin-bottom: 80px;

        .uni_detail_wrap {
            .uni_detail_area {
                .agent_box {
                    .agent_inner_area {
                        .left_area {
                            h5 {
                                font-size: 16px;
                            }
                        }

                        .right_area {
                            padding-top: 10px;
                            padding-left: 10px;
                            padding-right: 10px;

                            .top-area {
                                .left_area {
                                    h5 {
                                        font-size: 16px;
                                    }
                                }

                                .right-area {
                                    width: 50px;

                                    
                                }
                            }

                            .location_area {
                                margin-top: 8px;

                                .location_left_area {
                                    i {
                                        font-size: 16px;

                                    }
                                }

                                .location_right_area {
                                    p {
                                        font-size: 12px;

                                    }
                                }
                            }

                            .success_area {
                                margin-top: 5px;

                                .success_right_area {

                                    p {
                                        font-size: 12px;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .agent_list {
        margin-bottom: 80px;

        .uni_detail_wrap {
            .uni_detail_area {
                margin-bottom: 26px;

                .agent_box {
                    .agent_inner_area {
                        .left_area {
                            width: 130px;

                            h5 {
                                font-size: 14px;
                            }
                        }

                        .right_area {
                            padding-top: 10px;
                            padding-left: 10px;
                            padding-right: 10px;
                            width: calc(100% - 130px);

                            .top-area {
                                .left_area {
                                    float: left;

                                    h5 {
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                }

                                .right-area {
                                    .rating_area {
                                       


                                        .react-simple-star-rating-tooltip {
                                            padding: 1px 8px !important;

                                        }

                                        .rating {
                                            font-size: 14px;
                                        }
                                    }

                                }
                            }

                            .desc {
                                margin-top: 6px;
                                font-size: 12px;
                            }

                            .location_area {
                                margin-top: 10px;


                                .location_left_area {

                                    i {

                                        font-size: 14px;

                                    }
                                }

                                .location_right_area {


                                    p {
                                        font-size: 12px;

                                    }
                                }
                            }

                            .success_area {
                                margin-top: 5px;

                                .success_left_area {
                                    i {
                                        font-size: 14px;

                                    }
                                }

                                .success_right_area {

                                    p {
                                        font-size: 12px;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn_area {
            margin-top: 10px;
            float: right;
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .agent_list {
        margin-bottom: 80px;

        .uni_detail_wrap {
            .uni_detail_area {
                margin-bottom: 26px;

                .agent_box {
                    .agent_inner_area {
                        .left_area {
                            width: 130px;

                            h5 {
                                font-size: 14px;
                            }
                        }

                        .right_area {
                            padding-top: 10px;
                            padding-left: 10px;
                            padding-right: 10px;
                            width: calc(100% - 130px);

                            .top-area {
                                .left_area {
                                    float: left;

                                    h5 {
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                }

                                .right-area {
                                    .rating_area {
                                        margin-top: 0px;


                                        .react-simple-star-rating-tooltip {
                                            padding: 1px 8px !important;

                                        }

                                        .rating {
                                            font-size: 14px;
                                        }
                                    }

                                }
                            }

                            .desc {
                                margin-top: 6px;
                                font-size: 12px;
                            }

                            .location_area {
                                margin-top: 10px;


                                .location_left_area {

                                    i {

                                        font-size: 14px;

                                    }
                                }

                                .location_right_area {


                                    p {
                                        font-size: 12px;

                                    }
                                }
                            }

                            .success_area {
                                margin-top: 5px;

                                .success_left_area {
                                    i {
                                        font-size: 14px;

                                    }
                                }

                                .success_right_area {

                                    p {
                                        font-size: 12px;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn_area {
            margin-top: 10px;
            float: right;
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .agent_list {
        margin-bottom: 80px;

        .uni_detail_wrap {
            .uni_detail_area {
                margin-bottom: 26px;

                .agent_box {
                    .agent_inner_area {
                        .left_area {
                            width: 130px;

                            h5 {
                                font-size: 14px;
                            }
                        }

                        .right_area {
                            padding-top: 10px;
                            padding-left: 10px;
                            padding-right: 10px;
                            width: calc(100% - 130px);

                            .top-area {
                                .left_area {
                                    float: left;

                                    h5 {
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                }

                                .right-area {
                                    .rating_area {
                                        margin-top: 0px;


                                        .react-simple-star-rating-tooltip {
                                            padding: 1px 8px !important;

                                        }

                                        .rating {
                                            font-size: 14px;
                                        }
                                    }

                                }
                            }

                            .desc {
                                margin-top: 6px;
                                font-size: 12px;
                            }

                            .location_area {
                                margin-top: 10px;


                                .location_left_area {

                                    i {

                                        font-size: 14px;

                                    }
                                }

                                .location_right_area {


                                    p {
                                        font-size: 12px;

                                    }
                                }
                            }

                            .success_area {
                                margin-top: 5px;

                                .success_left_area {
                                    i {
                                        font-size: 14px;

                                    }
                                }

                                .success_right_area {

                                    p {
                                        font-size: 12px;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn_area {
            margin-top: 10px;
            float: right;
        }
    }

}

/* Smaller phones */
@media (max-width: 320px) {
    .agent_list {
        margin-bottom: 80px;

        .uni_detail_wrap {
            .uni_detail_area {
                margin-bottom: 26px;

                .agent_box {
                    .agent_inner_area {
                        .left_area {
                            width: 130px;

                            h5 {
                                font-size: 14px;
                            }
                        }

                        .right_area {
                            padding-top: 10px;
                            padding-left: 10px;
                            padding-right: 10px;
                            width: calc(100% - 130px);

                            .top-area {
                                .left_area {
                                    float: left;

                                    h5 {
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                }

                                .right-area {
                                    .rating_area {
                                        margin-top: -20px;


                                        .react-simple-star-rating-tooltip {
                                            padding: 1px 8px !important;

                                        }

                                        .rating {
                                            font-size: 14px;
                                        }
                                    }

                                }
                            }

                            .desc {
                                margin-top: 6px;
                                font-size: 12px;
                            }

                            .location_area {
                                margin-top: 10px;


                                .location_left_area {

                                    i {

                                        font-size: 14px;

                                    }
                                }

                                .location_right_area {


                                    p {
                                        font-size: 12px;

                                    }
                                }
                            }

                            .success_area {
                                margin-top: 5px;

                                .success_left_area {
                                    i {
                                        font-size: 14px;

                                    }
                                }

                                .success_right_area {

                                    p {
                                        font-size: 12px;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn_area {
            margin-top: 10px;
            float: right;
        }
    }
}