@import "../base/variable.scss";
@import "../base/mixins.scss";


.review_section {
    padding-bottom: 0px;
    margin-top: 30px;
    border-top: 1px solid $checkbox;
    padding-top: 30px;

    .review_wrap {
        @include clearfix();

        .heading_area {
            padding-bottom: 0px;
            @include clearfix();

            .left_area {
                float: left;
                width: calc(100% - 200px);

                h1 {
                    font-size: 36px;
                }
            }

            .right_area {
                float: right;
                width: 200px;

                .btn-primary-2 {
                    float: right;
                }
            }
        }

        .review_area {
            @include clearfix();

            .review_detail {
                @include clearfix();
                margin-top: 30px;
                &:last-child{
                    .right_area {
                        .text_area{
                            &.ul{
                                border: none
                            }
                        }
                    }
                }

                .left_area {
                    @include clearfix();
                    float: left;
                    width: 60px;
                    height: 60px;
                    overflow: hidden;
                    border-radius: 5px;

                    .image_area {
                        width: 60px;
                        height: 60px;
                        border-radius: 5px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .right_area {
                    @include clearfix();
                    float: left;
                    width: calc(100% - 60px);
                    position: unset;
                    padding-bottom: 0;

                    .text_area {
                        padding-left: 20px;
                        .divide{
                            display: flex;
                            @include clearfix();
                            padding-bottom: 5px;
                            align-items: flex-end;
                            .name{
                                width: 70%;
                                float: left;
                            }
                            .created{
                                width: calc(100% - 70%);
                                @include clearfix();
                                padding-left: 10px;
                                p{
                                    float: right;
                                    padding-bottom: 0;
                                }
                            }
                        }
                        &.ul {
                            border-bottom: 1px solid $checkbox;
                        }

                        h4 {
                            font-size: 14px;
                            font-weight: 600;
                            padding-bottom: 5px;
                            word-break: break-word;
                        }

                        .rating_area {
                            padding-bottom: 10px;
                            @include clearfix();
                            .rating_met{
                                ul{
                                    li{
                                        display: inline-block;
                                        margin-right: 5px;
                                        &:last-child{
                                            margin-right: 0;
                                        }
                                        i{
                                            color: $stroke;
                                            &.active{
                                                color: $ad_color;
                                            }
                                        }
                                    }
                                }
                            }

                            .empty-icons {
                                color: $secondary_color;
                                float: left;
                                width: 130px;
                            }

                            svg.star-svg {
                                width: 24px;
                                height: 24px;
                            }

                            .react-simple-star-rating-tooltip {
                                display: inline-block !important;
                                padding: 0 !important;
                                background-color: transparent !important;
                                color: $yellow  !important;
                                margin-left: 0px !important;
                                vertical-align: middle !important;
                                border-radius: 0 !important;
                            }

                            .rating {
                                font-size: 14px;
                            }
                        }

                        p {
                            font-size: 14px;
                            color: $offspara;
                            font-weight: 500;
                            padding-bottom: 30px;
                        }
                    }

                }
            }

        }
    }
}



/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .review_section {
        padding-top: 30px;

        .review_wrap {
            .heading_area {
                padding-bottom: 0px;

                .left_area {
                    h1 {
                        font-size: 34px;
                    }
                }

                .right_area {
                    width: 160px;
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {

    .review_section {
        padding-bottom: 10px;
        margin-top: 30px;
        border-top: 1px solid $checkbox;
        padding-top: 30px;

        .review_wrap {
            .heading_area {
                padding-left: 0px;

                .left_area {
                    float: left;
                    width: calc(100% - 146px);

                    h1 {
                        font-size: 28px;
                    }
                }

                .right_area {
                    float: right;
                    width: 146px;

                    .btn-primary-2 {
                        float: right;
                    }
                }
            }

            .review_area {
                @include clearfix();

                .review_detail {
                    @include clearfix();
                    margin-top: 30px;

                    .right_area {
                        @include clearfix();
                        float: left;
                        width: calc(100% - 60px);

                        .text_area {
                            padding-left: 20px;

                            &.ul {
                                border-bottom: 1px solid $checkbox;
                            }

                            h4 {
                                font-size: 14px;
                                font-weight: 600;
                                padding-bottom: 5px
                            }

                            .rating_area {
                                padding-bottom: 10px;
                                @include clearfix();

                                .empty-icons {
                                    color: $secondary_color;
                                    float: left;
                                    width: 130px;
                                }

                                svg.star-svg {
                                    width: 24px;
                                    height: 24px;
                                }

                                .react-simple-star-rating-tooltip {
                                    display: inline-block !important;
                                    padding: 0 !important;
                                    background-color: transparent !important;
                                    color: $yellow  !important;
                                    margin-left: 0px !important;
                                    vertical-align: middle !important;
                                    border-radius: 0 !important;
                                }

                                .rating {
                                    font-size: 14px;
                                }
                            }

                            p {
                                font-size: 14px;
                                color: $offspara;
                                font-weight: 500;
                                padding-bottom: 30px;
                            }
                        }

                    }
                }

            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .review_section {
        padding-bottom: 10px;

        .review_wrap {
            @include clearfix();

            .heading_area {
                .left_area {
                    width: calc(100% - 120px);

                    h1 {
                        font-size: 28px;
                    }
                }

                .right_area {
                    width: 120px;
                }
            }

            .review_area {
                .review_detail {

                    .right_area {
                        width: calc(100% - 60px);

                        .text_area {
                            padding-left: 20px;

                            .rating_area {
                                padding-bottom: 10px;
                            }

                            p {
                                padding-bottom: 20px;
                                font-size: 13px;
                            }
                        }

                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {

    .review_section {
        padding-bottom: 10px;

        .review_wrap {
            @include clearfix();

            .heading_area {
                .left_area {
                    width: calc(100% - 136px);

                    h1 {
                        font-size: 28px;
                    }
                }

                .right_area {
                    width: 136px;
                    padding-bottom: 0;
                    .btn-primary-2{
                        width: 136px;
                    }
                }
            }

            .review_area {
                .review_detail {
                    border-bottom: 1px solid $checkbox;
                    padding-bottom: 20px;
                    margin-top: 20px;
                    &:last-child{
                        border-bottom: 0;
                        padding-bottom: 0;
                    }

                    .left_area {
                        width: 40px;
                        height: 40px;
                        .image_area{
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .right_area {
                        width: calc(100% - 40px);

                        .text_area {
                            padding-left: 10px;
                            &.ul{
                                border-bottom: none;
                            }

                            .rating_area {
                                padding-bottom: 10px;
                            }

                            p {
                                padding-bottom: 0px;
                                font-size: 13px;
                            }
                        }

                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {

    .review_section {
        padding-bottom: 10px;

        .review_wrap {
            @include clearfix();

            .heading_area {
                .left_area {
                    width: calc(100% - 136px);

                    h1 {
                        font-size: 28px;
                    }
                }

                .right_area {
                    width: 136px;
                    padding-bottom: 0;
                    .btn-primary-2{
                        width: 136px;
                    }
                }
            }

            .review_area {
                .review_detail {
                    border-bottom: 1px solid $checkbox;
                    padding-bottom: 20px;
                    margin-top: 20px;
                    &:last-child{
                        border-bottom: 0;
                        padding-bottom: 0;
                    }
                    .left_area {
                        width: 40px;
                        height: 40px;
                        .image_area{
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .right_area {
                        width: calc(100% - 40px);

                        .text_area {
                            padding-left: 10px;
                            &.ul{
                                border: none;
                            }

                            .rating_area {
                                padding-bottom: 10px;
                            }

                            p {
                                padding-bottom: 0px;
                                font-size: 13px;
                            }
                        }

                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {

    .review_section {
        padding-bottom: 10px;

        .review_wrap {
            @include clearfix();

            .heading_area {
                .left_area {
                    width: calc(100% - 120px);

                    h1 {
                        font-size: 28px;
                    }
                }

                .right_area {
                    width: 120px;
                }
            }

            .review_area {
                .review_detail {
                    .left_area {
                        width: 60px;

                        .image_area {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .right_area {
                        width: calc(100% - 60px);

                        .text_area {
                            padding-left: 20px;

                            .rating_area {
                                padding-bottom: 10px;
                            }

                            p {
                                padding-bottom: 20px;
                            }
                        }

                    }
                }
            }
        }
    }
}