@import "../base/variable.scss";
@import "../base/mixins.scss";



.photos_area {
    margin-bottom: 50px;
    // margin-left: 20px;
    .inner_area {
        .box_area {
            width: 100%;
            @include clearfix();
            height: 100%;
            display: block;
            background-color: $white;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            overflow: hidden;

            .heading_area {
                background: linear-gradient(101.56deg, #B4ECB9 -19.36%, #86DD8D 118.07%);
                padding: 20px 24px;

                h5 {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .gallery_wrap {
                @include clearfix();
                margin-top: 20px;

                .gallery_inn {
                    float: left;
                    width: 50%;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-bottom: 20px;

                    .detail_area {
                        @include clearfix();

                        .image_area {
                            width: 177px;
                            height: 177px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}



/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .photos_area {
        margin-bottom: 50px;

        .inner_area {
            .box_area {
                .gallery_wrap {
                    .gallery_inn {
                        padding-left: 13px;
                        padding-right: 10px;
                        margin-bottom: 15px;

                        .detail_area {
                            .image_area {
                                border-radius: 10px;
                                width: 160px;
                                height: 160px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .photos_area {
        margin-bottom: 50px;

        .inner_area {
            .box_area {
                .gallery_wrap {
                    .gallery_inn {
                        padding-left: 13px;
                        padding-right: 10px;
                        margin-bottom: 15px;
                        width: 33.33%;

                        .detail_area {
                            .image_area {
                                border-radius: 10px;
                                width: 160px;
                                height: 160px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .photos_area {
        margin-bottom: 50px;

        .inner_area {
            .box_area {
                .gallery_wrap {
                    .gallery_inn {
                        padding-left: 6px;
                        margin-bottom: 15px;
                        width: 33.33%;
                        .detail_area {
                            .image_area {
                                width: 150px;
                                height: 150px;
                                margin: 0 auto;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .photos_area {
        margin-bottom: 50px;

        .inner_area {
            .box_area {
                .gallery_wrap {
                    .gallery_inn {
                        padding-left: 13px;
                        margin-bottom: 10px;

                        .detail_area {
                            .image_area {
                                width: 150px;
                                height: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .photos_area {
        margin-bottom: 50px;

        .inner_area {
            .box_area {
                .gallery_wrap {
                    .gallery_inn {
                        padding-left: 10px;
                        margin-bottom: 10px;

                        .detail_area {
                            .image_area {
                                width: 150px;
                                height: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .photos_area {
        margin-bottom: 50px;

        .inner_area {
            .box_area {
                .gallery_wrap {
                    .gallery_inn {
                        padding-left: 10px;
                        margin-bottom: 10px;

                        .detail_area {
                            .image_area {
                                width: 130px;
                                height: 130px;
                            }
                        }
                    }
                }
            }
        }
    }
}