@import "../base/variable.scss";
@import "../base/mixins.scss";

.agent_area {
    padding-bottom: 180px;
    padding-top: 14px;

    .inner_area {
        .heading_area {
            margin-bottom: 50px;

            h4 {
                font-size: 36px;
                font-weight: 600;
            }

            p {
                margin-top: 20px;
                font-size: 14px;
                color: $offspara;
                padding-right: 120px;
            }
        }

        .uni_detail_area {
            margin-bottom: 26px;

            .agent_box {
                width: 100%;
                @include clearfix();
                height: 100%;
                display: block;
                background-color: $white;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                overflow: hidden;

                .agent_inner_area {
                    @include clearfix();
                    display: flex;
                    align-items: stretch;
                    .left_area {
                        float: left;
                        width: 140px;

                        h5 {
                            font-size: 18px;
                        }

                        .img_area {
                            height: 100%;
                            width: 100%;
                            background-color: #e3d0d9;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                    }

                    .right_area {
                        padding: 20px;
                        float: left;
                        width: calc(100% - 140px);

                        .top-area {
                            @include clearfix();
                            .left_area {
                                width: 66%;
                                float: left;
                                h5 {
                                    font-size: 16px;
                                    font-weight: 600;
                                    a{
                                        color: $black;
                                    }
                                }
                            }

                            .right-area {
                                float: right;
                                width: calc(100% - 66%);
                                .rating_area {
                                    float: right;
                                    @include clearfix();

                                    .empty-icons {
                                        display: none;
                                    }

                                    svg.star-svg {
                                        display: none;
                                    }

                                    .react-simple-star-rating-tooltip {
                                        display: inline-block !important;
                                        padding: 1px 14px !important;
                                        background-color: $black  !important;
                                        color: $yellow  !important;
                                        margin-left: 0px !important;
                                        vertical-align: middle !important;
                                        border-radius: 5px !important;
                                        font-size: 14px !important;
                                    }

                                    .rating {
                                        font-size: 14px;
                                    }
                                }

                            }
                        }

                        .desc {
                            margin-top: 8px;
                            font-size: 12px;
                            color: $offspara;
                        }


                        .location_area {
                            margin-top: 10px;
                            @include clearfix();
                            align-items: center;
                            display: flex;
                            .location_left_area {
                                float: left;
                                width: 20px;

                                i {
                                    color: $secondary_color;
                                    font-size: 16px;

                                }
                            }

                            .location_right_area {
                                float: left;
                                width: calc(100% - 20px);
                                padding-left: 5px;

                                p {
                                    font-size: 12px;
                                    color: $black;
                                    font-weight: 600;
                                }
                            }
                        }
                        .success_area {
                            margin-top: 6px;
                            margin-bottom: 0;
                            @include clearfix();
                            .success_left_area {
                                float: left;
                                width: 20px;

                                i {
                                    color: $secondary_color;
                                    font-size: 16px;

                                }
                            }

                            .success_right_area {
                                float: left;
                                width: calc(100% - 20px);
                                padding-left: 5px;

                                p {
                                    font-size: 12px;
                                    color: $black;
                                    font-weight: 600;
                                    margin-top: 1px;
                                }
                            }
                        }
                    }
                }

                .bottom_area {
                    p {
                        font-size: 14px;
                        color: $white;
                        font-weight: 400;
                    }
                    a{
                        display: block;
                        font-size: 14px;
                        color: $white;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        text-align: center;
                        background-color: $secondary_color;
                    }
                }
            }
        }

        .btn_area {
            margin-top: 10px;
            float: right;
        }
    }
}


/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .agent_area {
        padding-bottom: 80px;
        padding-top: 0px;

        .inner_area {
            .uni_detail_area {
                .agent_box {
                    .agent_inner_area {
                        .right_area {
                            .location_area {
                                padding-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .agent_area {
        padding-bottom: 60px;
        padding-top: 0px;

        .inner_area {
            .heading_area {
                margin-bottom: 40px;

                h4 {
                    font-size: 34px;
                }

            }

            .uni_detail_area {
                margin-bottom: 26px;

                .agent_box {
                    .agent_inner_area {
                        .left_area {
                            h5 {
                                font-size: 16px;
                            }
                        }

                        .right_area {
                            padding: 14px;
                        }
                    }

                }
            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .agent_area {
        padding-bottom: 60px;
        padding-top: 14px;

        .inner_area {
            .heading_area {
                margin-bottom: 30px;

                h4 {
                    font-size: 28px;
                }

                p {
                    margin-top: 10px;
                    padding-right: 10px;
                }
            }

            .uni_detail_area {
                margin-bottom: 26px;

                .agent_box {
                    .agent_inner_area {
                        .left_area {
                            width: 130px;

                            h5 {
                                font-size: 16px;
                            }
                        }

                        .right_area {
                            padding: 10px;
                            width: calc(100% - 130px);
                            .top-area{
                                .left_area{
                                    width: calc(100% - 59px);
                                }
                                .right-area{
                                   width:59px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {

    .agent_area {
        padding-bottom: 60px;
        padding-top: 14px;

        .inner_area {
            .heading_area {
                margin-bottom: 30px;

                h4 {
                    font-size: 28px;
                }

                p {
                    margin-top: 10px;
                    padding-right: 10px;
                }
            }

            .uni_detail_area {
                margin-bottom: 26px;

                .agent_box {
                    .agent_inner_area {
                        .left_area {
                            width: 130px;

                            h5 {
                                font-size: 16px;
                            }
                        }

                        .right_area {
                            padding: 10px;
                            width: calc(100% - 130px);
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .btn-primary-2 {
        width: 100px;
    }

    .agent_area {
        padding-bottom: 60px;
        padding-top: 14px;

        .inner_area {
            .heading_area {
                margin-bottom: 30px;

                h4 {
                    font-size: 28px;
                }

                p {
                    margin-top: 10px;
                    padding-right: 10px;
                }
            }

            .uni_detail_area {
                margin-bottom: 26px;

                .agent_box {
                    .agent_inner_area {
                        .left_area {
                            width: 130px;

                            h5 {
                                font-size: 16px;
                            }
                        }

                        .right_area {
                            padding: 10px;
                            width: calc(100% - 130px);
                        }
                    }
                }
            }
        }
    }


}

/* Smaller phones */
@media (max-width: 320px) {
    .agent_area {
        padding-bottom: 80px;
        padding-top: 14px;

        .inner_area {
            .heading_area {
                margin-bottom: 40px;

                h4 {
                    font-size: 28px;
                }

                p {
                    margin-top: 20px;
                    font-size: 14px;
                    padding-right: 10px;
                }
            }

            .uni_detail_area {
                margin-bottom: 26px;

                .agent_box {
                    .agent_inner_area {
                        .left_area {
                            width: 130px;

                            h5 {
                                font-size: 14px;
                            }
                        }

                        .right_area {
                            padding: 10px;
                            width: calc(100% - 130px);

                            .top-area {
                                .left_area {
                                    h5 {
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                }

                                .right-area {
                                    .rating_area {
                                        // margin-top: -21px;

                                        .react-simple-star-rating-tooltip {
                                            padding: 1px 8px !important;
                                            font-size: 12px !important;
                                        }
                                    }
                                }
                            }

                            .desc {
                                margin-top: 4px;
                            }


                            .location_area {
                                margin-top: 6px;

                                .location_left_area {
                                    float: left;
                                    width: 20px;

                                    i {
                                        color: $secondary_color;
                                        font-size: 16px;

                                    }
                                }

                                .location_right_area {
                                    float: left;
                                    width: calc(100% - 20px);
                                    padding-left: 5px;

                                    p {
                                        font-size: 12px;
                                        color: $black;
                                        font-weight: 600;
                                    }
                                }
                            }

                            .success_area {
                                margin-top: 6px;
                                @include clearfix();
                                float: left;

                                .success_left_area {
                                    float: left;
                                    width: 20px;

                                    i {
                                        color: $secondary_color;
                                        font-size: 16px;

                                    }
                                }

                                .success_right_area {
                                    float: left;
                                    width: calc(100% - 20px);
                                    padding-left: 5px;

                                    p {
                                        font-size: 12px;
                                        color: $black;
                                        font-weight: 600;
                                        margin-top: 1px;
                                    }
                                }
                            }
                        }
                    }

                    .bottom_area {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        margin-top: -6px;
                    }
                }
            }
        }
    }

}