@import "../base/variable.scss";
@import "../base/mixins.scss";


.listing_side_view {
    float: left;
    width: 100%;

    .listing_side_main_set_wrap {
        padding-top: 60px;

        .subscribe {
            background-color: $checkbox;
            border-radius: 5px;
            padding: 14px 0;
            margin-left: 30px;
            @include clearfix();
            width: 750px;
            max-width: 100%;

            .left {
                width: 350px;
                float: left;

                .form-control {
                    padding-right: 15px !important;
                    border: none;
                    border-left: 0 !important;
                    padding-top: 0;
                    padding-bottom: 0;

                    &::placeholder {
                        font-weight: 400;
                    }
                }
            }

            .right {

                width: calc(100% - 350px);
                float: left;
                position: relative;
            }

            .form_search {
                .form-control {
                    background: transparent;
                    border-radius: 0px;
                    padding-left: 30px;
                    padding-right: 191px !important;
                    padding-top: 0;
                    padding-bottom: 0;
                    border: 0;
                    border-left: 1px solid $border-light;

                    &::placeholder {
                        font-weight: 400;
                        font-size: 14px;
                        color: $offspara;
                    }
                }
                .cross{
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin-right: 174px;
                    margin-top: 3px;
                    display:  block !important;
                    a{
                        i{
                            color: $black;
                            font-size: 20px;
                        }
                    }
                }

            }

            .subscribe_btn {
                position: absolute;
                right: 0;
                top: 0px;
                padding-right: 10px;
                margin-top: 0px;
                margin-right: 20px;

                i {
                    color: $black;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }

        .listing_head_wrap {
            padding-bottom: 30px;
            padding-top: 32px;
            @include clearfix();
            border-top: 1px solid $stroke;
            margin-top: 50px;
            padding-left: 30px;

            .left {
                float: left;

                p {
                    font-size: 18px;
                    font-weight: 500;

                    span {
                        font-weight: 300;
                        padding-left: 5px;
                        color: $offspara;
                    }
                }
            }

            .right {
                float: right;
                margin-right: 20px;

                ul {
                    display: flex;
                    align-items: center;

                    li {
                        display: inline-block;
                        margin-right: 20px;

                        &:last-child {
                            margin-right: 0;
                        }

                        .sort_by_swap {
                            display: flex;
                            align-items: center;
                            @include clearfix();

                            .left {
                                padding-right: 15px;

                                p {
                                    font-size: 14px;
                                }
                            }

                            .right {
                                .dropdown {
                                    .btn-primary {
                                        background-color: $checkbox;
                                        color: $black;
                                        width: auto;
                                        font-weight: 500;
                                        font-size: 14px;
                                        position: relative;
                                        padding: 0px 27px 0 10px;
                                        height: 45px;
                                    }

                                    .dropdown-toggle {
                                        &::after {
                                            border-top-color: $black;
                                            position: absolute;
                                            right: 0;
                                            top: 0;
                                            margin-top: 20px;
                                            margin-right: 10px;
                                            border-width: 6px;
                                        }

                                        &:focus {
                                            box-shadow: none;
                                        }
                                    }
                                }
                            }
                        }

                        .listing_view {
                            background-color: $checkbox;
                            border-radius: 5px;

                            a {
                                background-color: $checkbox;
                                color: $black;
                                padding: 8px 14px;
                                border-radius: 5px;
                                display: inline-block;

                                &:last-child {
                                    border-top-left-radius: 0;
                                    border-bottom-left-radius: 0;
                                }

                                &.active {
                                    background-color: $light-black;

                                    i {
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {

    .listing_side_view {
        .listing_side_main_set_wrap {
            .subscribe {
                width: 550px;

                .left {
                    width: 270px;
                }

                .right {
                    width: calc(100% - 270px);
                }
            }

            .listing_head_wrap {
                margin-top: 40px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .listing_side_view {
        .listing_side_main_set_wrap {
            .subscribe {
                width: 550px;

                .left {
                    width: 270px;
                }

                .right {
                    width: calc(100% - 270px);
                }
            }

            .listing_head_wrap {
                margin-top: 40px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .listing_side_view {
        .listing_side_main_set_wrap {
            padding-top: 30px;

            .subscribe {
                margin-left: 0px;
                width: 340px;

                .left {
                    width: 150px;


                    .form-control {
                        padding-right: 15px !important;
                    }
                }

                .right {
                    width: calc(100% - 150px);
                }

                .form_search {
                    .form-control {
                        padding-left: 10px;
                        padding-right: 50px;


                        &::placeholder {
                            font-size: 14px;
                        }
                    }

                }

                .subscribe_btn {
                    padding-right: 14px;
                    margin-top: 0px;
                    margin-right: 0px;

                    i {
                        font-size: 16px;
                    }
                }
            }

            .listing_head_wrap {
                padding-bottom: 40px;
                padding-top: 20px;
                margin-top: 30px;
                padding-left: 0px;

                .left {
                    float: left;

                    p {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .right {
                    margin-top: 10px;
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }

                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            display: inline-block;
                            margin-right: 20px;

                            &:last-child {
                                margin-right: 0;
                            }

                            .sort_by_swap {
                                display: flex;

                                .left {
                                    padding-right: 10px;

                                    p {
                                        font-size: 14px;
                                    }
                                }

                                .right {
                                    .dropdown {
                                        .btn-primary {
                                            width: 110px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .listing_side_view {
        .listing_side_main_set_wrap {
            padding-top: 30px;

            .subscribe {
                margin-left: 0px;
                width: 340px;

                .left {
                    width: 150px;


                    .form-control {
                        padding-right: 15px !important;
                    }
                }

                .right {
                    width: calc(100% - 150px);
                }

                .form_search {
                    .form-control {
                        padding-left: 10px;
                        padding-right: 50px;


                        &::placeholder {
                            font-size: 14px;
                        }
                    }

                }

                .subscribe_btn {
                    padding-right: 14px;
                    margin-top: 0px;
                    margin-right: 0px;

                    i {
                        font-size: 16px;
                    }
                }
            }

            .listing_head_wrap {
                padding-bottom: 40px;
                padding-top: 20px;
                margin-top: 30px;
                padding-left: 0px;

                .left {
                    float: left;

                    p {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .right {
                    margin-top: 10px;
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }

                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            display: inline-block;
                            margin-right: 20px;

                            &:last-child {
                                margin-right: 0;
                            }

                            .sort_by_swap {
                                display: flex;

                                .left {
                                    padding-right: 10px;

                                    p {
                                        font-size: 14px;
                                    }
                                }

                                .right {
                                    .dropdown {
                                        .btn-primary {
                                            width: 110px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Smaller phones */
@media (max-width: 320px) {
    .listing_side_view {
        .listing_side_main_set_wrap {
            padding-top: 30px;

            .subscribe {
                margin-left: 0px;
                width: 340px;

                .left {
                    width: 150px;


                    .form-control {
                        padding-right: 15px !important;
                    }
                }

                .right {
                    width: calc(100% - 150px);
                }

                .form_search {
                    .form-control {
                        padding-left: 10px;
                        padding-right: 50px;


                        &::placeholder {
                            font-size: 14px;
                        }
                    }

                }

                .subscribe_btn {
                    padding-right: 14px;
                    margin-top: 0px;
                    margin-right: 0px;

                    i {
                        font-size: 16px;
                    }
                }
            }

            .listing_head_wrap {
                padding-bottom: 40px;
                padding-top: 20px;
                margin-top: 30px;
                padding-left: 0px;

                .left {
                    float: left;

                    p {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .right {
                    margin-top: 10px;
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }

                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            display: inline-block;
                            margin-right: 20px;

                            &:last-child {
                                margin-right: 0;
                            }

                            .sort_by_swap {
                                display: flex;

                                .left {
                                    padding-right: 10px;

                                    p {
                                        font-size: 14px;
                                    }
                                }

                                .right {
                                    .dropdown {
                                        .btn-primary {
                                            width: 110px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}