@import "../base/variable.scss";
@import "../base/mixins.scss";


.agent_process_section {
    position: relative;
    padding-bottom: 200px;

    .banner_img {
        float: right;

        .bg_image_area {
            position: absolute;
            top: -34px;
            right: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .agent_process_wrap {
        .agent_left_detail {
            margin-top: 200px;
            padding-right: 50px;
            padding-left: 50px;

            .agent_detail {
                position: relative;

                h1 {
                    font-size: 48px;
                    color: $secondary_color;
                }

                ::after {
                    content: "";
                    position: absolute;
                    top: -24px;
                    left: 2px;
                    width: 110px;
                    height: 15px;
                    background: $primary_color;
                }

                p {
                    font-size: 14px;
                    color: $offspara;
                    margin-top: 20px;
                }

                .btn_area {
                    display: inline-block;
                    margin-top: 30px;

                    .left_area {
                        float: left;

                        a {
                            .btn-primary-2 {
                                width: 140px;
                                height: 50px;
                                font-weight: 500;
                            }
                        }
                    }

                    .right_area {
                        float: right;
                        margin-left: 20px;

                        a {
                            .btn-primary-4 {
                                width: 140px;
                                height: 50px;
                                color: $secondary_color;
                                border: 1px solid $secondary_color;
                                font-weight: 600;
                                text-align: center;
                            }

                            i {
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }

        .agent_right_detail {
            margin-top: 107px;
            margin-left: -32px;

            .image_area {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;

                img {
                    // width: 100%;
                    // height: 100%;
                    // object-fit: cover;
                }
            }
        }
    }

}

.agent_process_left_section {
    position: relative;
    padding-bottom: 150px;

    &::after {
        content: "";
        position: absolute;
        top: -45px;
        left: -20px;
        right: 0;
        width: 102%;
        height: 1px;
        background: $stroke;
        transform: rotate(11deg);
    }


    .banner_img {
        position: relative;

        .bg_image_area {
            position: absolute;
            top: -34px;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .agent_process_wrap {

        .agent_right_text_detail {
            margin-top: 200px;
            padding-left: 50px;

            .heading_wrap_set {

                h1 {
                    &::before {
                        width: 110px;
                        right: -39px;
                    }
                }
            }

        }

        .agent_left_img_detail {
            margin-top: -19px;
            margin-left: 9px;

            .image_area {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
            }
        }

        .agent_left_img_detail_four {
            margin-top: 29px;
            margin-left: -75px;

            .image_area {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.agent_process_right_section {
    position: relative;
    padding-bottom: 150px;

    &::before {
        content: "";
        position: absolute;
        top: -45px;
        left: -20px;
        right: 0px;
        width: 102%;
        height: 1px;
        background: $stroke;
        transform: rotate(-11deg);
    }

    .banner_img {
        float: right;

        .bg_image_area {
            position: absolute;
            top: -34px;
            right: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .agent_process_wrap {
        .agent_left_text_detail {
            margin-top: 200px;
            padding-left: 50px;

            .heading_area {
                .heading_wrap_set {
                    text-align: right !important;

                    h1 {
                        right: 87px;

                        &::before {
                            width: 110px;
                            left: -42px;
                        }
                    }
                }
            }
        }

        .agent_right_img_detail {
            margin-top: 66px;
            margin-left: 0px;

            .image_area {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
            }
        }

        .agent_right_img_detail_five {
            margin-top: 110px;
            margin-left: 0px;

            .image_area {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
            }
        }
    }

}

.join_us_section_agent {
    padding-bottom: 100px;
    padding-top: 0px;

    .get_started_area {
        .background_area {
            position: relative;

            .bg_img_area {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .inner_bg_area {
            position: absolute;
            bottom: 50px;
            left: 0;
            right: 0;

            .bg_img {
                position: relative;
                width: 1080px;
                margin: 0 auto;
                max-width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }

                .inner_detail {
                    display: inline-block;

                    .info_area {
                        position: absolute;
                        top: 50px;
                        left: 155px;
                        float: left;

                        .left_area {
                            width: calc(100% - 280px);

                            h2 {
                                font-size: 48px;
                                color: $white;
                            }

                            p {
                                margin-top: 20px;
                                color: $white;
                                font-size: 14px;
                                font-weight: 400;
                            }

                            .btn_area {
                                margin-top: 20px;
                            }

                        }
                    }

                    .right_area {
                        float: right;
                        width: 280px;

                        .person_img {
                            width: 424px;
                            height: 260px;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            top: 20px;
                            max-width: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}




/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1280px) and (max-width: 1399px) {
    .agent_process_section {
        padding-bottom: 160px;

        .banner_img {
            .bg_image_area {
                top: 69px;

                img {
                    width: 78%;
                    float: right;
                }
            }
        }
    }

    .agent_process_left_section {
        padding-top: 80px;
        padding-bottom: 109px;

        .banner_img {
            .bg_image_area {
                top: -34px;
                left: 0;

                img {
                    width: 70%;
                }
            }
        }

        .agent_process_wrap {
            .agent_right_text_detail {
                margin-top: 85px;
                padding-left: 50px;

                .heading_wrap_set {
                    h1 {
                        &::before {
                            width: 110px;
                            right: -39px;
                        }
                    }
                }

            }

            .agent_left_img_detail {
                margin-top: -47px;
                margin-left: 42px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_left_img_detail_four {
                margin-top: -47px;
                margin-left: 42px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .agent_process_right_section {
        padding-bottom: 150px;
        padding-top: 50px;

        .banner_img {
            .bg_image_area {
                top: -34px;

                img {
                    width: 70%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: 61px;
                padding-left: 2px;

                .heading_area {
                    .heading_wrap_set {
                        h1 {
                            right: 87px;

                            &::before {
                                width: 110px;
                                left: -42px;
                            }
                        }
                    }
                }
            }

            .agent_right_img_detail {
                margin-top: -36px;
                margin-left: -50px;
            }

            .agent_right_img_detail_five {
                margin-top: 6px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }
        }

    }

    .join_us_section_agent {
        padding-top: 80px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .agent_process_section {
        padding-bottom: 160px;

        .banner_img {
            .bg_image_area {
                top: 69px;

                img {
                    width: 57%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_detail {
                margin-top: 170px;

                .agent_detail {
                    h1 {
                        font-size: 38px;
                    }

                    p {
                        margin-top: 16px;
                    }
                }
            }

            .agent_right_detail {
                margin-top: 102px;
                margin-left: -32px;

                .image_area {
                    img {
                        width: 90%;
                    }
                }
            }
        }
    }

    .agent_process_left_section {
        padding-top: 80px;
        padding-bottom: 100px;

        .banner_img {
            .bg_image_area {
                top: -34px;
                left: 0;

                img {
                    width: 50%;
                }
            }
        }

        .agent_process_wrap {
            .agent_right_text_detail {
                margin-top: 7px;
                padding-left: 40px;
                padding-right: 10px;

                .heading_wrap_set {
                    h1 {
                        font-size: 38px;

                        &::before {
                            width: 89px;
                            right: -32px;
                        }
                    }
                }

            }

            .agent_left_img_detail {
                margin-top: -47px;
                margin-left: 42px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_left_img_detail_four {
                margin-top: -47px;
                margin-left: 42px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .agent_process_right_section {
        padding-bottom: 150px;
        padding-top: 50px;

        .banner_img {
            .bg_image_area {
                top: 40px;

                img {
                    width: 50%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: 45px;
                padding-left: 10px;

                .heading_area {
                    .heading_wrap_set {
                        h1 {
                            font-size: 38px;
                            right: 0px;

                            &::before {
                                width: 90px;
                                left: -35px;
                            }
                        }
                    }
                }
            }

            .agent_right_img_detail {
                margin-top: 22px;
                margin-left: 30px;

                .image_area {
                    img {
                        width: 92%;
                    }
                }
            }

            .agent_right_img_detail_five {
                margin-top: 46px;
                margin-left: 29px;

                .image_area {
                    img {
                        width: 87%;
                    }
                }
            }
        }

    }

    .join_us_section_agent {
        padding-top: 80px;
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .agent_process_section {
        padding-bottom: 160px;

        .banner_img {
            .bg_image_area {
                top: 69px;

                img {
                    width: 57%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_detail {
                margin-top: 140px;

                .agent_detail {
                    h1 {
                        font-size: 28px;
                    }

                    p {
                        margin-top: 7px;
                    }

                    .btn_area {
                        .left_area {
                            a {
                                .btn-primary-2 {
                                    width: 120px;

                                }
                            }
                        }

                        .right_area {
                            float: right;
                            margin-left: 10px;

                            a {
                                .btn-primary-4 {
                                    width: 120px;

                                }

                                i {
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }


            }

            .agent_right_detail {
                margin-top: 102px;
                margin-left: -32px;

                .image_area {
                    img {
                        width: 90%;
                    }
                }
            }
        }
    }

    .agent_process_left_section {
        padding-top: 80px;
        padding-bottom: 100px;

        .banner_img {
            .bg_image_area {
                top: -34px;
                left: 0;

                img {
                    width: 78%;
                }
            }
        }

        .agent_process_wrap {
            .agent_right_text_detail {
                margin: 0 auto;
                margin-top: 50px;
                padding-left: 0px;
                padding-right: 0px;

                .heading_wrap_set {
                    &.el {
                        text-align: center !important;

                        p {
                            text-align: center !important;
                            margin: 0 auto;

                        }
                    }

                    .heading_area {
                        margin: 0 auto;
                        text-align: center;

                        h1 {
                            font-size: 38px;

                            &::before {
                                width: 89px;
                                right: -32px;
                            }
                        }


                    }

                }

            }

            .agent_left_img_detail {
                margin-top: -52px;
                margin-left: 95px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_left_img_detail_four {
                margin-top: -47px;
                margin-left: 42px;

                .image_area {
                    img {
                        width: 86%;
                    }
                }
            }
        }
    }

    .agent_process_right_section {
        padding-bottom: 150px;
        padding-top: 50px;

        .banner_img {
            .bg_image_area {
                top: 62px;

                img {
                    width: 85%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: 45px;
                padding-left: 0px;

                .heading_wrap_set {
                    &.el {
                        text-align: center !important;

                        p {
                            text-align: center !important;
                            margin: 0 auto;

                        }

                        h1 {
                            font-size: 38px;
                            right: 0px;

                            &::before {
                                width: 89px;
                                right: -32px;
                            }
                        }
                    }
                }
            }

            .agent_right_img_detail {
                margin-top: 22px;
                margin-left: 30px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_right_img_detail_five {
                margin-top: 100px;
                margin-left: 29px;

                .image_area {
                    img {
                        width: 87%;
                    }
                }
            }
        }

    }

    .join_us_section_agent {
        padding-top: 80px;

        .get_started_area {
            .inner_bg_area {
                position: absolute;
                bottom: 50px;
                left: 0;
                right: 0;

                .bg_img {
                    position: relative;
                    width: 1080px;
                    margin: 0 auto;
                    max-width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }

                    .inner_detail {

                        .info_area {
                            top: 30px;
                            left: 89px;
                            float: left;

                            .left_area {
                                width: 100%;
                                padding-right: 20px;

                                h2 {
                                    font-size: 30px;

                                }

                                p {
                                    margin-top: 5px;
                                    width: 600px;
                                    max-width: 100%;
                                }

                                .btn_area {
                                    margin-top: 10px;
                                }

                            }
                        }

                        .right_area {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .agent_process_section {
        padding-bottom: 160px;

        .banner_img {
            .bg_image_area {
                top: 52px;

                img {
                    width: 93%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_detail {
                margin-top: 80px;
                padding-right: 0px;
                padding-left: 0px;

                .agent_detail {
                    h1 {
                        font-size: 28px;
                    }

                    p {
                        margin-top: 7px;
                    }

                    .btn_area {
                        .left_area {
                            a {
                                .btn-primary-2 {
                                    width: 120px;
                                }
                            }
                        }

                        .right_area {
                            float: right;
                            margin-left: 10px;

                            a {
                                .btn-primary-4 {
                                    width: 120px;

                                }

                                i {
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .agent_right_detail {
                margin-top: 264px;
                margin-left: 18px;
                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .agent_process_left_section {
        padding-top: 80px;
        padding-bottom: 100px;

        .banner_img {
            .bg_image_area {
                top: -34px;
                left: 0;

                img {
                    width: 78%;
                }
            }
        }

        .agent_process_wrap {
            .agent_right_text_detail {
                margin: 0 auto;
                margin-top: 50px;
                padding-left: 0px;
                padding-right: 0px;

                .heading_wrap_set {
                    &.el {
                        text-align: center !important;

                        p {
                            text-align: center !important;
                            margin: 0 auto;

                        }
                    }

                    .heading_area {
                        margin: 0 auto;
                        text-align: center;

                        h1 {
                            font-size: 38px;

                            &::before {
                                width: 89px;
                                right: -34px;
                            }
                        }


                    }

                }

            }

            .agent_left_img_detail {
                margin-top: -52px;
                margin-left: 95px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_left_img_detail_four {
                margin-top: -47px;
                margin-left: 42px;

                .image_area {
                    img {
                        width: 86%;
                    }
                }
            }
        }
    }

    .agent_process_right_section {
        padding-bottom: 150px;
        padding-top: 50px;

        .banner_img {
            .bg_image_area {
                top: -14px;

                img {
                    width: 85%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: 45px;
                padding-left: 0px;

                .heading_wrap_set {
                    &.el {
                        text-align: center !important;

                        p {
                            text-align: center !important;
                            margin: 0 auto;

                        }


                        h1 {
                            font-size: 28px;
                            right: 0px;

                            &::before {
                                width: 89px;
                                right: -34px;
                            }
                        }
                    }
                }
            }

            .agent_right_img_detail {
                margin-top: -14px;
                margin-left: 30px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_right_img_detail_five {
                margin-top: -13px;
                margin-left: 29px;

                .image_area {
                    img {
                        width: 87%;
                    }
                }
            }
        }

    }

    .join_us_section_agent {
        margin: 10px;
        padding: 20px 0;
        background-color: $secondary_color;
        border-radius: 5px;
        border-top: 10px solid $primary_color;
        margin-bottom: 50px;

        .get_started_area {
            .background_area {
                position: unset;

                .bg_img_area {
                    display: none;
                }
            }

            .inner_bg_area {
                position: unset;

                .bg_img {
                    position: unset;

                    img {
                        display: none;

                    }

                    .inner_detail {
                        display: block;

                        .info_area {
                            position: unset;


                            .left_area {
                                width: 100%;

                                h2 {
                                    font-size: 28px;
                                    color: $white;
                                }

                                p {
                                    margin-top: 10px;
                                    color: $white;
                                }

                                .btn_area {
                                    margin-top: 20px;
                                }

                            }
                        }

                        .right_area {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .agent_process_section {
        padding-bottom: 160px;

        .banner_img {
            .bg_image_area {
                top: 52px;

                img {
                    width: 93%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_detail {
                margin-top: 80px;
                padding-right: 0px;
                padding-left: 0px;

                .agent_detail {
                    h1 {
                        font-size: 28px;
                    }

                    p {
                        margin-top: 7px;
                    }

                    .btn_area {
                        .left_area {
                            a {
                                .btn-primary-2 {
                                    width: 120px;
                                }
                            }
                        }

                        .right_area {
                            float: right;
                            margin-left: 10px;

                            a {
                                .btn-primary-4 {
                                    width: 120px;

                                }

                                i {
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .agent_right_detail {
                margin-top: 30px;
                margin-left: 3px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .agent_process_left_section {
        padding-top: 80px;
        padding-bottom: 100px;

        .banner_img {
            .bg_image_area {
                top: -34px;
                left: 0;

                img {
                    width: 78%;
                }
            }
        }

        .agent_process_wrap {
            .agent_right_text_detail {
                margin: 0 auto;
                margin-top: 50px;
                padding-left: 0px;
                padding-right: 0px;

                .heading_wrap_set {
                    &.el {
                        text-align: center !important;

                        p {
                            text-align: center !important;
                            margin: 0 auto;

                        }
                    }

                    .heading_area {
                        margin: 0 auto;
                        text-align: center;

                        h1 {
                            font-size: 38px;

                            &::before {
                                width: 89px;
                                right: -34px;
                            }
                        }


                    }

                }

            }

            .agent_left_img_detail {
                margin-top: -52px;
                margin-left: 95px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_left_img_detail_four {
                margin-top: -47px;
                margin-left: 42px;

                .image_area {
                    img {
                        width: 86%;
                    }
                }
            }
        }
    }

    .agent_process_right_section {
        padding-bottom: 150px;
        padding-top: 50px;

        .banner_img {
            .bg_image_area {
                top: -14px;

                img {
                    width: 85%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: 45px;
                padding-left: 0px;

                .heading_wrap_set {
                    &.el {
                        text-align: center !important;

                        p {
                            text-align: center !important;
                            margin: 0 auto;

                        }


                        h1 {
                            font-size: 28px;
                            right: 0px;

                            &::before {
                                width: 89px;
                                right: -34px;
                            }
                        }
                    }
                }
            }

            .agent_right_img_detail {
                margin-top: -14px;
                margin-left: 30px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_right_img_detail_five {
                margin-top: -13px;
                margin-left: 29px;

                .image_area {
                    img {
                        width: 87%;
                    }
                }
            }
        }

    }

    .join_us_section_agent {
        margin: 10px;
        padding: 20px 0;
        background-color: $secondary_color;
        border-radius: 5px;
        border-top: 10px solid $primary_color;
        margin-bottom: 50px;

        .get_started_area {
            .background_area {
                position: unset;

                .bg_img_area {
                    display: none;
                }
            }

            .inner_bg_area {
                position: unset;

                .bg_img {
                    position: unset;

                    img {
                        display: none;

                    }

                    .inner_detail {
                        display: block;

                        .info_area {
                            position: unset;


                            .left_area {
                                width: 100%;

                                h2 {
                                    font-size: 28px;
                                    color: $white;
                                }

                                p {
                                    margin-top: 10px;
                                    color: $white;
                                }

                                .btn_area {
                                    margin-top: 20px;
                                }

                            }
                        }

                        .right_area {
                            display: none;
                        }
                    }
                }
            }
        }
    }

}

/* Smaller phones */
@media (max-width: 360px) {
    .agent_process_section {
        padding-bottom: 160px;

        .banner_img {
            .bg_image_area {
                top: 52px;

                img {
                    width: 93%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_detail {
                margin-top: 80px;
                padding-right: 0px;
                padding-left: 0px;

                .agent_detail {
                    h1 {
                        font-size: 28px;
                    }

                    p {
                        margin-top: 7px;
                    }

                    .btn_area {
                        .left_area {
                            a {
                                .btn-primary-2 {
                                    width: 120px;
                                }
                            }
                        }

                        .right_area {
                            float: right;
                            margin-left: 10px;

                            a {
                                .btn-primary-4 {
                                    width: 120px;

                                }

                                i {
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .agent_right_detail {
                margin-top: 30px;
                margin-left: 3px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .agent_process_left_section {
        padding-top: 80px;
        padding-bottom: 100px;

        .banner_img {
            .bg_image_area {
                top: -34px;
                left: 0;

                img {
                    width: 78%;
                }
            }
        }

        .agent_process_wrap {
            .agent_right_text_detail {
                margin: 0 auto;
                margin-top: 50px;
                padding-left: 0px;
                padding-right: 0px;

                .heading_wrap_set {
                    &.el {
                        text-align: center !important;

                        p {
                            text-align: center !important;
                            margin: 0 auto;

                        }
                    }

                    .heading_area {
                        margin: 0 auto;
                        text-align: center;

                        h1 {
                            font-size: 38px;

                            &::before {
                                width: 89px;
                                right: -34px;
                            }
                        }


                    }

                }

            }

            .agent_left_img_detail {
                margin-top: -52px;
                margin-left: 95px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_left_img_detail_four {
                margin-top: -47px;
                margin-left: 42px;

                .image_area {
                    img {
                        width: 86%;
                    }
                }
            }
        }
    }

    .agent_process_right_section {
        padding-bottom: 150px;
        padding-top: 50px;

        .banner_img {
            .bg_image_area {
                top: -14px;

                img {
                    width: 85%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: 45px;
                padding-left: 0px;

                .heading_wrap_set {
                    &.el {
                        text-align: center !important;

                        p {
                            text-align: center !important;
                            margin: 0 auto;

                        }


                        h1 {
                            font-size: 28px;
                            right: 0px;

                            &::before {
                                width: 89px;
                                right: -34px;
                            }
                        }
                    }
                }
            }

            .agent_right_img_detail {
                margin-top: -14px;
                margin-left: 30px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_right_img_detail_five {
                margin-top: -13px;
                margin-left: 29px;

                .image_area {
                    img {
                        width: 87%;
                    }
                }
            }
        }

    }

    .join_us_section_agent {
        margin: 10px;
        padding: 20px 0;
        background-color: $secondary_color;
        border-radius: 5px;
        border-top: 10px solid $primary_color;
        margin-bottom: 50px;

        .get_started_area {
            .background_area {
                position: unset;

                .bg_img_area {
                    display: none;
                }
            }

            .inner_bg_area {
                position: unset;

                .bg_img {
                    position: unset;

                    img {
                        display: none;

                    }

                    .inner_detail {
                        display: block;

                        .info_area {
                            position: unset;


                            .left_area {
                                width: 100%;

                                h2 {
                                    font-size: 28px;
                                    color: $white;
                                }

                                p {
                                    margin-top: 10px;
                                    color: $white;
                                }

                                .btn_area {
                                    margin-top: 20px;
                                }

                            }
                        }

                        .right_area {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .agent_process_section {
        padding-bottom: 160px;

        .banner_img {
            .bg_image_area {
                top: 52px;

                img {
                    width: 93%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_detail {
                margin-top: 80px;
                padding-right: 0px;
                padding-left: 0px;

                .agent_detail {
                    h1 {
                        font-size: 28px;
                    }

                    p {
                        margin-top: 7px;
                    }

                    .btn_area {
                        .left_area {
                            a {
                                .btn-primary-2 {
                                    width: 120px;
                                }
                            }
                        }

                        .right_area {
                            float: right;
                            margin-left: 10px;

                            a {
                                .btn-primary-4 {
                                    width: 120px;

                                }

                                i {
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .agent_right_detail {
                margin-top: 30px;
                margin-left: 3px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .agent_process_left_section {
        padding-top: 80px;
        padding-bottom: 100px;

        .banner_img {
            .bg_image_area {
                top: -34px;
                left: 0;

                img {
                    width: 78%;
                }
            }
        }

        .agent_process_wrap {
            .agent_right_text_detail {
                margin: 0 auto;
                margin-top: 50px;
                padding-left: 0px;
                padding-right: 0px;

                .heading_wrap_set {
                    &.el {
                        text-align: center !important;

                        p {
                            text-align: center !important;
                            margin: 0 auto;

                        }
                    }

                    .heading_area {
                        margin: 0 auto;
                        text-align: center;

                        h1 {
                            font-size: 38px;

                            &::before {
                                width: 89px;
                                right: -34px;
                            }
                        }


                    }

                }

            }

            .agent_left_img_detail {
                margin-top: -52px;
                margin-left: 95px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_left_img_detail_four {
                margin-top: -47px;
                margin-left: 42px;

                .image_area {
                    img {
                        width: 86%;
                    }
                }
            }
        }
    }

    .agent_process_right_section {
        padding-bottom: 150px;
        padding-top: 50px;

        .banner_img {
            .bg_image_area {
                top: -14px;

                img {
                    width: 85%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: 45px;
                padding-left: 0px;

                .heading_wrap_set {
                    &.el {
                        text-align: center !important;

                        p {
                            text-align: center !important;
                            margin: 0 auto;

                        }


                        h1 {
                            font-size: 28px;
                            right: 0px;

                            &::before {
                                width: 89px;
                                right: -34px;
                            }
                        }
                    }
                }
            }

            .agent_right_img_detail {
                margin-top: -14px;
                margin-left: 30px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }

            .agent_right_img_detail_five {
                margin-top: -13px;
                margin-left: 29px;

                .image_area {
                    img {
                        width: 87%;
                    }
                }
            }
        }

    }

    .join_us_section_agent {
        margin: 10px;
        padding: 20px 0;
        background-color: $secondary_color;
        border-radius: 5px;
        border-top: 10px solid $primary_color;
        margin-bottom: 50px;

        .get_started_area {
            .background_area {
                position: unset;

                .bg_img_area {
                    display: none;
                }
            }

            .inner_bg_area {
                position: unset;

                .bg_img {
                    position: unset;

                    img {
                        display: none;

                    }

                    .inner_detail {
                        display: block;

                        .info_area {
                            position: unset;


                            .left_area {
                                width: 100%;

                                h2 {
                                    font-size: 28px;
                                    color: $white;
                                }

                                p {
                                    margin-top: 10px;
                                    color: $white;
                                }

                                .btn_area {
                                    margin-top: 20px;
                                }

                            }
                        }

                        .right_area {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}