@import "../base/variable.scss";
@import "../base/mixins.scss";

.breacam_bg {
    .agent_listing {
        background-color: $secondary_color;
        padding-top: 100px;
    }

}

.university_listing_wrap {
    .university_wrap {
        @include clearfix();

        .left_wrap {
            float: left;
            width: calc(100% - 414px);
            @include clearfix();
            padding-bottom: 40px;

            .heading_wrap {
                padding-left: 30px;
                padding-top: 40px;

                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 14px;
                    color: $offspara;
                    padding-top: 20px;
                    padding-right: 200px;
                }
                .video_met{
                    width: 100%;
                    padding-right: 40px;
                }
            }


            .lsiting_show_wrap {
                padding-right: 20px;
                @include clearfix();

                .list_grid {
                    .list_grid_wrap {
                        padding-top: 20px;
                        .listing_box {
                            width: 50%;
                            padding-right: 30px;
                            &:nth-child(even){
                                padding-left: 30px;
                                padding-right: 15px;
                            }
                        }
                    }
                    .load_more_university{
                        float: right;
                        @include clearfix();
                        padding-right: 13px;
                        padding-top: 20px;
                        .btn-primary-1{
                            line-height: 35px;
                        }
                    }
                }
            }
            .View-more{
                @include clearfix();
                padding-bottom: 40px;
                padding-right: 20px;
            }
        }

        .right_area {
            float: right;
            width: 414px;
            position: sticky;
            top: 40px;
            padding-bottom: 40px;

        }
    }
}

.agent_internal_info {
    background-color: $checkbox;

    .detail_area {
        padding-top: 30px;
        padding-left: 240px;

        .box_detail_area {
            
            @include clearfix();
            height: 100%;
            padding-bottom: 30px;

            .box_area {
                border-top: 10px solid $primary_color;
                background-color: $white;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                overflow: hidden;
                padding: 12px 20px;
                height: 100%;
               

                .icon_area {
                    @include clearfix();
                    padding-bottom: 20px;

                    i {
                        background-color: $bg-light;
                        border-radius: 10px;
                        padding: 20px;
                        font-size: 24px;

                    }
                }

                h5 {
                    font-size: 24px;
                    font-weight: 600;
                    padding-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    color: $black;
                    font-weight: 500;
                }
            }

        }
    }
}

.agent_info_wrap {
    .agent_detail_wrap {
        padding-left: 218px;
        position: relative;

        .agent_detail_area {
            .left_area {
                position: absolute;
                left: 0;
                top: 0;

                .image_area {
                    width: 192px;
                    height: 247px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .right_area {
                @include clearfix();
                display: flex;
                align-items: end;
                justify-content: space-between;
                padding-bottom: 20px;

                .left_inn {
                    .rating_area {
                        @include clearfix();

                        .empty-icons {
                            color: $secondary_color;
                            float: left;
                            width: 130px;
                        }

                        svg.star-svg {
                            width: 24px;
                            height: 24px;
                        }

                        .react-simple-star-rating-tooltip {
                            display: inline-block !important;
                            padding: 1px 14px !important;
                            background-color: $secondary_color  !important;
                            color: $yellow  !important;
                            margin-left: 0px !important;
                            vertical-align: middle !important;
                            border-radius: 5px !important;
                            font-size: 14px !important;
                            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.42s);
                        }

                        .rating {
                            font-size: 14px;
                        }
                    }

                    .detail_area {
                        display: inline-block;
                        margin-top: 10px;
                        margin-bottom: 0px;

                        h3 {
                            color: $white;
                            font-size: 24px;
                            font-weight: 500;
                            padding-bottom: 8px;
                        }

                        p {
                            color: $white;
                            font-size: 14px;
                            font-weight: 400;
                            display: inline-block;
                        }
                    }
                }

                .right_inn {
                    float: right;

                    .btn_area {
                        padding-right: 0;
                        padding-bottom: 0px !important;
                        float: right;
                    }
                }
            }
        }
    }
}


/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .breacam_bg {
        .agent_listing {
            padding-top: 60px;
        }
    }

    .agent_info_wrap {
        .agent_detail_wrap {
            padding-left: 212px;

            .agent_detail_area {
                .right_area {
                    .left_inn {
                        .detail_area {
                            h3 {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .agent_internal_info {
        .detail_area {
            .box_detail_area {
                .box_area {
                    padding: 16px 9px;

                    .icon_area {
                        i {
                            padding: 16px;
                            font-size: 22px;
                        }
                    }

                    h5 {
                        font-size: 18px;
                        padding-bottom: 6px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

            }
        }
    }

    .university_listing_wrap {
        .university_wrap {
            .left_wrap {
                width: calc(100% - 370px);

                .heading_wrap {
                    padding-left: 30px;
                    padding-top: 40px;

                    h1 {
                        font-size: 34px;
                    }

                    p {
                        padding-top: 16px;
                        padding-right: 100px;
                    }
                }

                .lsiting_show_wrap {
                    padding-right: 20px;
                    @include clearfix();

                    .list_grid {
                        .list_grid_wrap {
                            .listing_box {
                                width: 50%;
                                padding-right: 15px;
                                padding-left: 15px;
                                &:nth-child(even){
                                    padding-left: 15px;
                                    padding-right: 15px;
                                }
                            }
                        }
                    }
                }
            }

            .right_area {
                float: right;
                width: 370px;

            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .university_listing_wrap {
        .university_wrap {
            .left_wrap {
                width: 100%;
                float: unset;

                .heading_wrap {
                    padding-left: 30px;
                    padding-top: 40px;

                    h1 {
                        font-size: 28px;
                    }

                    p {
                        padding-top: 10px;
                        padding-right: 0px;
                    }
                    .video_met{
                        padding-right: 30px;
                    }
                }

                .lsiting_show_wrap {
                    padding-right: 0px;
                    @include clearfix();

                    .list_grid {
                        .list_grid_wrap {
                            .listing_box {
                                width: 50%;
                                padding-right: 20px;
                                padding-left: 20px;
                                &:nth-child(even){
                                    padding-left: 20px;
                                    padding-right: 20px;
                                }
                            }
                        }
                        .load_more_university{
                            padding-right: 17px;
                        }
                    }
                }
            }

            .right_area {
                width: 100%;
                float: unset;
               position: unset;
            }
        }
    }
    .agent_internal_info{
         .detail_area{
            padding-top: 158px;
            padding-left: 0px;
         }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {

    .breacam_bg {
        .agent_listing {
            padding-top: 50px;
        }

    }

    .agent_info_wrap {
        .agent_detail_wrap {
            padding-left: 190px;

            .agent_detail_area {
                .left_area {
                    .image_area {
                        width: 170px;
                        height: 235px;
                    }
                }

                .right_area {
                    .left_inn {
                        .detail_area {
                            h3 {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }

    .agent_internal_info {
        .detail_area {
            padding-top: 147px;
            padding-left: 0px;

            .box_detail_area {
                margin-bottom: 24px;

                .box_area {
                    padding: 16px 9px;

                    .icon_area {
                        i {
                            padding: 16px;
                            font-size: 22px;
                        }
                    }

                    h5 {
                        font-size: 18px;
                        padding-bottom: 6px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

            }
        }
    }

    .university_listing_wrap {
        .university_wrap {
            .left_wrap {
                float: unset;
                width: 100%;
                padding-bottom: 0;

                .heading_wrap {
                    padding-left: 10px;
                    padding-top: 30px;

                    h1 {
                        font-size: 28px;
                    }

                    p {
                        padding-top: 10px;
                        padding-right: 20px;
                    }
                    .video_met{
                        padding-right: 30px;
                    }
                }
                .View-more{
                    padding-bottom: 0;
                }

                .lsiting_show_wrap {
                    padding-right: 0px;
                    padding-left: 0px !important;
                    @include clearfix();

                    .list_grid {
                        .list_grid_wrap {
                            .listing_box {
                                width: 50%;
                                padding-right: 12px;
                                padding-left: 12px;
                                &:nth-child(even){
                                    padding-left: 12px;
                                    padding-right: 12px;
                                }
                            }
                        }
                    }
                }
            }

            .right_area {
                float: unset;
                width: 100%;
                position: unset;

            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .breacam_bg {
        .agent_listing {
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }

    .agent_info_wrap {
        .agent_detail_wrap {
            padding-top: 170px;
            padding-left: 0px;
            position: relative;

            .agent_detail_area {
                .left_area {
                    position: absolute;
                    left: 0;
                    top: 0;

                    .image_area {
                        width: 150px;
                        height: 150px;
                    }
                }

                .right_area {
                    display: block;
                    padding-bottom: 0px;

                    .left_inn {
                        .rating_area {
                            padding-bottom: 10px;

                            .empty-icons {
                                width: 140px;
                            }
                        }

                        .detail_area {
                            width: 100%;
                            display: unset;
                            margin-top: 10px;
                            margin-bottom: 0px;

                            h3 {
                                color: $white;
                                font-size: 24px;
                                font-weight: 500;
                                padding-bottom: 8px;
                            }

                            p {
                                color: $white;
                                font-size: 14px;
                                font-weight: 400;
                                display: unset;

                            }
                        }
                    }

                    .right_inn {
                        float: unset;


                        .btn_area {
                            padding-right: 0;
                            padding-top: 20px !important;
                            padding-bottom: 0px !important;
                            float: unset;
                        }
                    }
                }
            }
        }
    }

    .university_listing_wrap {
        .university_wrap {
            .left_wrap {
                float: unset;
                width: 100%;
                padding-bottom: 0;

                .heading_wrap {
                    padding-left: 10px;
                    padding-top: 30px;

                    h1 {
                        font-size: 28px;
                    }

                    p {
                        padding-top: 10px;
                        padding-right: 0px;
                    }
                    .video_met{
                        padding-right: 10px;
                        iframe{
                            height: 200px;
                        }
                    }
                }
                .View-more{
                    padding-bottom: 0;
                }

                .lsiting_show_wrap {
                    padding-right: 0px;
                    padding-left: 0px !important;
                    @include clearfix();

                    .list_grid {
                        .list_grid_wrap {
                            .listing_box {
                                width: 100%;
                                padding-right: 12px;
                                padding-left: 12px;
                                &:nth-child(even){
                                    padding-left: 12px;
                                    padding-right: 12px;
                                }
                            }
                        }
                        .load_more_university{
                            .btn-primary-2{
                                width: 141px;
                            }
                        }
                    }
                }
            }

            .right_area {
                float: right;
                width: 100%;
                position: unset;
                padding-bottom: 26px;

            }
        }
    }

    .agent_internal_info {
        .detail_area {
            padding-left: 10px;

            .box_detail_area {
                .box_area {
                    padding: 16px 9px;

                    .icon_area {
                        i {
                            padding: 14px;
                            font-size: 18px;
                        }
                    }

                    h5 {
                        font-size: 16px;
                        padding-bottom: 6px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .breacam_bg {
        .agent_listing {
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }

    .agent_info_wrap {
        .agent_detail_wrap {
            padding-top: 170px;
            padding-left: 0px;
            position: relative;

            .agent_detail_area {
                .left_area {
                    position: absolute;
                    left: 0;
                    top: 0;

                    .image_area {
                        width: 150px;
                        height: 150px;
                    }
                }

                .right_area {
                    display: block;
                    padding-bottom: 0px;

                    .left_inn {
                        .rating_area {
                            padding-bottom: 10px;

                            .empty-icons {
                                width: 140px;
                            }
                        }

                        .detail_area {
                            width: 100%;
                            display: unset;
                            margin-top: 10px;
                            margin-bottom: 0px;

                            h3 {
                                color: $white;
                                font-size: 24px;
                                font-weight: 500;
                                padding-bottom: 8px;
                            }

                            p {
                                color: $white;
                                font-size: 14px;
                                font-weight: 400;
                                display: unset;

                            }
                        }
                    }

                    .right_inn {
                        float: unset;


                        .btn_area {
                            padding-right: 0;
                            padding-top: 20px !important;
                            padding-bottom: 0px !important;
                            float: unset;
                        }
                    }
                }
            }
        }
    }

    .university_listing_wrap {
        .university_wrap {
            .left_wrap {
                float: unset;
                width: 100%;
                padding-bottom: 0;

                .heading_wrap {
                    padding-left: 10px;
                    padding-top: 30px;

                    h1 {
                        font-size: 28px;
                    }

                    p {
                        padding-top: 10px;
                        padding-right: 0px;
                    }
                    .video_met{
                        padding-right: 10px;
                        iframe{
                            height: 200px;
                        }
                    }
                }
                .View-more{
                    padding-bottom: 0;
                }

                .lsiting_show_wrap {
                    padding-right: 0px;
                    padding-left: 0px !important;
                    @include clearfix();

                    .list_grid {
                        .list_grid_wrap {
                            .listing_box {
                                width: 100%;
                                padding-right: 12px;
                                padding-left: 12px;
                                &:nth-child(even){
                                    padding-left: 12px;
                                    padding-right: 12px;
                                }
                            }
                        }
                        .load_more_university{
                            .btn-primary-2{
                                width: 141px;
                            }
                        }
                    }
                }
            }

            .right_area {
                float: right;
                width: 100%;
                position: unset;
                padding-bottom: 26px;

            }
        }
    }

    .agent_internal_info {
        .detail_area {
            padding-left: 10px;

            .box_detail_area {
                .box_area {
                    padding: 16px 9px;

                    .icon_area {
                        i {
                            padding: 14px;
                            font-size: 18px;
                        }
                    }

                    h5 {
                        font-size: 16px;
                        padding-bottom: 6px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

            }
        }
    }

}

/* Smaller phones */
@media (max-width: 320px) {
    .breacam_bg {
        .agent_listing {
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }

    .agent_info_wrap {
        .agent_detail_wrap {
            padding-top: 170px;
            padding-left: 0px;
            position: relative;

            .agent_detail_area {
                .left_area {
                    position: absolute;
                    left: 0;
                    top: 0;

                    .image_area {
                        width: 150px;
                        height: 150px;
                    }
                }

                .right_area {
                    display: block;
                    padding-bottom: 20px;

                    .left_inn {
                        .rating_area {
                            padding-bottom: 10px;

                            .empty-icons {
                                width: 140px;
                            }
                        }

                        .detail_area {
                            width: 100%;
                            display: unset;
                            margin-top: 10px;
                            margin-bottom: 0px;

                            h3 {
                                color: $white;
                                font-size: 24px;
                                font-weight: 500;
                                padding-bottom: 8px;
                            }

                            p {
                                color: $white;
                                font-size: 14px;
                                font-weight: 400;
                                display: unset;

                            }
                        }
                    }

                    .right_inn {
                        float: unset;


                        .btn_area {
                            padding-right: 0;
                            padding-top: 20px !important;
                            padding-bottom: 0px !important;
                            float: unset;
                        }
                    }
                }
            }
        }
    }

    .university_listing_wrap {
        .university_wrap {
            .left_wrap {
                float: left;
                width: 100%;

                .heading_wrap {
                    padding-left: 10px;
                    padding-top: 30px;

                    h1 {
                        font-size: 28px;
                    }

                    p {
                        padding-top: 10px;
                        padding-right: 0px;
                    }
                }

                .lsiting_show_wrap {
                    padding-right: 0px;
                    padding-left: 0px !important;
                    @include clearfix();

                    .list_grid {
                        .list_grid_wrap {
                            .listing_box {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .right_area {
                float: right;
                width: 100%;

            }
        }
    }

    .agent_internal_info {
        .detail_area {
            padding-left: 10px;

            .box_detail_area {
                .box_area {
                    padding: 16px 9px;

                    .icon_area {
                        i {
                            padding: 14px;
                            font-size: 18px;
                        }
                    }

                    h5 {
                        font-size: 16px;
                        padding-bottom: 6px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

            }
        }
    }
}