@import "../base/variable.scss";
@import "../base/mixins.scss";


.banner_section {
    position: relative;
    overflow: hidden;

    .img_area {
        width: 100%;
        height: 615px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .subscribe {
        position: absolute;
        width: 886px;
        max-width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 45%;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
        background-color: $white;
        border-radius: 5px;
        padding: 20px 0;

        .left {
            width: 365px;
            float: left;

            .form-control {
                padding-right: 15px !important;
                border: none;
                border-left: 0 !important;
            }
            .menu{
                position: absolute;
                width: 100%;
                max-height: 246px;
                top: 0;
                margin-top: 57px;
                background-color: $white !important;
                width: 500px;
                @include scrll();
                // div{
                //     background-color: $white !important;
                // }
            }
        }

        .right {
            width: calc(100% - 365px);
            float: left;
            position: relative;
            .menu{
                position: absolute;
                width: 100%;
                max-height: 246px;
                top: 0;
                margin-top: 57px;
                @include scrll();
                background-color: $white !important;
                div{
                    background-color: $white !important;
                    &:hover{
                        background: rgba(180, 236, 185, 0.41) !important;
                    }
                }
            }
        }

        .form_search {
            .form-control {
                background: transparent;
                border-radius: 0px;
                padding-left: 30px;
                padding-right: 182px;
                border: 0;
                border-left: 1px solid $border-light;
                height: auto;

                &::placeholder {
                    font-weight: 500;
                    font-size: 14px;
                    color: $offspara;
                }
            }

        }

        .subscribe_btn {
            position: absolute;
            right: 0;
            top: -7px;
            padding-right: 10px;
        }
    }
}









/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
    .banner_section{
        .subscribe{
            .left{
                .menu{
                    max-height: 207px;
                }
            }
            .right{
                .menu{
                    max-height: 207px;
                }
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
    .banner_section{
        .subscribe{
            .left{
                .menu{
                    max-height: 207px;
                }
            }
            .right{
                .menu{
                    max-height: 207px;
                }
            }
        }
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .banner_section{
        .subscribe{
            .left{
                .menu{
                    max-height: 207px;
                }
            }
            .right{
                .menu{
                    max-height: 207px;
                }
            }
        }
    }
}
/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1399px) {
    .banner_section{
        .img_area{
            height: 500px;
        }
        .subscribe{
            top: 36%;
            .left{
                .menu{
                    max-height: 200px;
                }
            }
            .right{
                .menu{
                    max-height: 200px;
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .banner_section {
        .img_area{
            height: 420px;
        }
        .subscribe {
            width: 730px;
            top: 38%;
            padding: 16px 0;

            .left {
                width: 315px;
                .menu{
                    max-height: 158px;
                }
            }

            .right {
                width: calc(100% - 315px);
                .menu{
                    max-height: 158px;
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .banner_section {
        .img_area{
            height: 370px;
        }
        .subscribe {
            width: 600px;
            top: 43%;
            padding: 14px 0;

            .left {
                width: 240px;
                .menu{
                    max-height: 123px;
                    width: 370px;
                }
            }

            .right {
                width: calc(100% - 240px);
                .menu{
                    max-height: 123px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .banner_section {
        .img_area{
            height: 300px;
        }

        .subscribe {
            width: 600px;
            top: 34%;
            padding: 14px 0;

            .left {
                width: 240px;
                .menu{
                    max-height: 111px;
                    width: 370px;
                }
            }

            .right {
                width: calc(100% - 240px);
                .menu{
                    max-height: 111px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .banner_section {
        .img_area{
            height: 200px;
        }

        .subscribe {
            width: 340px;
            top: 31%;
            padding: 5px 0;

            .left {
                width: 160px;
                float: left;
                .menu{
                    max-height: 77px;
                    width: 340px;
                    margin-top: 43px;
                }
            }

            .right {
                position: relative;
                width: calc(100% - 160px);
                .menu{
                    max-height: 77px;
                    margin-top: 43px;
                   
                }

                .form-control {
                    padding-right: 40px !important;
                }


                // &::after {
                //     position: absolute;
                //     color: $white;
                //     content: "\f002" !important;
                //     font-family: 'Font Awesome 5 Pro' !important;
                //     color: $secondary_color;
                //     font-size: 16px;
                //     line-height: 36px;
                //     transition: (0.2s ease);
                //     top: 0;
                //     right: 0;
                //     margin-right: 18px;
                // }
                .subscribe_btn{
                    .mobile_search{
                        border: none;
                        outline: none;
                        box-shadow: none;
                        background-color: transparent;
                        margin-top: 13px;
                    }
                }
            }

            .form_search {
                .form-control {
                    padding-left: 14px;
                    padding-right: 10px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .banner_section {
        .img_area{
            height: 200px;
        }

        .subscribe {
            width: 340px;
            top: 31%;
            padding: 5px 0;

            .left {
                width: 160px;
                float: left;
                .menu{
                    max-height: 77px;
                    width: 340px;
                    margin-top: 43px;
                }
            }

            .right {
                position: relative;
                width: calc(100% - 160px);
                .menu{
                    max-height: 77px;
                    margin-top: 43px;
                }

                .form-control {
                    padding-right: 40px !important;
                }


                // &::after {
                //     position: absolute;
                //     color: $white;
                //     content: "\f002" !important;
                //     font-family: 'Font Awesome 5 Pro' !important;
                //     color: $secondary_color;
                //     font-size: 16px;
                //     line-height: 36px;
                //     transition: (0.2s ease);
                //     top: 0;
                //     right: 0;
                //     margin-right: 18px;
                // }
                .subscribe_btn{
                    .mobile_search{
                        border: none;
                        outline: none;
                        box-shadow: none;
                        background-color: transparent;
                        margin-top: 13px;
                    }
                }
            }

            .form_search {
                .form-control {
                    padding-left: 14px;
                    padding-right: 10px;
                }
            }
        }
    }

}

/* Smaller phones */
@media (max-width: 320px) {
    .banner_section {
        height: 200px;

        .subscribe {
            width: 300px;
            top: 38%;
            padding: 5px 0;

            .left {
                width: 160px;
                float: left;


            }

            .right {
                position: relative;
                width: calc(100% - 160px);

                .form-control {
                    padding-right: 40px !important;
                }


                &::after {
                    position: absolute;
                    color: $white;
                    content: "\f002" !important;
                    font-family: 'Font Awesome 5 Pro' !important;
                    color: $secondary_color;
                    font-size: 16px;
                    line-height: 36px;
                    transition: (0.2s ease);
                    top: 0;
                    right: 0;
                    margin-right: 18px;
                }
            }

            .form_search {
                .form-control {
                    padding-left: 14px;
                    padding-right: 10px;
                }
            }
        }
    }
}