@import "../base/variable.scss";
@import "../base/mixins.scss";



.cms_banner_area {
    .bg_area {
        background-color: $secondary_color;
        width: 100%;
        height: 200px;

        &.ul {
            height: 252px;
        }

        .heading_area {
            padding-top: 80px;

            h1 {
                text-align: center;
                font-size: 48px;
                font-weight: 500;
                color: $white;
            }

            h2 {
                text-align: center;
                font-size: 24px;
                margin-top: 16px;
                font-weight: 500;
                color: $white;
            }
        }
    }
}





/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .cms_banner_area {
        .bg_area {
            height: 110px;

            .heading_area {
                padding-top: 26px;

                h1 {
                    font-size: 30px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .cms_banner_area {
        .bg_area {
            height: 110px;

            .heading_area {
                padding-top: 28px;

                h1 {
                    font-size: 28px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {

    .cms_banner_area {
        .bg_area {
            height: 110px;

            .heading_area {
                padding-top: 28px;

                h1 {
                    font-size: 28px;
                }
            }
        }
    }

}

/* Smaller phones */
@media (max-width: 320px) {
    .cms_banner_area {
        .bg_area {
            height: 110px;

            .heading_area {
                padding-top: 28px;

                h1 {
                    font-size: 28px;
                }
            }
        }
    }
}