@import "../base/variable.scss";
@import "../base/mixins.scss";


.contactus_area {
    .contact_wrap {
        margin-bottom: 40px;
        @include clearfix();

        .detail_area {
            @include clearfix();
            display: flex;
            align-items: center;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

            .left_area {
                position: relative;
                float: left;
                width: 50%;

                .image_area {
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .inner_detail_area {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 60px;

                    h2 {
                        color: $white;
                        font-size: 36px;
                    }

                    p {
                        font-size: 14px;
                        color: $white;
                        font-weight: 400;
                        margin-top: 14px;
                        word-break: break-word;
                    }
                }
            }

            .right_area {
                padding: 60px;
                float: right;
                width: calc(100% - 50%);
                background-color: $white;

                .inner_area {
                    .input_fields_area {
                        form {
                            .form_search {
                                margin-bottom: 15px;

                                textarea {
                                    height: auto !important;
                                }

                                p {
                                    &.valid-helper {
                                        color: $red;
                                        font-size: 12px;
                                    }
                                }

                                .form-control {
                                    height: 50px;
                                    background: $checkbox;
                                    border-radius: 5px;
                                    padding-left: 30px;
                                    border: none;

                                    &::placeholder {
                                        font-weight: 500;
                                        font-size: 14px;
                                        color: $offspara;
                                    }
                                }

                                .form-label {
                                    font-size: 14px;

                                }
                            }
                        }

                    }
                }

                .message_area {
                    .box_area {
                        .message_detail_area {
                            .icon_area {
                                background-color: $primary-color;
                                width: 100px;
                                height: 100px;
                                border-radius: 100%;
                                margin: 0 auto;
                                text-align: center;
                                justify-content: center;
                                display: flex;
                                align-items: center;

                                i {
                                    font-size: 30px;
                                }
                            }

                            h2 {
                                font-size: 40px;
                                color: $secondary_color;
                                margin-top: 50px;
                            }

                            .btn_area {
                                margin-top: 50px;
                            }
                        }
                    }
                }
            }

            .btn_area {
                margin-top: 22px;
            }
        }
    }

    .map_area {
        margin-bottom: 260px;
        @include clearfix();

        .detail_map_area {
            position: relative;

            .image_area {
                width: 100%;
                height: 100%;
                overflow: hidden;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .inner_detail_area {
                position: absolute;
                top: 20%;
                bottom: 100px;
                left: 0;
                padding-left: 60px;

                h2 {
                    font-size: 36px;
                    font-weight: 600;
                }

                p {
                    font-size: 14px;
                    margin-top: 20px;
                    word-break: break-word;
                }

                .contact_info {
                    margin-top: 70px;

                    .contact_inner_info {
                        @include clearfix();

                        .detail_info {
                            display: flex;
                            margin: 0 auto;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 30px;

                            .left_icon {
                                width: 60px;
                                float: left;

                                a {
                                    i {
                                        margin-right: 30px;
                                        width: 48px;
                                        height: 40px;
                                        text-align: center;
                                        border-radius: 5px;
                                        background-color: $secondary_color;
                                        color: $white;
                                        font-size: 16px;
                                        line-height: 40px;
                                    }

                                }
                            }

                            .right_text {
                                width: calc(100% - 60px);
                                float: left;
                                padding-left: 20px;

                                a {
                                    p {
                                        color: $secondary_color;
                                        font-size: 16px;
                                        margin-top: 0;
                                        display: inline-block;
                                        word-break: break-word;
                                    }
                                }

                            }
                        }


                    }
                }
            }
        }
    }
}




/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .contactus_area {
        .contact_wrap {
            .detail_area {
                .left_area {
                    .inner_detail_area {
                        padding: 30px;
                    }
                }

                .right_area {
                    padding: 28px;
                }
            }
        }

        .map_area {
            margin-bottom: 150px;

            .detail_map_area {
                .inner_detail_area {
                    top: 14%;
                }
            }
        }
    }
}



/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .contactus_area {
        .contact_wrap {
            margin-bottom: 40px;

            .detail_area {
                display: unset;

                .left_area {
                    float: unset;
                    width: 100%;

                    .inner_detail_area {
                        padding: 60px;

                        h2 {
                            font-size: 36px;
                        }

                        p {
                            margin-top: 14px;
                        }
                    }
                }

                .right_area {
                    padding: 40px 0px 0px 0px;
                    float: unset;
                    width: 100%;
                }

            }
        }


        .map_area {
            margin-bottom: 150px;

            .detail_map_area {
                .inner_detail_area {
                    top: 10%;

                    h2 {
                        font-size: 30px;
                    }

                    p {
                        margin-top: 10px;
                    }

                    .contact_info {
                        margin-top: 28px;


                    }
                }
            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .contactus_area {
        .contact_wrap {
            margin-bottom: 40px;

            .detail_area {
                display: unset;

                .left_area {
                    position: relative;
                    float: unset;
                    width: 100%;



                    .inner_detail_area {
                        padding: 40px;

                        h2 {
                            font-size: 28px;
                        }

                        p {
                            margin-top: 6px;
                        }
                    }
                }

                .right_area {
                    padding: 40px 0px 0px 0px;
                    float: unset;
                    width: 100%;
                }
            }
        }

        .map_area {
            margin-bottom: 150px;

            .detail_map_area {
                position: relative;

                .inner_detail_area {
                    position: absolute;
                    top: 8%;
                    bottom: 100px;
                    left: 0;
                    padding-left: 20px;

                    h2 {
                        font-size: 28px;
                    }

                    p {
                        font-size: 14px;
                        margin-top: 5px;
                    }

                    .contact_info {
                        margin-top: 10px;

                        .contact_inner_info {
                            .detail_info {
                                margin-bottom: 20px;

                                .left_icon {
                                    width: 40px;
                                    float: left;

                                    a {
                                        i {
                                            margin-right: 30px;
                                            width: 48px;
                                            height: 40px;
                                            text-align: center;
                                            border-radius: 5px;
                                            background-color: $secondary_color;
                                            color: $white;
                                            font-size: 16px;
                                            line-height: 40px;
                                        }

                                    }
                                }

                                .right_text {
                                    width: calc(100% - 40px);
                                    float: left;
                                    padding-left: 20px;
                                    padding-right: 20px;

                                    a {
                                        p {
                                            color: $secondary_color;
                                            font-size: 16px;
                                            margin-top: 0;
                                            display: inline-block;
                                        }
                                    }

                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .contactus_area {
        .contact_wrap {
            margin-bottom: 40px;

            .detail_area {
                display: unset;

                .left_area {
                    position: relative;
                    float: unset;
                    width: 100%;



                    .inner_detail_area {
                        padding: 20px;

                        h2 {
                            font-size: 20px;
                        }

                        p {
                            margin-top: 6px;
                        }
                    }
                }

                .right_area {
                    padding: 40px 0px 0px 0px;
                    float: unset;
                    width: 100%;

                    .inner_area {
                        .input_fields_area {
                            .form_search {
                                .form-control {
                                    padding-left: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .map_area {
            margin-bottom: 30px;
            background-color: $primary-color;
            border-radius: 5px;
            padding: 20px;

            .detail_map_area {
                position: unset;

                .inner_detail_area {
                    position: unset;
                    top: 10%;
                    left: 0;
                    padding-left: 0px;

                    h2 {
                        font-size: 24px;

                    }

                    p {
                        font-size: 14px;
                        margin-top: 5px;
                    }

                    .contact_info {
                        margin-top: 20px;

                        .contact_inner_info {
                            .detail_info {
                                margin-bottom: 20px;

                                &:last-child {
                                    margin-bottom: 0px;
                                }

                                .left_icon {
                                    width: 40px;
                                    float: left;

                                    a {
                                        i {
                                            margin-right: 30px;
                                            width: 48px;
                                            height: 40px;
                                            font-size: 16px;
                                            line-height: 40px;
                                        }

                                    }
                                }

                                .right_text {
                                    width: calc(100% - 40px);
                                    float: left;
                                    padding-left: 20px;
                                    padding-right: 20px;

                                    a {
                                        p {
                                            font-size: 16px;
                                            margin-top: 0;
                                        }
                                    }

                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .contactus_area {
        .contact_wrap {
            margin-bottom: 40px;

            .detail_area {
                display: unset;

                .left_area {
                    position: relative;
                    float: unset;
                    width: 100%;

                    .inner_detail_area {
                        padding: 20px;

                        h2 {
                            font-size: 20px;
                        }

                        p {
                            margin-top: 6px;
                        }
                    }
                }

                .right_area {
                    padding: 40px 0px 0px 0px;
                    float: unset;
                    width: 100%;

                    .inner_area {
                        .input_fields_area {
                            .form_search {
                                .form-control {
                                    padding-left: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .map_area {
            margin-bottom: 30px;
            background-color: $primary-color;
            border-radius: 5px;
            padding: 20px;

            .detail_map_area {
                position: unset;

                .inner_detail_area {
                    position: unset;
                    top: 10%;
                    left: 0;
                    padding-left: 0px;

                    h2 {
                        font-size: 24px;

                    }

                    p {
                        font-size: 14px;
                        margin-top: 5px;
                    }

                    .contact_info {
                        margin-top: 20px;

                        .contact_inner_info {
                            .detail_info {
                                margin-bottom: 20px;

                                &:last-child {
                                    margin-bottom: 0px;
                                }

                                .left_icon {
                                    width: 40px;
                                    float: left;

                                    a {
                                        i {
                                            margin-right: 30px;
                                            width: 48px;
                                            height: 40px;
                                            font-size: 16px;
                                            line-height: 40px;
                                        }

                                    }
                                }

                                .right_text {
                                    width: calc(100% - 40px);
                                    float: left;
                                    padding-left: 20px;
                                    padding-right: 20px;

                                    a {
                                        p {
                                            font-size: 16px;
                                            margin-top: 0;
                                        }
                                    }

                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .contactus_area {
        .contact_wrap {
            margin-bottom: 40px;

            .detail_area {
                display: unset;

                .left_area {
                    position: relative;
                    float: unset;
                    width: 100%;



                    .inner_detail_area {
                        padding: 20px;

                        h2 {
                            font-size: 20px;
                        }

                        p {
                            margin-top: 6px;
                        }
                    }
                }

                .right_area {
                    padding: 40px 0px 0px 0px;
                    float: unset;
                    width: 100%;

                    .inner_area {
                        .input_fields_area {
                            .form_search {
                                .form-control {
                                    padding-left: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .map_area {
            margin-bottom: 30px;
            background-color: $primary-color;
            border-radius: 5px;
            padding: 20px;

            .detail_map_area {
                position: unset;

                .inner_detail_area {
                    position: unset;
                    top: 10%;
                    left: 0;
                    padding-left: 0px;

                    h2 {
                        font-size: 24px;

                    }

                    p {
                        font-size: 14px;
                        margin-top: 5px;
                    }

                    .contact_info {
                        margin-top: 20px;

                        .contact_inner_info {
                            .detail_info {
                                margin-bottom: 20px;

                                &:last-child {
                                    margin-bottom: 0px;
                                }

                                .left_icon {
                                    width: 40px;
                                    float: left;

                                    a {
                                        i {
                                            margin-right: 30px;
                                            width: 48px;
                                            height: 40px;
                                            font-size: 16px;
                                            line-height: 40px;
                                        }

                                    }
                                }

                                .right_text {
                                    width: calc(100% - 40px);
                                    float: left;
                                    padding-left: 20px;
                                    padding-right: 20px;

                                    a {
                                        p {
                                            font-size: 16px;
                                            margin-top: 0;
                                        }
                                    }

                                }
                            }
                        }

                    }
                }
            }
        }
    }
}