@import "../base/variable.scss";
@import "../base/mixins.scss";

.courses_area {
    .inner_area {
        .box_area {
            width: 100%;
            @include clearfix();
            height: 100%;
            display: block;
            background-color: $white;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            overflow: hidden;

            .heading_area {
                background: linear-gradient(101.56deg, #B4ECB9 -19.36%, #86DD8D 118.07%);
                padding: 20px 24px;

                h5 {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            .scrll_list_met{
                max-height: 600px;
                overflow-y: auto;
                overflow-x: hidden;
                position: relative;
                @include scrll();
            }

            .courses_info_area {
                &:last-child {
                    .course_slide {
                        &:last-child {
                            padding-bottom: 30px;
                        }
                    }
                }
                .sub_heading_area {
                    background: #FFF;
                    z-index: 9;
                    position: sticky;
                    top: -1px;
                    border-bottom: 1px solid $black;
                    border-top: 1px solid $black;
                    h6 {
                        padding: 10px 24px;
                        font-size: 14px;
                    }
                }

                .course_slide {
                    max-height: 450px;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        width: 8px;
                        border-radius: 10px;
                        background-color: $secondary-color;
                    }

                    &::-webkit-scrollbar-track {
                        border-radius: 8px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: $stroke;
                        border-radius: 8px;
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background: $stroke;
                    }

                    .course_detail {
                        padding: 24px 28px;
                        border-bottom: 1px solid $stroke;

                        &:last-child {
                            border: none;
                        }

                        h4 {
                            position: relative;
                            font-size: 18px;

                            &::before {
                                position: absolute;
                                content: "";
                                left: 0;
                                top: 0;
                                background-color: $secondary-color;
                                bottom: 0;
                                width: 20px;
                                height: 10px;
                                border-radius: 10px;
                                padding: 0px 0px;
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                margin-top: 5px;
                                margin-left: -28px;
                            }
                        }

                        p {
                            margin-top: 12px;
                            font-size: 14px;
                            color: $offspara;
                        }

                        .inner_detail {
                            margin-top: 16px;
                            border-radius: 6px;
                            padding: 10px;
                            @include clearfix();
                            background-color: $bg-light;
                            border-left: 10px solid $primary_color;
                            display: flex;
                            align-items: center;


                            .icon_area {
                                text-align: center;
                                padding-left: 4px;
                                float: left;

                                i {
                                    font-size: 20px;
                                }
                            }

                            .text_area {
                                float: left;
                                padding-left: 12px;

                                p {
                                    text-align: center;
                                    margin-top: 0px;
                                    font-size: 12px;
                                    color: $black;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .courses_area {
        padding-bottom: 60px;
        padding-top: 10px;
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {

    .courses_area {
        padding-bottom: 60px;
        padding-top: 10px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .courses_area {
        padding-bottom: 60px;
        padding-top: 10px;
        margin-top: 20px;

        .inner_area {
            .box_area {
                .heading_area {
                    h5 {
                        font-size: 16px;
                    }
                }

                .courses_info_area {
                    .course_slide {
                        .course_detail {
                            h4 {
                                font-size: 16px;
                            }

                            .inner_detail {
                                .icon_area {
                                    i {
                                        font-size: 18px;
                                    }
                                }

                                .text_area {
                                    padding-left: 10px;

                                    p {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .courses_area {
        padding-bottom: 60px;
        padding-top: 10px;
        margin-top: 20px;

        .inner_area {
            .box_area {
                .heading_area {
                    h5 {
                        font-size: 16px;
                    }
                }

                .courses_info_area {
                    .course_slide {
                        .course_detail {
                            h4 {
                                font-size: 16px;
                            }

                            .inner_detail {
                                .icon_area {
                                    i {
                                        font-size: 18px;
                                    }
                                }

                                .text_area {
                                    padding-left: 10px;

                                    p {
                                        text-align: start;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .btn-primary-2 {
        width: 100px;
    }

    .courses_area {
        padding-bottom: 60px;
        padding-top: 10px;
        margin-top: 20px;

        .inner_area {
            .box_area {
                .heading_area {
                    h5 {
                        font-size: 16px;
                    }
                }

                .courses_info_area {
                    .course_slide {
                        .course_detail {
                            h4 {
                                font-size: 16px;
                            }

                            .inner_detail {
                                .icon_area {
                                    i {
                                        font-size: 18px;
                                    }
                                }

                                .text_area {
                                    padding-left: 10px;

                                    p {
                                        text-align: start;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .courses_area {
        padding-bottom: 60px;
        padding-top: 10px;

        .inner_area {
            .box_area {
                .heading_area {
                    h5 {
                        font-size: 16px;
                    }
                }

                .courses_info_area {
                    .course_slide {
                        .course_detail {
                            h4 {
                                font-size: 16px;
                            }

                            .inner_detail {
                                .icon_area {
                                    i {
                                        font-size: 18px;
                                    }
                                }

                                .text_area {
                                    padding-left: 10px;

                                    p {
                                        text-align: start;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}