@import "../base/variable.scss";
@import "../base/mixins.scss";


.error_area {
    text-align: center;

    .detail_area {
        .image_area {
            width: 100%;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}