@import "../base/variable.scss";
@import "../base/mixins.scss";



.faq_section {
    padding-bottom: 180px;

    .faq_wrap {
        .left_wrap {
            @include clearfix();
            top: 98px;

            .image_area {
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail_wrap {
                position: absolute;
                top: 0;
                left: 0;
                padding: 32px;

                h1 {
                    font-size: 30px;
                    color: $white;
                    margin-top: 10px;
                }

                p {
                    font-size: 14px;
                    color: $white;
                    margin-top: 20px;
                    font-weight: 400;
                }

                .btn_area {
                    margin-top: 26px;

                    .btn-primary-4 {
                        width: 160px;
                    }
                }
            }
        }

        .right_wrap {
            .faq_detail_area {
                .accordion {
                    .accordion-item {
                        margin-bottom: 12px;
                        border-radius: 5px;
                        border: none;
                        background-color: $bg-light;


                        h2 {
                            .accordion-button {
                                background-color: $secondary_color;
                                border-radius: 5px;
                                padding: 23px 30px;
                                color: $white;
                                font-weight: 300;
                                font-size: 16px;
                                box-shadow: none;
                                position: relative;
                                box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(142, 142, 192, 0.05) 0px 8px 32px;

                                &:after {
                                    display: none;
                                }

                                &:before {
                                    position: absolute;
                                    content: '\f068';
                                    font-family: 'Font Awesome 5 Pro';
                                    font-weight: 500;
                                    top: 0px;
                                    right: -80px;
                                    background-color: $secondary_color;
                                    width: 66px;
                                    height: 66px;
                                    text-align: center;
                                    line-height: 66px;
                                    border-radius: 5px;
                                    color: $white;
                                }

                                &.collapsed {
                                    &:before {
                                        content: '\f067';
                                    }
                                }
                            }
                        }

                        .accordion-collapse {
                            .accordion-body {
                                padding: 40px;
                                color: $offspara;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1280px) and (max-width: 1399px) {
    .faq_section {
        .faq_wrap {
            .right_wrap {
                .faq_detail_area {
                    .accordion {
                        .accordion-item {
                            width: 690px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .faq_section {
        .faq_wrap {
            .right_wrap {
                .faq_detail_area {
                    .accordion {
                        .accordion-item {
                            width: 578px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .faq_section {
        padding-bottom: 120px;
        padding-left: 10px;
        padding-right: 10px;

        .faq_wrap {
            .left_wrap {
                position: unset;
                background-color: $secondary_color;
                border-radius: 5px;

                .image_area {
                    display: none;
                }

                .detail_wrap {
                    position: unset;
                }
            }

            .right_wrap {
                margin-top: 30px;

                .faq_detail_area {
                    .accordion {
                        .accordion-item {
                            width: 643px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .faq_section {
        padding-bottom: 120px;
        padding-left: 10px;
        padding-right: 10px;

        .faq_wrap {
            .left_wrap {
                position: unset;
                background-color: $secondary_color;
                border-radius: 5px;

                .image_area {
                    display: none;
                }

                .detail_wrap {
                    position: unset;
                }
            }

            .right_wrap {
                margin-top: 30px;

                .faq_detail_area {
                    .accordion {
                        .accordion-item {
                            width: 515px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .faq_section {
        padding-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;

        .faq_wrap {
            .left_wrap {
                position: unset;
                background-color: $secondary_color;
                border-radius: 5px;

                .image_area {
                    display: none;
                }

                .detail_wrap {
                    position: unset;
                    padding: 20px;

                    h1 {
                        font-size: 20px;
                        margin-top: 10px;
                    }

                    p {
                        font-size: 14px;
                        margin-top: 12px;

                    }
                }


            }

            .right_wrap {
                margin-top: 30px;

                .faq_detail_area {
                    .accordion {
                        .accordion-item {
                            width: 255px;

                            h2 {
                                .accordion-button {
                                    border-radius: 5px;
                                    padding: 17px 12px;
                                    font-size: 14px;
                                }
                            }

                            .accordion-collapse {
                                .accordion-body {
                                    padding: 12px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .faq_section {
        padding-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;

        .faq_wrap {
            .left_wrap {
                position: unset;
                background-color: $secondary_color;
                border-radius: 5px;

                .image_area {
                    display: none;
                }

                .detail_wrap {
                    position: unset;
                    padding: 20px;

                    h1 {
                        font-size: 20px;
                        margin-top: 10px;
                    }

                    p {
                        font-size: 14px;
                        margin-top: 12px;

                    }
                }


            }

            .right_wrap {
                margin-top: 30px;

                .faq_detail_area {
                    .accordion {
                        .accordion-item {
                            width: 255px;

                            h2 {
                                .accordion-button {
                                    border-radius: 5px;
                                    padding: 17px 12px;
                                    font-size: 14px;
                                }
                            }

                            .accordion-collapse {
                                .accordion-body {
                                    padding: 12px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .faq_section {
        padding-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;

        .faq_wrap {
            .left_wrap {
                position: unset;
                background-color: $secondary_color;
                border-radius: 5px;

                .image_area {
                    display: none;
                }

                .detail_wrap {
                    position: unset;
                    padding: 20px;

                    h1 {
                        font-size: 20px;
                        margin-top: 10px;
                    }

                    p {
                        font-size: 14px;
                        margin-top: 12px;

                    }
                }


            }

            .right_wrap {
                margin-top: 30px;

                .faq_detail_area {
                    .accordion {
                        .accordion-item {
                            width: 220px;

                            h2 {
                                .accordion-button {
                                    border-radius: 5px;
                                    padding: 17px 12px;
                                    font-size: 14px;
                                }
                            }

                            .accordion-collapse {
                                .accordion-body {
                                    padding: 12px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}