@import "../base/variable.scss";
@import "../base/mixins.scss";



.footer_section {
    background-color: $secondary_color;
    padding-top: 80px;
    padding-bottom: 192px;

    .logo_side_wrap {
        .logo_side {
            a {
                display: block;

                img {
                    width: 200px;
                }
            }
        }

        .content {
            padding-top: 31px;

            p {
                color: $white;
                width: 350px;
                max-width: 100%;
            }
        }

        .social_link {
            padding-top: 30px;

            ul {
                li {
                    display: inline-block;
                    padding-right: 30px;

                    &:last-child {
                        padding-right: 0;
                    }

                    a {
                        i {
                            color: $white;
                            font-size: 18px;
                            transition: 0.2s ease;
                        }
                        &:hover{
                            i{
                                color: $primary-color;
                                transition: 0.2s ease;
                            }
                        }
                    }
                }
            }
        }
    }

    .support_links {
        .head {
            h6 {
                font-weight: 500;
                font-size: 18px;
                color: $white;
            }
        }

        ul {
            padding-top: 60px;

            li {
                padding-bottom: 20px;

                &:last-child {
                    padding-bottom: 0;
                }

                a {
                    color: rgba(255, 255, 255, 0.8);
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}

.copy_right {
    background-color: $black-2;
    text-align: center;
    padding: 32px 0;

    p {
        color: rgba(255, 255, 255, 0.8);

        a {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}









/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .footer_section {
        padding-bottom: 88px;
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .footer_section {
        padding-bottom: 88px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .footer_section {
        padding-top: 45px;
        padding-bottom: 60px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .footer_section {
        padding-top: 45px;
        padding-bottom: 30px;
        .logo_side_wrap {
            .social_link {
                padding-top: 30px;
            }
        }

        .support_links {
            .head {
                padding-top: 50px;
            }

            ul {
                padding-top: 30px;
            }
        }
    }
    .copy_right{
        padding: 13px 8px;
        p{
           font-size: 14px;
        }
   }
}

/* Smaller phones */
@media (max-width: 360px) {
    .footer_section {
        padding-top: 45px;
        padding-bottom: 30px;
        .logo_side_wrap {
            .social_link {
                padding-top: 30px;
            }
        }

        .support_links {
            .head {
                padding-top: 50px;
            }

            ul {
                padding-top: 30px;
            }
        }
    }
    .copy_right{
        padding: 13px 8px;
        p{
           font-size: 14px;
        }
   }
}

/* Smaller phones */
@media (max-width: 320px) {
    .footer_section {
        .logo_side_wrap {
            .social_link {
                padding-top: 30px;
            }
        }

        .support_links {
            .head {
                padding-top: 50px;
            }

            ul {
                padding-top: 30px;
            }
        }
    }
}