@import "../base/variable.scss";
@import "../base/mixins.scss";

.get_started_section {
    padding-bottom: 100px;
    padding-top: 100px;

    .get_started_area {
        .background_area {
            position: relative;

            .bg_img_area {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .inner_bg_area {
            position: absolute;
            bottom: 50px;
            left: 0;
            right: 0;

            .bg_img {
                position: relative;
                width: 1080px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }

                .inner_detail {
                    display: inline-block;

                    .info_area {
                        position: absolute;
                        top: 50px;
                        left: 155px;
                        float: left;



                        .left_area {
                            width: calc(100% - 249px);

                            h2 {
                                font-size: 48px;
                                color: $white;
                            }

                            p {
                                margin-top: 20px;
                                color: $white;
                                font-size: 14px;
                                font-weight: 400;
                            }

                            .btn_area {
                                margin-top: 20px;

                                a {

                                    .btn-primary-4 {}
                                }
                            }

                        }
                    }

                    .right_area {
                        float: right;
                        width: 249px;

                        .person_img {
                            width: 249px;
                            height: 411px;
                            position: absolute;
                            right: 128px;
                            bottom: 38px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .get_started_section {
        padding-top: 280px;

        .get_started_area {
            .inner_bg_area {
                .bg_img {
                    width: 100%;

                    .inner_detail {
                        .info_area {
                            top: 41px;
                            left: 118px;
                            float: left;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .get_started_section {
        padding-bottom: 80px;
        padding-top: 220px;

        .get_started_area {
            .inner_bg_area {
                bottom: 30px;

                .bg_img {
                    width: 100%;

                    .inner_detail {
                        .info_area {
                            top: 34px;
                            left: 88px;

                            .left_area {
                                width: calc(100% - 240px);

                                h2 {
                                    font-size: 24px;
                                }

                                p {
                                    margin-top: 6px;
                                }

                                .btn_area {
                                    margin-top: 10px;
                                }

                            }
                        }

                        .right_area {
                            width: 240px;

                            .person_img {
                                width: 211px;
                                height: 349px;
                                right: 66px;
                                bottom: 34px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .get_started_section {
        padding-bottom: 0px;
        padding-top: 90px;

        .get_started_area {
            .inner_bg_area {
                bottom: 30px;

                .bg_img {
                    width: 100%;

                    .inner_detail {
                        .info_area {
                            top: 20px;
                            left: 77px;

                            .left_area {
                                width: calc(100% - 160px);

                                h2 {
                                    font-size: 20px;
                                }

                                p {
                                    margin-top: 6px;
                                }

                                .btn_area {
                                    margin-top: 10px;

                                    a {
                                        .btn-primary-4 {
                                            width: 120px;
                                            height: 44px;
                                            line-height: 41px;
                                        }
                                    }

                                }

                            }
                        }

                        .right_area {
                            width: 160px;

                            .person_img {
                                width: 118px;
                                height: 196px;
                                right: 50px;
                                bottom: 33px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .get_started_section {
        .get_started_area {
            .inner_bg_area {
                bottom: 30px;

                .bg_img {
                    width: 100%;
                    height: 210px;

                    .inner_detail {
                        .info_area {
                            top: 30px;
                            left: 16px;

                            .left_area {
                                width: 100%;


                                h2 {
                                    font-size: 16px;
                                }

                                p {
                                    margin-top: 6px;
                                    font-size: 14px;
                                }

                                .btn_area {
                                    margin-top: 10px;
                                }

                            }
                        }

                        .right_area {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .get_started_section {
        padding-top: 150px;
        padding-bottom: 60px;

        .get_started_area {
            .inner_bg_area {
                bottom: 30px;

                .bg_img {
                    width: 100%;
                    height: 210px;

                    .inner_detail {
                        .info_area {
                            top: 30px;
                            left: 16px;

                            .left_area {
                                width: 100%;


                                h2 {
                                    font-size: 16px;
                                }

                                p {
                                    margin-top: 6px;
                                    font-size: 14px;
                                }

                                .btn_area {
                                    margin-top: 10px;
                                }

                            }
                        }

                        .right_area {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .get_started_section {
        .get_started_area {
            .inner_bg_area {
                bottom: 30px;

                .bg_img {
                    width: 100%;
                    height: 210px;

                    .inner_detail {
                        .info_area {
                            top: 30px;
                            left: 16px;

                            .left_area {
                                width: 100%;


                                h2 {
                                    font-size: 16px;
                                }

                                p {
                                    margin-top: 6px;
                                    font-size: 14px;
                                }

                                .btn_area {
                                    margin-top: 10px;
                                }

                            }
                        }

                        .right_area {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}