@import "../base/variable.scss";
@import "../base/mixins.scss";

.header_section {
    background-color: $secondary_color;
    padding: 10px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    &.dashboard{
         .head_area{
             padding-left: 44px;
             padding-right: 20px;
             .left_area{
                width: 470px;
             }
             .right_area{
                 width: calc(100% - 470px);
             }
         }
    }

    .head_area {
        display: flex;
        align-items: center;

        .left_area {
            float: left;
            width: 360px;

            .logo_area {
                width: 200px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .right_area {
            width: calc(100% - 360px);
            float: right;

            ul {
                float: right;
                li {
                    display: inline-block;

                    a {
                        color: $white;
                        font-size: 14px;
                        font-weight: 300;

                        i {
                            color: $white;
                            font-size: 20px;
                            margin-right: 50px;
                        }

                    }


                    &.dot {
                        position: relative;
                        top: 0;
                        padding-left: 40px;

                        i {
                            color: $white;
                            font-size: 20px;
                            margin-right: 50px;

                            &::after {
                                position: absolute;
                                content: "";
                                width: 12px;
                                height: 12px;
                                margin-left: -9px;
                                margin-top: -4px;
                                border-radius: 50%;
                                background-color: $primary_color;
                            }
                        }
                    }

                    &.search_icon {
                        i {
                            color: $white;
                            font-size: 20px;
                            margin-right: 30px;
                        }
                    }

                    &.menus {
                        margin-right: 60px;
                        position: relative;
                        @include clearfix();

                        &::after {
                            position: absolute;
                            content: "";
                            background: transparent;
                            left: 0;
                            right: 0;
                            bottom: -20px;
                            width: 40px;
                            height: 5px;
                            margin: 0 auto;
                            @include transition(0.5s ease);
                        }

                        &.active {
                            &::after {
                                background-color: $primary_color;
                                @include transition(0.5s ease);
                            }
                        }

                        &:hover {
                            &::after {
                                background-color: $primary_color;
                                @include transition(0.5s ease);
                            }
                        }
                    }
                    &.user{
                        a{
                            display: flex;
                            align-items: center;
                        }
                        span{
                            padding-left: 15px;
                        }
                        .img_area{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            overflow: hidden;
                            display: inline-block;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    &.btn{
                        padding: 0;
                    }
                }
            }
        }
    }
}








/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .header_section{
        .head_area{
            .right_area{
                ul{
                    li{
                        &.menus{
                            margin-right: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1280px) and (max-width: 1399px) {
    .header_section {
        .head_area {
            .left_area {
                width: 300px;
            }

            .right_area {
                width: calc(100% - 300px);
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .header_section {
        .head_area {
            .left_area {
                width: 250px;

                .logo_area {
                    width: 150px;
                }
            }

            .right_area {
                width: calc(100% - 250px);

                ul {
                    li {
                        i {
                            font-size: 16px;
                            margin-right: 30px;
                        }

                        &.dot {
                            padding-left: 0px;

                            i {
                                font-size: 16px;
                                margin-right: 40px;

                                &::after {
                                    width: 10px;
                                    height: 10px;
                                }
                            }
                        }

                        &.search_icon {
                            i {
                                font-size: 16px;
                                margin-right: 20px;
                            }
                        }

                        &.menus {
                            margin-right: 40px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .header_section {
        .head_area {
            .left_area {
                .logo_area {
                    width: 160px;
                }
            }

            .right_area {
                ul {
                    &.phone {
                        li {
                            float: right;

                            i {
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .header_section {
        .head_area {
            .left_area {
                .logo_area {
                    width: 110px;
                }
            }

            .right_area {
                ul {
                    &.phone {
                        li {
                            float: right;

                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .header_section {
        .head_area {
            .left_area {
                .logo_area {
                    width: 90px;
                }
            }

            .right_area {
                ul {
                    &.phone {
                        li {
                            float: right;

                            i {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .header_section {
        .head_area {
            .left_area {
                .logo_area {
                    width: 100px;
                }
            }

            .right_area {
                ul {
                    &.phone {
                        li {
                            float: right;

                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .header_section {
        .head_area {
            .left_area {
                .logo_area {
                    width: 100px;
                }
            }

            .right_area {
                ul {
                    &.phone {
                        li {
                            float: right;

                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}