@import "../base/variable.scss";
@import "../base/mixins.scss";

.newswrap {
    background: linear-gradient(91.36deg, #B4ECB9 10.54%, #9CE6A2 102.75%);
    padding: 60px 0;

    .head_label {}

    .subscribe {
        position: relative;
        width: 500px;
        max-width: 100%;
        margin-left: auto;

        .form_search {
            .form-control {
                height: 70px;
                background: $white;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                padding-left: 30px;
                padding-right: 182px;

                &::placeholder {
                    font-weight: 500;
                    font-size: 14px;
                    color: $offspara;
                }
            }

        }

        .subscribe_btn {
            position: absolute;
            right: 0;
            top: 0;
            padding-right: 10px;
            padding-top: 10px;
        }
    }
}

.heading_wrap_set {
    text-align: center;

    &.el {
        p {
            margin: unset;
        }
    }

    h1 {
        position: relative;
        display: inline-block;
        z-index: 2;

        &::before {
            position: absolute;
            content: "";
            width: 168px;
            height: 15px;
            background-color: $primary_color;
            right: -83px;
            bottom: 11px;
            z-index: -1;
        }
    }

    p {
        padding-top: 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
        color: $offspara;
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .heading_wrap_set {
        h1 {
            font-size: 44px;

            &::before {
                width: 166px;
                height: 12px;
            }
        }

    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .heading_wrap_set {
        h1 {
            font-size: 38px;

            &::before {
                position: absolute;
                content: "";
                width: 168px;
                height: 15px;
                background-color: $primary_color;
                right: -83px;
                bottom: 11px;
                z-index: -1;
            }


        }

    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .newswrap {
        padding: 25px 0;
        .head_label {
            padding-bottom: 20px;
            h1 {
                font-size: 28px;
            }
        }
        .subscribe {
            width: 600px;
        }
    }

    .heading_wrap_set {
        h1 {
            font-size: 30px;

            &::before {
                width: 96px;
                height: 8px;
                right: -28px;
                bottom: 8px;
            }
        }

    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .newswrap {
        padding: 20px 0;
        .head_label {
            padding-bottom: 20px;

            h1 {
                font-size: 25px;
            }
        }

        .subscribe {
            width: 100%;
            .form_search{
                 .form-control{
                    padding-right: 115px;
                 }
            }
        }
    }

    .heading_wrap_set {
        h1 {
            font-size: 28px;

            &::before {
                width: 96px;
                height: 8px;
                right: -28px;
                bottom: 8px;
            }
        }

    }
    .get_started_section {
        padding-bottom: 40px;
        padding-top: 150px;
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .newswrap {
        padding: 20px 0;
        .head_label {
            padding-bottom: 20px;

            h1 {
                font-size: 25px;
            }
        }

        .subscribe {
            width: 100%;
            .form_search{
                 .form-control{
                    padding-right: 115px;
                 }
            }
        }
    }

    .heading_wrap_set {
        h1 {
            font-size: 28px;

            &::before {
                width: 96px;
                height: 8px;
                right: -28px;
                bottom: 8px;
            }
        }

    }
    .get_started_section {
        padding-bottom: 40px;
        padding-top: 150px;
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .newswrap {
        padding: 40px 0;

        .head_label {
            padding-bottom: 20px;

            h1 {
                font-size: 32px;
            }
        }

        .subscribe {
            width: 600px;

            .form_search {
                .form-control {
                    padding-left: 20px;
                    padding-right: 124px;

                    &::placeholder {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .heading_wrap_set {
        h1 {
            font-size: 28px;

            &::before {
                width: 96px;
                height: 8px;
                right: -28px;
                bottom: 8px;
            }
        }

    }
}