@import "../base/variable.scss";
@import "../base/mixins.scss";


.scroll_slider_area {
    padding-top: 90px;
    padding-bottom: 200px;

    .scroll_wrap {
        .react-horizontal-scrolling-menu--scroll-container {
            display: flex;
            // overflow-y: hidden;
            overflow: hidden;
            
        }
    }
}


.left_arrow {
    margin-right: 10px;

    .arrow_bg {
        position: relative;
        background-color: $secondary_color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

        &::after {
            position: absolute;
            color: $white;
            content: "\f177" !important;
            font-family: 'Font Awesome 5 Pro' !important;
            font-size: 26px;
            line-height: 50px;
            transition: (0.2s ease);
            top: 0;
            right: 0;
            left: 0;
            text-align: center;
        }
    }
}


.right_arrow {
    margin-left: 10px;

    .arrow_bg {
        position: relative;
        background-color: $secondary_color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;

        &::after {
            position: absolute;
            color: $white;
            content: "\f178" !important;
            font-family: 'Font Awesome 5 Pro' !important;
            font-size: 26px;
            line-height: 50px;
            transition: (0.2s ease);
            top: 0;
            right: 0;
            left: 0;
            text-align: center;
        }
    }
}

.card {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    border-color: transparent;
    background-color: transparent;
}