@import "../base/variable.scss";
@import "../base/mixins.scss";

.cms_banner_area {
    .searching_area {
        margin-top: -36px;

        .Search_bar {
            position: relative;
            width: 856px;
            max-width: 100%;
            margin: 0 auto;

            .form_search {
                .form-control {
                    height: 70px;
                    background: $white;
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
                    border-radius: 5px;
                    padding-left: 30px;
                    padding-right: 182px;
                    border-color: transparent;

                    &::placeholder {
                        font-weight: 500;
                        font-size: 18px;
                        color: $offspara;
                    }

                }
            }

            .subscribe_btn {
                position: absolute;
                right: 0;
                top: 0;
                padding-right: 10px;
                padding-top: 10px;
            }
        }
    }

    .slider_area {
        margin-top: -30px;

        .light_bg_area {
            background-color: $bg-light;
            width: 100%;
            height: 183px;
        }
    }

}

.knowledge_base_detail_section {
    padding-top: 100px;
    padding-bottom: 100px;

    .knowledge_wrap {
        .left_wrap {
            .top_detail_area {
                .tags_area {
                    margin-left: 0px;
                    margin: 10px;

                    ul {
                        margin-left: -32px !important;

                        li {
                            display: inline-block;
                            margin-right: -18px;
                            padding: 4px 16px;
                            border-radius: 5px;
                            background: rgba(180, 236, 185, 0.5);
                            border: 1px solid $primary_color;
                            text-align: center;
                            margin-bottom: 10px;

                            ::before {
                                display: none;
                                margin-left: 0;
                            }

                            p {
                                font-size: 12px;
                                margin-top: 0;
                                margin-bottom: 0;
                            }
                        }
                    }
                }


                h1 {
                    padding-top: 20px;
                    font-size: 48px;
                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                    color: $secondary_color;
                }



                .image_area {
                    width: 747px;
                    height: 323px;
                    border: 1px solid $stroke;
                    margin-top: 40px;
                    margin-bottom: 40px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                // p {
                //     margin-top: 15px;
                //     font-size: 18px;
                //     padding-bottom: 40px;
                //     font-weight: 500;
                //     color: $secondary_color;
                //     font-style: italic;
                // }


                h5 {
                    position: relative;
                    font-size: 18px;
                    color: $secondary_color;
                    font-weight: 600;
                    margin-left: 30px;
                    margin-top: 40px;
                }

                ::before {
                    position: absolute;
                    content: "";
                    background: $secondary_color;
                    left: -17px;
                    top: 10px;
                    width: 6px;
                    height: 6px;
                    border-radius: 6px;
                    margin: 0 auto;
                    transition: 0.5s ease;
                }

                p {
                    font-size: 14px;
                    margin-top: 20px;
                    font-weight: 500;
                    color: $offspara;
                }

                ul {
                    li {
                        margin-left: 30px;

                        p {
                            position: relative;
                            font-size: 14px;
                            margin-top: 20px;
                            font-weight: 500;
                            color: $offspara;
                        }

                        ::before {
                            position: absolute;
                            content: "";
                            background: $offspara;
                            left: -16px;
                            top: 8px;
                            width: 4px;
                            height: 4px;
                            border-radius: 4px;
                            margin: 0 auto;
                            transition: 0.5s ease;
                        }
                    }
                }
            }

        }

        .right_wrap {
            .detail_area {
                h1 {
                    font-size: 48px;
                    font-weight: 600;
                    margin-bottom: 30px;
                }

                .border_box_area {
                    border: 1px solid $stroke;
                    border-radius: 5px;
                    padding: 20px;
                    margin-bottom: 10px;

                    h6 {
                        font-size: 18px;
                        color: $secondary_color;
                        font-weight: 600;
                    }

                    .border_des {
                        p {
                            margin-top: 8px;
                            font-size: 14px;
                            color: $offspara;
                        }
                    }


                    .read_more {
                        margin-top: 8px;

                        a {
                            p {
                                font-size: 14px;
                                color: $secondary_color  !important;
                                font-weight: 700;

                                i {
                                    color: $secondary_color;
                                    margin-left: 5px;
                                }
                            }

                        }
                    }
                }
            }

            .bottom_tags_area {
                margin-top: 40px;

                .tags_detail {
                    ul {
                        li {
                            display: inline-block;
                            margin-right: 10px;
                            margin-bottom: 10px;

                            a {
                                border: 1px solid $secondary_color;
                                border-radius: 30px;
                                padding: 14px 30px;
                                background-color: transparent;
                                display: flex;
                                color: $secondary_color;

                                p {
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

.knowledge_base_section {
    padding-bottom: 120px;

    .knowledge_base_wrap {


        .detail_area {
            width: 856px;
            max-width: 100%;
            margin: 0 auto;

            .border_box_area {
                border: 1px solid $stroke;
                border-radius: 5px;
                padding: 20px;
                margin-bottom: 20px;

                &.shadow {
                    background-color: $white;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                    border: none;
                }

                .tags_area {
                    ul {

                        li {
                            display: inline-block;
                            margin-right: 10px;
                            padding: 4px 16px;
                            border-radius: 5px;
                            background: rgba(180, 236, 185, 0.5);
                            border: 1px solid $primary_color;
                            text-align: center;
                            margin-bottom: 10px;

                            ::before {
                                display: none;
                                margin-left: 0;
                            }

                            p {
                                font-size: 12px;
                                color: $secondary_color;
                                margin-top: 0;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                h6 {
                    font-size: 18px;
                    color: $secondary_color;
                    font-weight: 600;
                }

                p {
                    margin-top: 8px;
                    font-size: 14px;
                    color: $offspara;
                }

                .read_more {
                    margin-top: 8px;

                    a {
                        p {
                            font-size: 14px;
                            color: $secondary_color;
                            font-weight: 600;

                            i {
                                color: $secondary_color;
                                margin-left: 5px;
                            }
                        }

                    }
                }
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1280px) and (max-width: 1399px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .knowledge_base_detail_section {
        padding-top: 80px;
        padding-bottom: 100px;

        .knowledge_wrap {
            .left_wrap {
                .top_detail_area {

                    h1 {
                        padding-top: 16px;
                        font-size: 40px;
                    }

                    p {
                        font-size: 16px;
                    }

                    .image_area {
                        height: 348px !important;
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }

                    h5 {
                        font-size: 16px;
                        margin-top: 20px;
                    }

                    p {
                        margin-top: 10px;
                    }
                }
            }

            .right_wrap {
                .detail_area {
                    margin-top: 30px;

                    h1 {
                        font-size: 40px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .knowledge_base_detail_section {
        padding-top: 80px;
        padding-bottom: 100px;

        .knowledge_wrap {
            .left_wrap {
                .top_detail_area {

                    h1 {
                        padding-top: 16px;
                        font-size: 40px;
                    }

                    p {
                        font-size: 16px;
                    }

                    .image_area {
                        height: 348px !important;
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }

                    h5 {
                        font-size: 16px;
                        margin-top: 20px;
                    }

                    p {
                        margin-top: 10px;
                    }
                }
            }

            .right_wrap {
                .detail_area {
                    margin-top: 30px;

                    h1 {
                        font-size: 40px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .knowledge_base_detail_section {
        padding-top: 80px;
        padding-bottom: 100px;

        .knowledge_wrap {
            .left_wrap {
                .top_detail_area {

                    h1 {
                        padding-top: 16px;
                        font-size: 40px;
                    }

                    p {
                        font-size: 16px;
                    }

                    .image_area {
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }

                    h5 {
                        font-size: 16px;
                        margin-top: 20px;
                    }

                    p {
                        margin-top: 10px;
                    }
                }
            }

            .right_wrap {
                .detail_area {
                    margin-top: 30px;

                    h1 {
                        font-size: 40px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .knowledge_base_detail_section {
        padding-top: 40px;

        .knowledge_wrap {
            .left_wrap {
                .top_detail_area {

                    h1 {
                        padding-top: 10px;
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }

                    .image_area {
                        width: 100%;
                        height: 154px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }

                    h5 {
                        font-size: 14px;
                        margin-left: 26px;
                        margin-top: 12px;
                    }

                    p {
                        font-size: 14px;
                        margin-top: 10px;
                    }

                    ul {
                        li {
                            margin-left: 24px;
                        }
                    }


                }

            }

            .right_wrap {
                .detail_area {
                    margin-top: 30px;

                    h1 {
                        font-size: 24px;
                        margin-bottom: 14px;
                    }

                    .border_box_area {
                        padding: 10px;

                        h6 {
                            font-size: 16px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }

                .bottom_tags_area {
                    margin-top: 24px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .knowledge_base_detail_section {
        padding-top: 40px;

        .knowledge_wrap {
            .left_wrap {
                .top_detail_area {

                    h1 {
                        padding-top: 10px;
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }

                    .image_area {
                        width: 100%;
                        height: 154px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }

                    h5 {
                        font-size: 14px;
                        margin-left: 26px;
                        margin-top: 12px;
                    }

                    p {
                        font-size: 14px;
                        margin-top: 10px;
                    }

                    ul {
                        li {
                            margin-left: 24px;
                        }
                    }


                }

            }

            .right_wrap {
                .detail_area {
                    margin-top: 30px;

                    h1 {
                        font-size: 24px;
                        margin-bottom: 14px;
                    }

                    .border_box_area {
                        padding: 10px;

                        h6 {
                            font-size: 16px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }

                .bottom_tags_area {
                    margin-top: 24px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {

    .knowledge_base_detail_section {
        padding-top: 40px;

        .knowledge_wrap {
            .left_wrap {
                .top_detail_area {

                    h1 {
                        padding-top: 10px;
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }

                    .image_area {
                        width: 100%;
                        height: 154px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }

                    h5 {
                        font-size: 14px;
                        margin-left: 26px;
                        margin-top: 12px;
                    }

                    p {
                        font-size: 14px;
                        margin-top: 10px;
                    }

                    ul {
                        li {
                            margin-left: 24px;
                        }
                    }


                }

            }

            .right_wrap {
                .detail_area {
                    margin-top: 30px;

                    h1 {
                        font-size: 24px;
                        margin-bottom: 14px;
                    }

                    .border_box_area {
                        padding: 10px;

                        h6 {
                            font-size: 14px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }

                .bottom_tags_area {
                    margin-top: 24px;
                }
            }
        }
    }
}