@import "../base/variable.scss";
@import "../base/mixins.scss";


.slider_detail {
    position: relative;
    margin-top: 40px;
    padding-bottom: 0px;

    .slider-wrapper {
        .slick-arrow {
            color: $white  !important;
            background-color: $secondary-color;
            position: absolute;
            right: 0;
            top: 0% !important;
            margin-top: 223px;
            z-index: 4;
            padding: 24px 80px;
            transform: rotate(90deg);

            &.slick-prev {
                left: unset;
                right: -103px;
                border-radius: 5px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                margin-top: 308px;

                &::before {
                    color: $white  !important;
                    content: "\f177" !important;
                    font-family: 'Font Awesome 5 Pro' !important;
                    color: $secondary_color;
                    font-size: 18px;
                    padding-top: 0px;
                    font-weight: 600;
                    line-height: 0;
                    transition: (0.2s ease);
                }

                &:hover {
                    background-color: $primary-color;
                    transition: (0.2s ease);

                    &::before {
                        color: $secondary-color  !important;
                        transition: (0.2s ease);
                    }
                }
            }

            &.slick-next {
                left: unset;
                right: -103px;
                border-radius: 5px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin-top: 476px !important;
                border-bottom-right-radius: 0;


                &::before {
                    color: $white  !important;
                    content: "\f178" !important;
                    font-family: 'Font Awesome 5 Pro' !important;
                    font-size: 18px;
                    padding-top: 0px;
                    font-weight: 600;
                    line-height: 0;
                    transition: (0.2s ease);
                }

                &:hover {
                    background-color: $primary-color;
                    transition: (0.2s ease);

                    &::before {
                        color: $secondary-color  !important;
                        transition: (0.2s ease);
                    }
                }
            }
        }

        .slick-list {
            .slick-slide {
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    right: 0;
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
                    bottom: 0;
                    width: 100%;
                    height: 70px;
                }
                .video-react-controls-enabled{
                    width: 100%;
                    height: 580px;
                    object-fit: cover;
                    position: relative;
                    z-index: 4;
                    padding: unset !important;
                    .video-react-video{
                        object-fit: cover;
                    }
                }

                .slick-slide-image {
                    width: 100%;
                    height: 580px;
                    object-fit: cover;

                }

                .slick-slide-label {
                    z-index: 2;
                    position: absolute;
                    bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 30px;
                    padding-left: 200px;
                    padding-right: 200px;
                    text-align: center;
                    color: $white;
                }

                .slick-slide-title {
                    position: absolute;
                    bottom: 0%;
                    margin-bottom: 81px;
                    font-size: 24px;
                    font-weight: 500;
                    left: 0;
                    right: 0;
                    text-align: center;
                    color: $white;
                    z-index: 2;
                }

                .fa-bookmark {
                    position: absolute;
                    background: rgba(255, 255, 255, 0.5);
                    padding: 13px 16px;
                    color: $secondary-color;
                    font-size: 20px;
                    top: 0;
                    right: 0;
                    border-radius: 5px;
                    margin-top: 18px;
                    margin-right: 18px;
                }
            }
        }

        .thumbnail-slider-wrap {
            position: absolute;
            left: 0px;
            top: 12%;
            width: 111px;
            margin-bottom: 20px;
            margin-left: -38px;
            .slick-track{
                padding-left: 6px;
            }
            .slick-slide {
            float: unset;

                &::after {
                    content: none;
                }

                &.slick-current {
                    img {
                        border: 5px solid $primary-color;
                    }
                }

                img {
                    width: 90px !important;
                    height: 90px !important;
                    object-fit: cover;
                    margin-bottom: 20px;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                    border: 2px solid $white;
                    border-radius: 5px;
                }
            }
        }
    }
}







/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .slider_detail{
         .slider-wrapper{
             .thumbnail-slider-wrap{
                margin-left: -44px;
             }
             .slick-arrow{
                margin-top: 120px;
                &.slick-next{
                    margin-top: 446px !important;
                }
                &.slick-prev{
                    margin-top: 277px !important;
                }
             }
             .slick-list{
                .slick-slide{
                    .slick-slide-image{
                       height: 550px;
                    }
                }
           }
        }
    }
}



/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1399px) {
    .slider_detail{
        .slider-wrapper{
            .thumbnail-slider-wrap{
               margin-left: -51px;
            }
            .slick-arrow{
               margin-top: 120px;
               &.slick-next{
                   margin-top: 446px !important;
               }
               &.slick-prev{
                   margin-top: 277px !important;
               }
            }
            .slick-list{
               .slick-slide{
                   .slick-slide-image{
                      height: 550px;
                   }
               }
          }
       }
   }
}



/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .slider_detail {
        .slider-wrapper {
            .slick-arrow {
                right: 0;
                bottom: 0;
                top: unset;
                top: 0;
                transform: none;

                &.slick-prev {
                    left: unset;
                    right: 160px;
                    top: unset !important;
                    bottom: -47px !important;
                    border-radius: 5px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 5px;

                    &::before {
                        font-size: 18px;
                        padding-top: 0px;
                        font-weight: 600;
                        line-height: 0;
                    }
                }

                &.slick-next {
                    left: unset;
                    right: 0px;
                    bottom: -47px !important;
                    top: unset !important;
                    border-radius: 5px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 5px;

                    &::before {
                        font-size: 18px;
                        padding-top: 0px;
                        font-weight: 600;
                        line-height: 0;
                    }
                }
            }

            .slick-list {
                .slick-slide {
                    .slick-slide-image {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .slick-slide-label {
                        margin-bottom: 20px;
                        padding-left: 120px;
                        padding-right: 120px;
                    }

                    .slick-slide-title {
                        font-size: 24px;
                    }
                }
            }

            .thumbnail-slider-wrap {
                left: 0;
                margin-bottom: 20px;
                margin-top: 20px;
                margin-left: 19px;
                .slick-slide {
                    float: unset;
                    img {
                        width: 100px !important;
                        height: 100px !important;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {

    .slider_detail {
        .slider-wrapper {
            .slick-arrow {
                right: 0;
                bottom: 0;
                top: unset;
                top: 0;
                transform: none;

                &.slick-prev {
                    left: unset;
                    right: 160px;
                    top: unset !important;
                    bottom: -47px !important;
                    border-radius: 5px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 5px;

                    &::before {
                        font-size: 18px;
                        padding-top: 0px;
                        font-weight: 600;
                        line-height: 0;
                    }
                }

                &.slick-next {
                    left: unset;
                    right: 0px;
                    top: unset !important;
                    bottom: -47px !important;
                    border-radius: 5px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 5px;

                    &::before {
                        font-size: 18px;
                        padding-top: 0px;
                        font-weight: 600;
                        line-height: 0;
                    }
                }
            }

            .slick-list {
                .slick-slide {
                    .slick-slide-image {
                        height: 465px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .video-react-controls-enabled{
                        height: 465px;
                    }

                    .slick-slide-label {
                        margin-bottom: 20px;
                        padding-left: 90px;
                        padding-right: 90px;

                    }

                    .slick-slide-title {
                        font-size: 22px;
                    }
                }
            }

            .thumbnail-slider-wrap {
                left: 0;
                margin-bottom: 20px;
                margin-top: 20px;
                margin-left: 19px;
                .slick-slide {
                    float: unset;

                    img {
                        width: 80px !important;
                        height: 80px !important;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .slider_detail {
        .slider-wrapper {
            .slick-arrow {
                background-color: transparent;
                position: unset;
                display: none !important;

                &.slick-prev {
                    background-color: transparent;
                    position: unset;
                    display: none !important;

                    &::before {
                        background-color: transparent;
                        display: none !important;
                    }
                }

                &.slick-next {
                    position: unset;
                    background-color: transparent;
                    display: none !important;

                    &::before {
                        background-color: transparent;
                        position: unset;
                        display: none !important;
                    }
                }
            }

            .slick-list {
                .slick-slide {
                    position: relative;
                    .slick-slide-image{
                        height: 356px;
                    }
                    .video-react-controls-enabled{
                        height: 356px;
                    }

                    &::after {
                        width: 100%;
                        height: 120px;
                    }

                    .slick-slide-label {
                        margin-bottom: 20px;
                        padding-left: 20px;
                        padding-right: 20px;
                    }

                    .slick-slide-title {
                        font-size: 26px;
                    }

                    .fa-bookmark {
                        padding: 14px 18px;
                        font-size: 16px;
                        margin-top: 14px;
                        margin-right: 14px;
                    }
                }
            }

            .thumbnail-slider-wrap {
                position: absolute;
                left: 0;
                right: 0;
                top: unset;
                bottom: 0;
                width: 100%;
                margin-bottom: -234px;
                margin-left: 8px;

                .slick-slide {
                    float: left;
                    .img_area{
                        float: left;
                    }
                    .slick-slide-image{
                        float: left;
                        display: inline-block;
                    }
 
                    &::after {
                        content: none;
                    }

                    img {
                        margin-left: 26px;
                        width: 100px !important;
                        height: 100px !important;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {

    .slider_detail {
        position: relative;
        padding-bottom: 0px;
        margin-top: 0px;
        .slider-wrapper {
            .slick-arrow {
                background-color: transparent;
                position: unset;
                display: none !important;

                &.slick-prev {
                    background-color: transparent;
                    position: unset;
                    display: none !important;

                    &::before {
                        background-color: transparent;
                        display: none !important;
                    }
                }

                &.slick-next {
                    position: unset;
                    background-color: transparent;
                    display: none !important;

                    &::before {
                        background-color: transparent;
                        position: unset;
                        display: none !important;
                    }
                }
            }

            .slick-list {
                .slick-slide {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        right: 0;
                        background: linear-gradient(360deg, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
                        bottom: 0;
                        width: 100%;
                        height: 120px;
                    }

                    .slick-slide-image {
                        width: 100%;
                        height: 256px;
                        object-fit: cover;

                    }

                    .video-react-controls-enabled{
                        height: 256px;
                    }

                    .slick-slide-label {
                        margin-bottom: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    .slick-slide-title {
                        font-size: 16px;
                        top: 0;
                        bottom: unset;
                        margin-top: 10px;
                    }

                    .fa-bookmark {
                        padding: 8px 10px;
                        font-size: 12px;
                        margin-top: 10px;
                        margin-right: 10px;
                    }
                }
            }

            .thumbnail-slider-wrap {
                position: absolute;
                left: 0px;
                right: 0;
                top: unset;
                bottom: 0;
                width: 100%;
                margin-bottom: -171px;
                margin-left: 4px;

                .slick-slide {
                    float: left;

                    &::after {
                        content: none;
                    }

                    img {
                        width: 70px !important;
                        height: 70px !important;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .btn-primary-2 {
        width: 100px;
    }

    .slider_detail {
        position: relative;
        padding-bottom: 0px;
        margin-top: 0px;
        .slider-wrapper {
            .slick-arrow {
                background-color: transparent;
                position: unset;
                display: none !important;

                &.slick-prev {
                    background-color: transparent;
                    position: unset;
                    display: none !important;

                    &::before {
                        background-color: transparent;
                        display: none !important;
                    }
                }

                &.slick-next {
                    position: unset;
                    background-color: transparent;
                    display: none !important;

                    &::before {
                        background-color: transparent;
                        position: unset;
                        display: none !important;
                    }
                }
            }

            .slick-list {
                .slick-slide {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        right: 0;
                        background: linear-gradient(360deg, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
                        bottom: 0;
                        width: 100%;
                        height: 120px;
                    }

                    .slick-slide-image {
                        width: 100%;
                        height: 256px;
                        object-fit: cover;

                    }

                    .video-react-controls-enabled{
                        height: 256px;
                    }

                    .slick-slide-label {
                        margin-bottom: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    .slick-slide-title {
                        font-size: 16px;
                        top: 0;
                        bottom: unset;
                        margin-top: 10px;
                    }

                    .fa-bookmark {
                        padding: 8px 10px;
                        font-size: 12px;
                        margin-top: 10px;
                        margin-right: 10px;
                    }
                }
            }

            .thumbnail-slider-wrap {
                position: absolute;
                left: 0px;
                right: 0;
                top: unset;
                bottom: 0;
                width: 100%;
                margin-bottom: -171px;
                margin-left: 2px;

                .slick-slide {
                    float: left;

                    &::after {
                        content: none;
                    }

                    img {
                        width: 70px !important;
                        height: 70px !important;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .btn-primary-2 {
        width: 100px;
    }

    .slider_detail {
        margin-top: -70px;
        padding-bottom: 0px;

        .slider-wrapper {
            .slick-arrow {
                background-color: transparent;
                position: unset;
                display: none !important;

                &.slick-prev {
                    background-color: transparent;
                    position: unset;
                    display: none !important;

                    &::before {
                        background-color: transparent;
                        display: none !important;
                    }
                }

                &.slick-next {
                    position: unset;
                    background-color: transparent;
                    display: none !important;

                    &::before {
                        background-color: transparent;
                        position: unset;
                        display: none !important;
                    }
                }
            }

            .slick-list {
                .slick-slide {
                    &::after {
                        height: 120px;
                    }

                    .slick-slide-label {
                        margin-bottom: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 12px;
                    }

                    .slick-slide-title {
                        bottom: 50%;
                        font-size: 16px;
                    }

                    .fa-bookmark {
                        padding: 8px 10px;
                        font-size: 14px;
                        margin-top: 10px;
                        margin-right: 10px;
                    }
                }
            }

            .thumbnail-slider-wrap {
                position: absolute;
                left: 8px;
                right: 0;
                top: unset;
                bottom: 0;
                width: 100%;
                margin-bottom: -80px;

                .slick-slide {
                    float: left;

                    &::after {
                        content: none;
                    }

                    img {
                        width: 60px !important;
                        height: 60px !important;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}