@import "../base/variable.scss";
@import "../base/mixins.scss";

.map_section {
    padding-top:0px;
    position: relative;
    margin-bottom: 20px;

    .inner_area {
        .map_area {}
    }

    .btn_area {
        padding: 20px 10px;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}







/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .map_section{
        padding-top: 30px;
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .map_section{
        padding-top: 30px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {}

/* Smaller phones */
@media (max-width: 360px) {
    .btn-primary-2 {
        width: 100px;
    }

    .map_section {
        padding-top: 40px;
        margin-bottom: 20px;

        .btn_area {
            padding: 20px 10px;
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}