@import "../base/variable.scss";
@import "../base/mixins.scss";

.news_update_section {
    padding-bottom: 100px;

    .news_detail_area {
        .heading_area {
            padding-bottom: 60px;
        }

        .image_detail_area {

            .image_area {
                position: relative;
                margin-bottom: 28px;

                &::after {
                    position: absolute;
                    content: "";
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    @include transition(0.3s ease);
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                .info_area {
                    z-index: 1;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 30px;
                    @include transition(0.3s ease);

                    h4 {
                        font-size: 24px;
                        font-weight: 600;
                        @include transition(0.3s ease);
                    }

                    p {
                        padding-top: 10px;
                        font-size: 14px;
                        @include transition(0.3s ease);
                    }
                }

                .arrow_area {
                    z-index: 1;
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: $white;
                    padding: 12px;
                    padding-left: 38px;
                    padding-right: 38px;
                    border-radius: 5px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;

                    a {
                        i {
                            z-index: 1;
                            text-align: center;
                            color: $secondary_color;
                            font-size: 40px;
                            transform: rotate(45deg);
                        }
                    }
                }

                &:hover {
                    &::after {
                        background-color: rgba($color: $light-black, $alpha: 0.5);
                        @include transition(0.3s ease);
                    }

                    .info_area {
                        opacity: 1;
                        @include transition(0.3s ease);


                        h4 {
                            color: $white;
                            @include transition(0.3s ease);
                        }

                        p {
                            color: $white;
                            @include transition(0.3s ease);
                        }
                    }

                    .arrow_area {
                        opacity: 1;

                        a {
                            background-color: $white;

                            i {}
                        }
                    }
                }
            }
        }
    }
}




/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .news_update_section {
        padding-bottom: 40px;

        .news_detail_area {
            .heading_area {
                padding-bottom: 50px;
            }

            .image_detail_area {

                .image_area {
                    position: relative;
                    margin-bottom: 28px;

                    .info_area {
                        padding: 10px;

                        h4 {
                            font-size: 16px;
                            font-weight: 600;
                        }

                        p {
                            padding-top: 8px;
                            font-size: 14px;
                        }
                    }

                    .arrow_area {
                        padding: 8px;
                        padding-left: 25px;
                        padding-right: 25px;

                        a {
                            i {

                                font-size: 26px;
                                transform: rotate(45deg);
                            }
                        }
                    }

                    &:hover {
                        &::after {
                            background-color: rgba($color: $light-black, $alpha: 0.5);
                        }

                        .info_area {
                            opacity: 1;


                            h4 {
                                color: $white;
                            }

                            p {
                                color: $white;
                            }
                        }

                        .arrow_area {
                            opacity: 1;

                            a {
                                background-color: $white;

                                i {}
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .news_update_section {
        padding-bottom: 40px;

        .news_detail_area {
            .heading_area {
                padding-bottom: 50px;
            }

            .image_detail_area {

                .image_area {
                    position: relative;
                    margin-bottom: 28px;

                    .info_area {
                        padding: 30px;

                        h4 {
                            font-size: 18px;
                            font-weight: 600;
                        }

                        p {
                            padding-top: 8px;
                            font-size: 14px;
                        }
                    }

                    .arrow_area {
                        padding: 8px;
                        padding-left: 25px;
                        padding-right: 25px;

                        a {
                            i {

                                font-size: 26px;
                                transform: rotate(45deg);
                            }
                        }
                    }

              
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .news_update_section {
        padding-bottom: 40px;

        .news_detail_area {
            .heading_area {
                padding-bottom: 50px;
            }

            .image_detail_area {

                .image_area {
                    margin-bottom: 28px;

                    .info_area {
                        padding: 20px;

                        h4 {
                            font-size: 16px;
                        }

                        p {
                            padding-top: 8px;
                            font-size: 14px;
                        }
                    }

                    .arrow_area {
                        padding: 8px;
                        padding-left: 25px;
                        padding-right: 25px;

                        a {
                            i {

                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .news_update_section {
        padding-bottom: 40px;

        .news_detail_area {
            .heading_area {
                padding-bottom: 50px;
            }

            .image_detail_area {

                .image_area {
                    margin-bottom: 28px;

                    .info_area {
                        padding: 20px;

                        h4 {
                            font-size: 16px;
                        }

                        p {
                            padding-top: 8px;
                            font-size: 14px;
                        }
                    }

                    .arrow_area {
                        padding: 8px;
                        padding-left: 25px;
                        padding-right: 25px;

                        a {
                            i {

                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .news_update_section {
        padding-bottom: 40px;

        .news_detail_area {
            .heading_area {
                padding-bottom: 50px;
            }

            .image_detail_area {

                .image_area {
                    margin-bottom: 28px;

                    .info_area {
                        padding: 20px;

                        h4 {
                            font-size: 16px;
                        }

                        p {
                            padding-top: 8px;
                            font-size: 14px;
                        }
                    }

                    .arrow_area {
                        padding: 8px;
                        padding-left: 25px;
                        padding-right: 25px;

                        a {
                            i {

                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}