@import "../base/variable.scss";
@import "../base/mixins.scss";


.phone_input_area {
    &.top_space{
        margin-top: 40px;
    }
    .phone_wrap {
        .detail_area {
            label{
                padding-bottom: 10px;
            }
            .PhoneInput {
                background: $checkbox;
                padding: 20px 20px;
                border-radius: 5px;
                @include clearfix();

                &.PhoneInput--focus {
                    border: none;
                    box-shadow: none;
                }

                &:focus-visible {
                    border: none;
                    box-shadow: none;
                }

                .PhoneInputCountry {
                    border-right: 1px solid #DCDCDC !important;
                    padding-right: 10px;
                }

                .PhoneInputInput {
                    border: none;
                    background-color: transparent;

                    &:focus-visible {
                        border: none;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
    }
}