@import "../base/variable.scss";
@import "../base/mixins.scss";


.phoneside {
    .head {
        position: relative;
        background-color: $secondary_color;
        padding: 14px 0;

        h6 {
            font-size: 18px;
            color: $white;
        }

        .icon-Back {
            position: absolute;
            top: 25%;
            left: 0;
            padding-left: 20px;

            i {
                font-size: 20px;
                color: $white;
            }
        }
    }

    .profile {
        padding-top: 20px;
        padding-left: 20px;

        ul {

            li {
                // border-bottom: 1px solid $border-dark;
                padding: 10px;

                a {
                    font-size: 15px;
                    display: block;
                    color: $secondary_color;

                    .useree {
                        @include clearfix();
                        display: flex;
                        align-items: center;

                        .left {
                            width: 60px;
                            float: left;

                            .user-img {
                                width: 60px;
                                height: 60px;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }

                        .right {
                            width: calc(100% - 60px);
                            float: left;
                            padding-left: 10px;

                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
                .btn-primary-4{
                    background-color: transparent;
                    width: auto;
                    height: auto;
                    color: $black;
                    line-height: unset;
                    font-weight: 500;
                    font-size: 15px;
                }
            }
        }
    }
}










/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {}

/* Smaller phones */
@media (max-width: 360px) {}

/* Smaller phones */
@media (max-width: 320px) {}