@import "../base/variable.scss";
@import "../base/mixins.scss";

.Sign_up_area {
    .heading_area {
        &.ul {
            margin-bottom: 20px;
            margin-top: 0px;
        }

        margin-bottom: 50px;
        margin-top: 120px;

        h1 {
            font-size: 48px;
        }

        h2 {
            font-size: 36px;
            text-align: center;
        }

        p {
            &.success-circle {
                font-size: 114px;
                color: #B4ECB9;
                margin-bottom: 20px;
            }

            font-size: 14px;
            color: $black;
            margin-top: 30px;
        }
    }



    .bar_wrap {
        margin-bottom: 30px;

        .top_bar {
            position: relative;
            padding-top: 50px;
            padding-bottom: 50px;

            .line_bar {
                margin: 0 auto;
                height: 2px;
                background-color: #F2F2F2;
                position: relative;
                width: 586px;

                .bar_inn {
                    background-color: $primary-color;
                    position: absolute;
                    top: 0;
                    height: 2px;
                    z-index: 1;
                }
            }

            .bar_wrap {
                position: absolute;
                top: -26px;
                left: 0;
                display: flex;
                justify-content: space-between;
                width: 100%;

                .bar_circle {
                    height: 50px;
                    width: 50px;
                    background-color: $checkbox;
                    border-radius: 50%;
                    z-index: 2;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

                    p {
                        font-size: 16px;
                        padding-left: 21px;
                        padding-top: 15px;
                    }

                    &.circle_1 {
                        left: 0;
                        background-color: $primary-color;
                    }
                }
            }
        }
    }

    .high_education_area {

        h2 {
            text-align: center;
            font-size: 36px;
            margin-bottom: 40px;
            margin-top: 0px;
        }

        &.md {
            .form-check-label {
                // line-height: 50px;
                font-size: 14px;
                padding: 0px 0px;
            }
        }

        &.ul {
            .form-check {
                position: relative;

                .image_area {
                    margin-left: -50px;

                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }

                // .form-check-label {
                //     height: 78px;
                //     font-size: 14px;
                //     line-height: 106px;
                // }
            }

            .radio_area {
                margin-bottom: 10px;
                margin-top: 20px;
                position: relative;

                &.other {
                    text-align: center;

                    .form-check-label {
                        padding: 22px 20px;
                    }
                }

                .image_area {
                    position: absolute;
                    left: 0px;
                    right: 0;
                    top: 0;
                    margin: 0 auto;
                    text-align: center;
                    width: 80px;
                    height: 57px;
                    margin-top: -41px;
                    border: 2px solid $white;
                    border-radius: 14px;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .serach_area{
            position: relative;
            top: 30px;
            left: 0;
            right: 0;
            width: 500px;
            max-width: 100%;
            padding: 0 30px;
            z-index: 99;
            margin: 0 auto;
            .form-control{
                padding: 15px 10px;
                background-color: #fdfbf5;
                padding-right: 55px;
                border: none;
                &:focus{
                    outline: none;
                    box-shadow: none;
                    border-color: none;
                }
            }
            .form-group{
                position: relative;
            }
            .seacrh{
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 18px;
                margin-right: 20px;
                a{
                    color: $black;
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
        .country_shoed{
            min-height: 250px;
            max-height: 500px;
            padding-top: 50px;
            overflow-y: auto;
            overflow-x: hidden;
            margin-bottom: 40px;
            position: relative;
            @include scrll();
            
        }

        .form-check {
            padding-left: 0;

            .form-check-input {
                appearance: none;
                display: none;
            }

            .form-check-label {
                position: relative;
                width: 100%;
                font-size: 14px;
                margin-bottom: 40px;
                padding: 0px;
                text-align: center;
                border-radius: 5px;
                padding: 28px 20px;
                font-weight: 500;
                transition-duration: 0.2s ease;
                transition-property: transform, color, box-shadow;
                transform: none;
                cursor: pointer;
                background-color: $checkbox;
            }

            .form-check-input:checked+.form-check-label {
                background-color: $secondary_color;
                color: #ffffff;
                font-size: 14px;
                transition-duration: 0.2s ease;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
            }
        }

        p {
            &.valid-helper {
                color: $red;
                font-size: 14px;
                margin-bottom: 30px;
            }
        }
    }

    .input_fields_area {
        .expect_education_area {
            &.ul {
                margin-top: 24px;
            }
            .form-check {
                padding-left: 0;
                position: relative;
    
                // .form-check-input {
                //     appearance: none;
                //     display: none;
                // }
    
                .form-check-label {
                    font-size: 14px;
                    // padding: 28px 20px;
                    font-weight: 500;
                   
                    &::after{
                        position: absolute;
                        width: 0%;
                        border: 2px solid transparent;
                        content: '';
                        top: -13px;
                        left: -0px;
                        right: 0;
                        bottom: 0;
                        transition: 0.4s ease-in-out;
                        z-index: -1;
                        border-radius: 5px;
                        padding: 25px 0;
                    }
                   
                }

                .form-check-input{
                    background-color: $primary-color;
                    border-color:  $primary-color !important;
                    &:checked{
                        background-color:  $primary-color !important;
                        border-color:  $primary-color !important;
                    }
                }
    
                .form-check-input:checked+.form-check-label::after {
                    width: 100%;
                    transition: 0.4s ease-in-out;
                    border-color: $primary-color;
                }
            }

            margin-top: 20px;

            h2 {
                margin-bottom: 40px;
                text-align: center;
                font-size: 36px;

            }

            .form_search {
                .form-control {
                    height: 66px;
                    background: $checkbox;
                    border-radius: 5px;
                    padding-left: 30px;
                    border: none;

                    &::placeholder {
                        font-weight: 500;
                        font-size: 14px;
                        color: $offspara;
                    }
                }
               

                .form-label {
                    font-size: 14px;

                }

            }
        }

        p {
            font-size: 13px;
            &.valid-helper {
                color: $red;
                font-size: 14px;
                margin-bottom: 30px;
            }
        }
    }

    .select_area {
        .graduation_area {
            .uplaod_set {
                text-align: center;
                background-color: $checkbox;
                height:auto;
                border-radius: 5px;
                padding:44px 20px;

                .inner_uplaod {
                   

                    a {
                        i {
                            font-size: 18px;
                            color: $secondary_color;
                        }

                        p {
                            margin-bottom: 8px;
                            font-size: 14px;
                            color: $offspara;
                            font-weight: 600;
                        }
                    }
                    input{
                        visibility: hidden;
                        display: none;
                       
                    }
                    .progress-bar{
                        background-color: $primary-color;
                    }
                    
                }
                

            }
            .file-preview{
                padding-top: 20px;
                .badge{
                    background-color: $checkbox !important;
                    padding: 10px;
                    color: $black;
                    position: relative;
                    margin-bottom: 20px;
                    margin-right: 15px;
                    font-weight: 500;
                    white-space: inherit;
                    i{
                        padding-right: 4px;
                        font-weight: 400;
                    }
                    a{
                        color: $secondary_color;
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-top: -9px;
                        margin-right: -5px;
                        display: inline-block;
                        background-color: $primary-color;
                        width: 20px;
                        height: 20px;
                        line-height: 21px;
                        text-align: center;
                        border-radius: 50%;
                        i{
                            padding-right: 0;
                            font-weight: 400;
                        }
                    }
                }
            }

            .form-label {
                font-size: 14px;
            }

            textarea {
                padding-left: 40px;

                &::placeholder {
                    color: $offspara;
                    font-weight: 500;
                    font-size: 14px;
                }

                &:focus {
                    background-color: $checkbox;
                    border-color: $checkbox;
                }
            }

            &.ul {
                margin-top: 30px;
            }

            margin-top: 60px;

            h2 {
                margin-bottom: 40px;
                text-align: center;
                font-size: 36px;

            }

            .css-b62m3t-container {
                .css-9gakcf-option {
                    background-color: $secondary_color;
                    color: $white;
                    cursor: default;
                    display: block;
                    font-size: 14px;
                    padding: 18px 20px;
                    width: 100%;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    box-sizing: border-box;
                }

                .css-4ljt47-MenuList {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
            }

            .css-b62m3t-container {
                .css-14el2xx-placeholder {
                    z-index: 2;
                    color: $secondary_color;
                    margin-right: 41px;
                    font-size: 14px;
                    box-sizing: border-box;
                }

                .css-6j8wv5-Input {
                    margin: 0px;
                    visibility: visible;
                    display: inline-grid;
                    box-sizing: border-box;
                    transition: all 100ms;
                    padding-right: 0;
                    padding-left: 0px;
                }

                .css-1s2u09g-control {
                    z-index: 2;
                    align-items: center;
                    background-color: $checkbox;
                    border-color: transparent;
                    border-radius: 4px;
                    border-style: solid;
                    border-width: 1px;
                    cursor: default;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-flex-wrap: wrap;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-box-pack: justify;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    min-height: 38px;
                    outline: 0 !important;
                    position: relative;
                    -webkit-transition: all 100ms;
                    transition: all 100ms;
                    padding-top: 14px;
                    padding-bottom: 14px;
                    z-index: 0;
                }
            }

            .css-1hb7zxy-IndicatorsContainer {
                .css-1okebmr-indicatorSeparator {
                    z-index: 2;
                    background-color: transparent;
                    transition: all 100ms;
                }

                .css-tlfecz-indicatorContainer {
                    z-index: 2;
                    color: $black;
                    display: flex;
                    font-size: 30px;
                    padding-right: 40px;
                    -webkit-transition: color 150ms;
                    transition: color 150ms;
                    box-sizing: border-box;
                    transition: all 100ms;
                }

                .css-1gtu0rj-indicatorContainer {
                    padding-right: 40px;
                }
            }

            .css-319lph-ValueContainer {
                padding-left: 40px;
                padding-right: 0;
            }

            .css-1pahdxg-control {
                background-color: $checkbox;
                border-color: $checkbox;
                box-shadow: none;
                padding-top: 14px;
                padding-bottom: 14px;
            }
            .css-2613qy-menu{
                position: relative;
                background-color: red;
                z-index: 99999999;
                display: block;
            }
            .search-autocomplete{
                padding: 16px 17px;
                &:focus{
                    background-color: $checkbox;
                    border-color: $checkbox;
                }
                &:focus-visible{
                    background-color: $checkbox;
                    border-color: $checkbox;
                }
            }
        }
    }

    .btn_area {
        @include clearfix();

        &.ul {
            margin-top: 40px;
        }

        margin-top: 80px;
        margin-bottom: 120px;

        .left_area {
            float: left;


            .btn-primary-4 {
                background-color: transparent;
                width: 230px;
                height: 66px;
                border: 1px solid $secondary_color ;
                color: $secondary_color;
                line-height: 66px;
                font-size: 16px;
                font-weight: 500;
            }

        }

        .right_area {
            float: right;


            .btn-primary-2 {
                background-color: $secondary_color;
                width: 230px;
                height: 66px;
                border: 1px solid $secondary_color ;
                color: $white;
                line-height: 66px;
                font-size: 16px;
                font-weight: 500;
            }

        }

        .center_area {
            text-align: center;


            .btn-primary-2 {
                background-color: $secondary_color;
                width: 230px;
                height: 66px;
                border: 1px solid $secondary_color ;
                color: $white;
                line-height: 66px;
                font-size: 16px;
                font-weight: 500;
            }

        }
    }

    .form2 {
        .bar_wrap {
            .top_bar {
                .bar_wrap {
                    .bar_circle.circle_2 {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }

    .form3 {
        .bar_wrap {
            .top_bar {
                .bar_wrap {
                    .bar_circle.circle_2 {
                        background-color: $primary-color;
                    }

                    .bar_circle.circle_3 {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }

    .university_area {
        margin-top: 40px;
        max-height: 500px;
        padding: 10px;
        padding-bottom: 30px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        @include scrll();

        
    }

}

.footer_img {
    margin-top: 130px;
    overflow: hidden;

    .sub_container {
        .sub_row {
            margin: 0 -15px;

            .footer_img_area {
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}










/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1280px) and (max-width: 1399px) {
    .Sign_up_area {
        .heading_area {
            margin-bottom: 40px;
            margin-top: 100px;

            h1 {
                font-size: 46px;
            }

            p {
                margin-top: 20px;
            }
        }

        .input_fields_area {
            .high_education_area {

                h2 {
                    font-size: 30px;
                }
            }

            .expect_education_area {
                &.ul {
                    margin-top: 24px;
                }

                margin-top: 20px;

                h2 {
                    font-size: 30px;

                }
            }
        }

        .select_area {
            .graduation_area {
                .form-label {
                    font-size: 14px;
                }

                &.ul {
                    margin-top: 30px;
                }

                margin-top: 60px;

                h2 {
                    font-size: 30px;
                }

                .css-b62m3t-container {
                    .css-9gakcf-option {
                        font-size: 14px;
                        padding: 18px 20px;
                    }

                    .css-4ljt47-MenuList {
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }
                }

                .css-b62m3t-container {
                    .css-14el2xx-placeholder {
                        margin-right: 41px;
                        font-size: 14px;

                    }

                    .css-1s2u09g-control {
                        padding-top: 14px;
                        padding-bottom: 14px;
                    }
                }

                .css-1hb7zxy-IndicatorsContainer {
                    .css-tlfecz-indicatorContainer {
                        font-size: 30px;
                        padding-right: 40px;
                    }

                }

                .css-319lph-ValueContainer {
                    padding-left: 40px;
                    padding-right: 0;
                }

                .css-1pahdxg-control {
                    padding-top: 14px;
                    padding-bottom: 14px;
                }
            }
        }

        .btn_area {
            &.ul {
                margin-top: 40px;
            }

            margin-top: 80px;
            margin-bottom: 120px;
        }
    }

    .footer_img {
        margin-top: 130px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .Sign_up_area {
        padding-left: 100px;
        padding-right: 100px;

        .heading_area {
            &.ul {
                margin-bottom: 20px;
            }

            margin-bottom: 30px;
            margin-top: 80px;

            h1 {
                font-size: 44px;
            }
        }

        .bar_wrap {
            .top_bar {
                padding-bottom: 40px;
            }
        }

        .input_fields_area {
            .high_education_area {
                text-align: center;

                h2 {
                    font-size: 30px;
                    margin-bottom: 40px;
                    margin-top: 0px;
                }
            }

            .expect_education_area {
                &.ul {
                    margin-top: 24px;
                }

                margin-top: 20px;

                h2 {
                    font-size: 30px;
                }
            }
        }

        .select_area {
            .graduation_area {
                .form-label {
                    font-size: 14px;
                }

                h2 {
                    margin-bottom: 40px;
                    text-align: center;
                    font-size: 30px;
                }
            }
        }

    }

    .footer_img {
        margin-top: 80px;
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .Sign_up_area {
        padding-left: 60px;
        padding-right: 60px;

        .heading_area {
            &.ul {
                margin-bottom: 20px;
            }

            margin-bottom: 30px;
            margin-top: 80px;

            h1 {
                font-size: 40px;
            }

            h2 {
                font-size: 32px;
            }
        }

        .bar_wrap {
            .top_bar {
                padding-bottom: 40px;
            }
        }

        .input_fields_area {
            .high_education_area {
                text-align: center;

                h2 {
                    font-size: 30px;
                    margin-bottom: 44px;
                    margin-top: 0px;
                }

                .form-check {
                    .form-check-label {
                        width: 164px;
                        margin-bottom: 30px;
                        padding: 28px 13px;
                    }
                }
            }

            .expect_education_area {
                &.ul {
                    margin-top: 24px;
                }

                margin-top: 20px;

                h2 {
                    margin-bottom: 28px;
                    font-size: 26px;
                }
            }
        }

        .select_area {
            .graduation_area {
                margin-top: 40px;

                .form-label {
                    font-size: 14px;
                }

                h2 {
                    margin-bottom: 28px;
                    font-size: 26px;
                }
            }
        }

        .btn_area {
            &.ul {
                margin-top: 40px;
            }

            margin-top: 50px;
            margin-bottom: 120px;
        }

    }

    .footer_img {
        margin-top: 80px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .Sign_up_area {
        padding-left: 60px;
        padding-right: 60px;

        .heading_area {
            &.ul {
                margin-bottom: 20px;
            }

            margin-bottom: 30px;
            margin-top: 80px;

            h1 {
                font-size: 40px;
            }

            h2 {
                font-size: 32px;
            }
        }

        .bar_wrap {
            .top_bar {
                padding-bottom: 40px;

                .line_bar {
                    width: 524px;
                }
            }
        }

        .high_education_area {
            text-align: center;

            h2 {
                font-size: 30px;
                margin-bottom: 44px;
                margin-top: 0px;
            }


        }

        .input_fields_area {
            .high_education_area {
                text-align: center;

                h2 {
                    font-size: 30px;
                    margin-bottom: 44px;
                    margin-top: 0px;
                }

                .form-check {
                    .form-check-label {
                        width: 100%;
                        margin-bottom: 30px;
                        padding: 28px 13px;
                    }
                }
            }

            .expect_education_area {
                &.ul {
                    margin-top: 24px;
                }

                margin-top: 20px;

                h2 {
                    margin-bottom: 28px;
                    font-size: 26px;
                }
            }
        }

        .select_area {
            .graduation_area {
                margin-top: 40px;

                .form-label {
                    font-size: 14px;
                }

                h2 {
                    margin-bottom: 28px;
                    font-size: 26px;
                }
            }
        }

        .btn_area {
            &.ul {
                margin-top: 40px;
            }

            margin-top: 50px;
            margin-bottom: 120px;
        }

    }


    .footer_img {
        margin-top: 30px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .Sign_up_area {
        .heading_area {
            &.ul {
                margin-bottom: 20px;
            }

            margin-bottom: 40px;
            margin-top: 30px;

            h1 {
                font-size: 28px;
            }

            h2 {
                font-size: 22px;
            }

            p {
                margin-top: 14px;
            }
        }

        .bar_wrap {
            .top_bar {
                padding-top: 10px;
                padding-bottom: 10px;

                .line_bar {
                    width: 314px;
                }

                .bar_wrap {
                    top: -21px;

                    .bar_circle {
                        height: 40px;
                        width: 40px;

                        p {
                            font-size: 14px;
                            padding-left: 16px;
                            padding-top: 11px;
                        }
                    }
                }
            }
        }

        .high_education_area {
            text-align: center;

            h2 {
                font-size: 18px;
                margin-bottom: 30px;
                margin-top: 10px;
            }
            .country_shoed{
                padding-top: 62px;
            }
        }

        .input_fields_area {
            .high_education_area {
                text-align: center;

                h2 {
                    font-size: 18px;
                    margin-bottom: 30px;
                    margin-top: 10px;
                }

                &.ul {
                    .form-check {
                        .image_area {
                            margin-left: 0px;
                        }

                        .form-check-label {
                           
                            width: 138px;
                            font-size: 14px;
                           
                        }
                    }

                    .radio_area {
                        margin-bottom: 10px;
                        margin-top: 20px;

                        &.other {
                            text-align: center;

                            .form-check-label {
                                line-height: 78px;
                            }
                        }

                        .image_area {
                            width: 70px;
                            height: 45px;
                            margin-top: -30px;

                        }
                    }
                }

                .form-check {
                    .form-check-label {
                        
                        margin-bottom: 12px;
                        
                        font-size: 14px;
                        width: 100%;
                        padding: 25px 10px;
                    }

                    .form-check-input:checked+.form-check-label {
                        font-size: 14px;
                    }
                }
            }

            .expect_education_area {
                &.ul {
                    margin-top: 16px;
                }

                margin-top: 0px;

                h2 {
                    margin-bottom: 30px;
                    font-size: 18px;

                }

                .form_search {
                    .form-control {
                        height: 52px;
                        padding-left: 14px;


                        &::placeholder {
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }

                    .form-label {
                        font-size: 14px;

                    }
                }
            }
        }

        .select_area {
            .graduation_area {

                &.ul {
                    margin-top: 20px;
                }

                margin-top: 30px;

                h2 {
                    margin-bottom: 30px;
                    font-size: 18px;

                }

                .css-b62m3t-container {
                    .css-9gakcf-option {
                        font-size: 14px;
                        padding: 18px 20px;
                    }
                }

                .css-b62m3t-container {
                    .css-1s2u09g-control {
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                }

                .css-1hb7zxy-IndicatorsContainer {
                    .css-tlfecz-indicatorContainer {
                        padding-right: 14px;
                    }

                    .css-1gtu0rj-indicatorContainer {
                        padding-right: 14px;
                    }
                }

                .css-319lph-ValueContainer {
                    padding-left: 14px;

                }

                .css-1pahdxg-control {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }

        .btn_area {
            margin-top: 40px;
            margin-bottom: 20px;

            &.ul {
                margin-top: 20px;
            }

            .left_area {

                .btn-primary-4 {
                    width: 126px;
                    height: 53px;
                    line-height: 53px;
                }

            }

            .right_area {

                .btn-primary-2 {
                    width: 126px;
                   height: 53px;
                    line-height: 53px;
                }

            }

            .center_area {

                .btn-primary-2 {
                    width: 100%;
                    height: 53px;
                    line-height: 53px;
                }

            }
        }
    }

    .footer_img {
        margin-top: 0px;
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .Sign_up_area {
        .heading_area {
            &.ul {
                margin-bottom: 20px;
            }

            margin-bottom: 40px;
            margin-top: 30px;

            h1 {
                font-size: 28px;
            }

            h2 {
                font-size: 22px;
            }

            p {
                margin-top: 14px;
            }
        }

        .bar_wrap {
            .top_bar {
                padding-top: 10px;
                padding-bottom: 10px;

                .line_bar {
                    width: 314px;
                }

                .bar_wrap {
                    top: -21px;

                    .bar_circle {
                        height: 40px;
                        width: 40px;

                        p {
                            font-size: 14px;
                            padding-left: 16px;
                            padding-top: 11px;
                        }
                    }
                }
            }
        }

        .high_education_area {
            text-align: center;

            h2 {
                font-size: 18px;
                margin-bottom: 30px;
                margin-top: 10px;
            }
            .country_shoed{
                padding-top: 62px;
            }
        }

        .input_fields_area {
            .high_education_area {
                text-align: center;

                h2 {
                    font-size: 18px;
                    margin-bottom: 30px;
                    margin-top: 10px;
                }

                &.ul {
                    .form-check {
                        .image_area {
                            margin-left: 0px;
                        }

                        .form-check-label {
                            width: 138px;
                            font-size: 14px;
                        }
                    }

                    .radio_area {
                        margin-bottom: 10px;
                        margin-top: 20px;

                        &.other {
                            text-align: center;

                            .form-check-label {
                                line-height: 78px;
                            }
                        }

                        .image_area {
                            width: 70px;
                            height: 45px;
                            margin-top: -30px;

                        }
                    }
                }

                .form-check {
                    .form-check-label {
                        margin-bottom: 12px;
                        font-size: 14px;
                        width: 100%;
                        padding: 25px;
                    }

                    .form-check-input:checked+.form-check-label {
                        font-size: 14px;
                    }
                }
            }

            .expect_education_area {
                &.ul {
                    margin-top: 16px;
                }

                margin-top: 0px;

                h2 {
                    margin-bottom: 30px;
                    font-size: 18px;

                }

                .form_search {
                    .form-control {
                        height: 52px;
                        padding-left: 14px;


                        &::placeholder {
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }

                    .form-label {
                        font-size: 14px;

                    }
                }
            }
        }

        .select_area {
            .graduation_area {

                &.ul {
                    margin-top: 20px;
                }

                margin-top: 30px;

                h2 {
                    margin-bottom: 30px;
                    font-size: 18px;

                }

                .css-b62m3t-container {
                    .css-9gakcf-option {
                        font-size: 14px;
                        padding: 18px 20px;
                    }
                }

                .css-b62m3t-container {
                    .css-1s2u09g-control {
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                }

                .css-1hb7zxy-IndicatorsContainer {
                    .css-tlfecz-indicatorContainer {
                        padding-right: 14px;
                    }

                    .css-1gtu0rj-indicatorContainer {
                        padding-right: 14px;
                    }
                }

                .css-319lph-ValueContainer {
                    padding-left: 14px;

                }

                .css-1pahdxg-control {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }

        .btn_area {
            margin-top: 40px;
            margin-bottom: 20px;

            &.ul {
                margin-top: 20px;
            }

            .left_area {

                .btn-primary-4 {
                    width: 126px;
                    height: 53px;
                    line-height: 53px;
                }

            }

            .right_area {

                .btn-primary-2 {
                    width: 126px;
                   height: 53px;
                    line-height: 53px;
                }

            }

            .center_area {

                .btn-primary-2 {
                    width: 100%;
                    height: 53px;
                    line-height: 53px;
                }

            }
        }
    }

    .footer_img {
        margin-top: 0px;
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .Sign_up_area {
        .heading_area {
            &.ul {
                margin-bottom: 20px;
            }

            margin-bottom: 40px;
            margin-top: 30px;

            h1 {
                font-size: 28px;
            }

            h2 {
                font-size: 22px;
            }

            p {
                margin-top: 14px;
            }
        }

        .bar_wrap {
            .top_bar {
                padding-top: 10px;
                padding-bottom: 10px;

                .line_bar {
                    width: 280px;
                }

                .bar_wrap {
                    top: -21px;

                    .bar_circle {
                        height: 40px;
                        width: 40px;

                        p {
                            font-size: 14px;
                            padding-left: 16px;
                            padding-top: 11px;
                        }
                    }
                }
            }
        }

        .high_education_area {
            text-align: center;

            h2 {
                font-size: 18px;
                margin-bottom: 30px;
                margin-top: 10px;
            }
        }

        .input_fields_area {
            .high_education_area {
                text-align: center;

                h2 {
                    font-size: 18px;
                    margin-bottom: 30px;
                    margin-top: 10px;
                }

                &.ul {
                    .form-check {
                        .image_area {
                            margin-left: 0px;
                        }

                        .form-check-label {
                            height: 78px;
                            width: 138px;
                            font-size: 14px;
                            line-height: 106px;
                        }
                    }

                    .radio_area {
                        margin-bottom: 10px;
                        margin-top: 20px;

                        &.other {
                            text-align: center;

                            .form-check-label {
                                line-height: 78px;
                            }
                        }

                        .image_area {
                            width: 70px;
                            height: 45px;
                            margin-top: -30px;

                        }
                    }
                }

                .form-check {
                    .form-check-label {
                        height: 50px;
                        margin-bottom: 12px;
                        line-height: 50px;
                        font-size: 14px;
                    }

                    .form-check-input:checked+.form-check-label {
                        font-size: 14px;
                    }
                }
            }

            .expect_education_area {
                &.ul {
                    margin-top: 16px;
                }

                margin-top: 0px;

                h2 {
                    margin-bottom: 30px;
                    font-size: 18px;

                }

                .form_search {
                    .form-control {
                        height: 52px;
                        padding-left: 14px;


                        &::placeholder {
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }

                    .form-label {
                        font-size: 14px;

                    }
                }
            }
        }

        .select_area {
            .graduation_area {

                &.ul {
                    margin-top: 20px;
                }

                margin-top: 30px;

                h2 {
                    margin-bottom: 30px;
                    font-size: 18px;

                }

                .css-b62m3t-container {
                    .css-9gakcf-option {
                        font-size: 14px;
                        padding: 18px 20px;
                    }
                }

                .css-b62m3t-container {
                    .css-1s2u09g-control {
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                }

                .css-1hb7zxy-IndicatorsContainer {
                    .css-tlfecz-indicatorContainer {
                        padding-right: 14px;
                    }

                    .css-1gtu0rj-indicatorContainer {
                        padding-right: 14px;
                    }
                }

                .css-319lph-ValueContainer {
                    padding-left: 14px;

                }

                .css-1pahdxg-control {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }

        .btn_area {
            margin-top: 40px;

            &.ul {
                margin-top: 20px;
            }

            .left_area {
                a {
                    .btn-primary-4 {
                        width: 140px;
                    }
                }
            }

            .right_area {
                a {
                    .btn-primary-2 {
                        width: 140px;
                    }
                }
            }

            .center_area {

                .btn-primary-2 {
                    width: 140px;
                }

            }
        }
    }


    .footer_img {
        margin-top: 0px;
    }
}





















// .Sign_up_area {
//     .heading_area {
//         &.ul {
//             margin-bottom: 20px;
//         }

//         margin-bottom: 40px;
//         margin-top: 30px;

//         h1 {
//             font-size: 28px;
//         }

//         h2 {
//             font-size: 22px;
//         }

//         p {
//             margin-top: 14px;
//         }
//     }

//     .bar_wrap {
//         .top_bar {
//             padding-top: 10px;
//             padding-bottom: 10px;

//             .line_bar {
//                 width: 280px;
//             }

//             .bar_wrap {
//                 top: -21px;

//                 .bar_circle {
//                     height: 40px;
//                     width: 40px;

//                     p {
//                         font-size: 14px;
//                         padding-left: 16px;
//                         padding-top: 11px;
//                     }
//                 }
//             }
//         }
//     }

//     .input_fields_area {
//         .high_education_area {
//             text-align: center;

//             h2 {
//                 font-size: 18px;
//                 margin-bottom: 30px;
//                 margin-top: 10px;
//             }

//             &.ul {
//                 .form-check {
//                     .image_area {
//                         margin-left: 0px;
//                     }

//                     .form-check-label {
//                         height: 78px;
//                         width: 138px;
//                         font-size: 14px;
//                         line-height: 106px;
//                     }
//                 }

//                 .radio_area {
//                     margin-bottom: 10px;
//                     margin-top: 20px;
//                     float: left;
//                     width: 50%;

//                     .image_area {
//                         width: 70px;
//                         height: 45px;
//                         margin-top: -30px;
//                         margin-left: 58px;
//                     }
//                 }
//             }

//             .form-check {

//                 .form-check-label {
//                     height: 50px;
//                     margin-bottom: 12px;
//                     line-height: 50px;
//                     font-size: 14px;
//                 }

//                 .form-check-input:checked+.form-check-label {
//                     font-size: 14px;
//                 }
//             }
//         }

//         .expect_education_area {
//             &.ul {
//                 margin-top: 16px;
//             }

//             margin-top: 0px;

//             h2 {
//                 margin-bottom: 30px;
//                 font-size: 18px;

//             }

//             .form_search {
//                 .form-control {
//                     height: 52px;
//                     padding-left: 14px;


//                     &::placeholder {
//                         font-weight: 500;
//                         font-size: 14px;
//                     }
//                 }

//                 .form-label {
//                     font-size: 14px;

//                 }
//             }
//         }
//     }

//     .select_area {
//         .graduation_area {

//             &.ul {
//                 margin-top: 20px;
//             }

//             margin-top: 30px;

//             h2 {
//                 margin-bottom: 30px;
//                 font-size: 18px;

//             }

//             .css-b62m3t-container {
//                 .css-9gakcf-option {
//                     font-size: 14px;
//                     padding: 18px 20px;
//                 }
//             }

//             .css-b62m3t-container {
//                 .css-1s2u09g-control {
//                     padding-top: 8px;
//                     padding-bottom: 8px;
//                 }
//             }

//             .css-1hb7zxy-IndicatorsContainer {
//                 .css-tlfecz-indicatorContainer {
//                     padding-right: 14px;
//                 }

//                 .css-1gtu0rj-indicatorContainer {
//                     padding-right: 14px;
//                 }
//             }

//             .css-319lph-ValueContainer {
//                 padding-left: 14px;

//             }

//             .css-1pahdxg-control {
//                 padding-top: 8px;
//                 padding-bottom: 8px;
//             }
//         }
//     }

//     .btn_area {
//         margin-top: 40px;

//         &.ul {
//             margin-top: 20px;
//         }
//     }
// }