@import "../base/variable.scss";
@import "../base/mixins.scss";

.Slider_logo {
    background-color: $bg-light;
    padding-top: 30px;
    padding-bottom: 30px;

    .slider_wrap {
        .slider_img_wrap {
            width: 100%;
            @include clearfix();
            height: 100%;
            padding: 10px 0;

            .set {
                height: 100%;
                background-color: $white;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                margin-right: 14px;
                margin-left: 14px;

                .img_area {
                    margin: 0 auto;
                    text-align: center;
                    width: 220px;
                    height: 140px;

                    img {
                        margin: 0 auto;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

        }
    }
}












/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .Slider_logo {
        padding-top: 20px;
        padding-bottom: 20px;

        .slider_wrap {
            .slider_img_wrap {
                padding: 10px 0;

                .set {
                    .img_area {
                        width: 200px;
                        height: 120px;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .Slider_logo {
        padding-top: 20px;
        padding-bottom: 20px;

        .slider_wrap {
            .slider_img_wrap {
                padding: 10px 0;

                .set {
                    .img_area {
                        width: 200px;
                        height: 120px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .Slider_logo {
        padding-top: 10px;
        padding-bottom: 10px;

        .slider_wrap {
            .slider_img_wrap {
                padding: 10px 0;

                .set {
                    .img_area {
                        width: 160px;
                        height: 120px;
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .Slider_logo {
        padding-top: 10px;
        padding-bottom: 10px;

        .slider_wrap {
            .slider_img_wrap {
                padding: 10px 0;

                .set {
                    .img_area {
                        width: 180px;
                        height: 120px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .Slider_logo {
        padding-top: 10px;
        padding-bottom: 10px;

        .slider_wrap {
            .slider_img_wrap {
                padding: 10px 0;

                .set {
                    .img_area {
                        width: 180px;
                        height: 120px;
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .Slider_logo {
        padding-top: 10px;
        padding-bottom: 10px;

        .slider_wrap {
            .slider_img_wrap {
                padding: 10px 0;

                .set {
                    .img_area {
                        width: 180px;
                        height: 120px;
                    }
                }
            }
        }
    }
}