@import "../base/variable.scss";
@import "../base/mixins.scss";


  

.student_review_section {
    padding-bottom: 200px;

    .review_area {
        position: relative;

        .bg_img_area {
            .main_img_set {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        .slider_wrap {
            overflow: hidden; 
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin-top: 100px;
            .heading_area {
                padding-bottom: 80px;
            }
            .slider_marque{
                white-space: nowrap;
                animation: slide 15s linear infinite;
                &.reverse{
                    animation-direction: reverse;
                }
            }

            .slider_img_wrap {
                display: inline-block;

                @include clearfix();


                &:hover {
                    .btn_area {
                        opacity: 1;
                        @include transition(0.2s ease);
                    }
                }


                .slider_inner_area {
                    position: relative;
                    background-color: $white;
                    border: 1px solid $primary-color;
                    margin-right: 16px;
                    margin-left: 16px;
                    margin-bottom: 40px;
                    @include clearfix();
                    border-radius: 6px;
                    padding: 14px;

                    .re_left_area {
                        position: absolute;
                        top: 0;
                        left: 0;

                    }

                    .re_right_area {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }



                    .detail_area {
                        @include clearfix();
                        display: flex;
                        align-items: center;

                        .left_area {
                            float: left;
                            width: calc(100% - 60px);

                            .image_area {
                                float: left;
                                width: 60px;
                                height: 60px;
                                border-radius: 5px;
                                overflow: hidden;
                                position: relative;

                                img {
                                    width: 60px;
                                    height: 60px;
                                    object-fit: cover;
                                }
                            }

                            .info_area {
                                float: left;
                                width: calc(100% - 60px);
                                padding-left: 16px;

                                h3 {
                                    margin-top: 4px;
                                    font-size: 18px;
                                    color: $black;
                                    font-weight: 600;
                                }

                                p {
                                    padding-top: 5px;
                                    font-size: 14px;
                                    color: $offspara;
                                }
                            }
                        }

                        .right_area {
                            float: right;
                            width: 60px;

                            .image_area {
                                width: 39px;
                                height: 26px;
                                overflow: hidden;
                                border-radius: 5px;
                                position: relative;
                                float: right;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                }


            }


        }
    }

}


@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1500px, 0, 0); /* The image width */
    }
  }
  


/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .student_review_section {
        padding-bottom: 400px;
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .student_review_section {
        padding-bottom: 400px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .student_review_section {
        padding-bottom: 360px;

        .review_area {
            .slider_wrap {
                .heading_area {
                    padding-bottom: 50px;
                }

                .slider_img_wrap {
                    .slider_inner_area {
                        margin-bottom: 20px;
                        margin-left: 10px;
                        margin-right: 10px;

                        .detail_area {
                            .left_area {
                                width: calc(100% - 50px);

                                .info_area {
                                    margin-top: 6px;
                                    padding-left: 14px;

                                    h3 {
                                        font-size: 14px;
                                    }

                                    p {
                                        font-size: 12px;
                                    }
                                }
                            }

                            .right_area {
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .student_review_section {
        padding-bottom: 417px;

        .review_area {
            .slider_wrap {
                .heading_area {
                    padding-bottom: 50px;
                }

                .slider_img_wrap {
                    .slider_inner_area {
                        margin-bottom: 20px;
                        margin-left: 10px;
                        margin-right: 10px;

                        .detail_area {
                            .left_area {

                                .info_area {
                                    padding-left: 14px;

                                    h3 {
                                        font-size: 14px;
                                    }

                                    p {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .student_review_section {
        padding-bottom: 417px;

        .review_area {
            .slider_wrap {
                .heading_area {
                    padding-bottom: 50px;
                }

                .slider_img_wrap {
                    .slider_inner_area {
                        margin-bottom: 20px;
                        margin-left: 10px;
                        margin-right: 10px;

                        .detail_area {
                            .left_area {

                                .info_area {
                                    padding-left: 14px;

                                    h3 {
                                        font-size: 14px;
                                    }

                                    p {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .student_review_section {
        padding-bottom: 360px;

        .review_area {
            .slider_wrap {
                .heading_area {
                    padding-bottom: 50px;
                }

                .slider_img_wrap {
                    .slider_inner_area {
                        margin-bottom: 20px;
                        margin-left: 10px;
                        margin-right: 10px;

                        .detail_area {
                            .left_area {
                                width: calc(100% - 50px);

                                .info_area {
                                    padding-left: 12px;

                                    h3 {
                                        font-size: 12px;
                                    }

                                    p {
                                        font-size: 12px;
                                    }
                                }
                            }

                            .right_area {
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}