@import "../base/variable.scss";
@import "../base/mixins.scss";

.cms_banner_area {
    .bg_area {
        .heading_area {
            h1 {}

            p {
                text-align: center;
                font-size: 14px;
                color: $white;
                margin-top: 20px;
            }
        }
    }
}

.about_detail_section {
    padding-bottom: 200px;
    padding-top: 140px;

    .about_bg_area {
        position: relative;

        .bg_img_area {
            .main_img_set {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        .center_img_area {
            position: absolute;
            top: -38px;
            left: 0;
            right: 0;

            .bg_img {
                position: relative;
                width: 1319px;
                margin: 0 auto;
                max-width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }

                .image_detail {
                    position: absolute;
                    top: 38px;
                    left: 0;
                    right: 0;

                    .img_set {
                        margin: 0 auto;
                        width: 635px;
                        height: 424px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .bottom_area {
                margin-top: 130px;
                position: relative;

                h1 {
                    font-size: 48px;
                    color: $secondary-color;
                }

                ::after {
                    content: "";
                    position: absolute;
                    top: -24px;
                    left: 0;
                    right: 0;
                    width: 110px;
                    height: 15px;
                    background: $primary_color;
                    margin: 0 auto;
                }

                p {
                    margin-top: 30px;
                    font-size: 18px;
                    color: $offspara;
                }
            }

            .bottom_listing_detail {
                margin-top: 108px;

                .top_box_detail {

                    .img_area {
                        position: relative;
                        width: 118px;
                        height: 90px;
                        overflow: hidden;
                        margin: 0 auto;
                        position: relative;
                        z-index: 1;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .info_area {
                            position: absolute;
                            top: 28%;
                            left: 0;
                            right: 0;
                            text-align: center;

                            i {
                                color: $white;
                                font-size: 18px;
                            }
                        }
                    }
                }

                .bottom_box_detail {
                    .img_area {
                        position: relative;
                        width: 185px;
                        height: 125px;
                        overflow: hidden;
                        margin: 0 auto;
                        margin-top: -45px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .info_area {
                            position: absolute;
                            left: 0;
                            top: 33%;
                            right: 0;
                            text-align: center;

                            h3 {
                                font-size: 24px;
                                font-weight: 800;
                                color: $black;
                            }

                            p {
                                margin-top: 2px;
                                font-size: 14px;
                                font-weight: 600;
                                color: $black;
                            }
                        }
                    }
                }
            }
        }

    }

}

.our_mission_section {
    padding-bottom: 200px;

    .mission_detail_wrap {
        position: relative;

        h1 {
            font-size: 48px;
            color: $secondary-color;
            font-weight: 500;
        }

        ::after {
            content: "";
            position: absolute;
            top: -26px;
            left: 0;
            right: 0;
            width: 110px;
            height: 15px;
            background: $primary_color;
            margin: 0 auto;
        }

        p {
            font-size: 18px;
            color: $offspara;
            margin-top: 30px;
        }
    }
}

.about_student_left_section {
    position: relative;
    padding-bottom: 300px;

    .banner_img {
        position: relative;

        .bg_image_area {
            position: absolute;
            top: -34px;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .agent_process_wrap {

        .agent_right_text_detail {
            margin-top: 200px;
            padding-left: 50px;

            .heading_wrap_set {
                h1 {
                    &::before {
                        width: 110px;
                        right: -12px;
                    }
                }

                p {
                    font-size: 18px;
                    margin-top: 20px;
                    font-weight: 500;
                }
            }

            .right_area {
                margin-top: 30px;

                a {
                    .btn-primary-4 {
                        width: 140px;
                        height: 50px;
                        color: $secondary_color;
                        border: 1px solid $secondary_color;
                        font-weight: 600;
                        text-align: center;
                    }

                    i {
                        padding-left: 10px;
                    }
                }
            }
        }

        .agent_left_img_detail {
            margin-top: 170px;
            margin-left: 33px;

            .image_area {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
            }
        }

        .agent_left_img_detail_four {
            margin-top: 29px;
            margin-left: -75px;

            .image_area {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.about_student_right_section {
    position: relative;
    padding-bottom: 300px;

    &::before {
        content: "";
        position: absolute;
        top: -61px;
        left: -88px;
        right: 0px;
        width: 102%;
        height: 1px;
        background: $stroke;
        transform: rotate(-11deg);
    }

    .banner_img {
        float: right;

        .bg_image_area {
            position: absolute;
            top: -34px;
            right: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .agent_process_wrap {
        .agent_left_text_detail {
            margin-top: 200px;
            padding-left: 50px;

            .heading_area {
                .heading_wrap_set {
                    text-align: right !important;

                    h1 {
                        right: 87px;

                        &::before {
                            width: 110px;
                            left: -42px;
                        }
                    }

                    p {
                        font-size: 18px;
                        margin-top: 20px;
                        font-weight: 500;
                    }
                }
            }

            .right_area {
                margin-top: 30px;
                float: right;
                margin-right: 90px;

                a {
                    .btn-primary-4 {
                        width: 140px;
                        height: 50px;
                        color: $secondary_color;
                        border: 1px solid $secondary_color;
                        font-weight: 600;
                        text-align: center;
                    }

                    i {
                        padding-left: 10px;
                    }
                }
            }
        }

        .agent_right_img_detail {
            margin-top: 167px;
            margin-left: 101px;

            .image_area {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
            }
        }
    }

}

.join_us_section {
    padding-bottom: 00px;
    background-repeat: no-repeat;
    height: 100%;
    background-size: contain;

    .review_area {
        position: relative;

        .bg_img_area {
            position: relative;

            .main_img_set {
                width: 100%;
                padding-top: 50px;

                .agent_process_wrap {
                    .agent_left_text_detail {
                        margin: 0 auto;
                        text-align: center;

                        h1 {
                            font-size: 48px;
                            color: $secondary-color;
                        }

                        p {
                            font-size: 14px;
                            color: $offspara;
                            margin-top: 20px;
                        }

                        .right_area {
                            margin-top: 20px;

                            a {
                                .btn-primary-4 {
                                    width: 140px;
                                    height: 50px;
                                    color: $secondary_color;
                                    border: 1px solid $secondary_color;
                                    font-weight: 600;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                .agent_right_img_detail {
                    .image_area {
                        margin: 0 auto;
                        text-align: center;
                        margin-top: 55px;
                    }
                }
            }
        }


    }

}


/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1280px) and (max-width: 1399px) {
    .our_mission_section {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .about_student_left_section {
        padding-bottom: 200px;

        .banner_img {
            .bg_image_area {
                top: 62px;

                img {
                    width: 75%;
                }
            }
        }

        .agent_process_wrap {
            .agent_right_text_detail {
                margin-top: 166px;
            }
        }
    }

    .about_student_right_section {
        padding-bottom: 200px;

        .banner_img {
            .bg_image_area {
                top: 63px;

                img {
                    width: 73%;
                    float: right;
                }
            }
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: 156px;
            }

            .agent_right_img_detail {
                .image_area {
                    img {
                        margin-left: -40px;
                    }
                }
            }
        }

    }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .about_detail_section {
        padding-bottom: 200px;
        padding-top: 140px;

        .about_bg_area {
            position: relative;

            .bg_img_area {
                .main_img_set {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .center_img_area {
                .bottom_area {
                    margin-top: 250px;

                    h1 {
                        font-size: 38px;
                    }

                    p {
                        margin-top: 16px;
                        font-size: 16px;
                    }
                }

                .bottom_listing_detail {
                    margin-top: 60px;
                }
            }

        }

    }

    .our_mission_section {
        padding-bottom: 150px;
        margin-top: 370px;

        .mission_detail_wrap {
            h1 {
                font-size: 38px;
            }

            p {
                font-size: 16px;
                margin-top: 18px;
            }
        }
    }

    .about_student_left_section {
        padding-bottom: 180px;

        .banner_img {
            .bg_image_area {
                position: absolute;
                top: -34px;
                left: 0;

                img {
                    width: 60%;
                }
            }
        }

        .agent_process_wrap {
            .agent_right_text_detail {
                margin-top: 37px;

                .heading_wrap_set {
                    h1 {
                        font-size: 38px;

                        &::before {
                            width: 95px;
                            right: -19px;
                        }
                    }

                    p {
                        font-size: 14px;
                        margin-top: 0px;
                    }
                }

                .right_area {
                    margin-top: 30px;
                }
            }

            .agent_left_img_detail {
                margin-top: 22px;
                margin-left: 0px;

                .image_area {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .about_student_right_section {
        padding-bottom: 160px;

        &::before {
            top: -88px;
            left: -32px;
            width: 104%;
        }

        .banner_img {
            .bg_image_area {
                top: -34px;
                right: 0;
                width: 50%;
            }
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: 48px;
                padding-left: 10px;
                padding-right: 50px;

                .heading_area {
                    .heading_wrap_set {
                        h1 {
                            right: -3px;
                            font-size: 38px;

                            &::before {
                                width: 81px;
                                left: -25px;
                            }
                        }

                        p {
                            font-size: 14px;
                            margin-top: 0px;

                        }
                    }
                }

                .right_area {
                    margin-right: 3px;
                }
            }

            .agent_right_img_detail {
                margin-top: 18px;
                margin-left: -22px;
            }
        }
    }

}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .cms_banner_area {
        .bg_area {
            .heading_area {
                padding-left: 20px;
                padding-right: 20px;

                h1 {}

                p {
                    text-align: center;
                    font-size: 14px;
                    color: $white;
                    margin-top: 20px;
                }
            }
        }
    }

    .about_detail_section {
        padding-bottom: 100px;
        padding-top: 140px;

        .about_bg_area {
            position: relative;

            .bg_img_area {

                .main_img_set {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .center_img_area {
                position: unset;

                .bottom_area {
                    margin-top: 320px;

                    h1 {
                        font-size: 38px;
                    }

                    p {
                        margin-top: 16px;
                        font-size: 16px;
                    }
                }

                .bottom_listing_detail {
                    margin-top: 60px;
                }
            }

        }

    }

    .our_mission_section {
        padding-bottom: 80px;

        .mission_detail_wrap {
            h1 {
                font-size: 38px;
            }

            p {
                font-size: 16px;
                max-width: 100%;
                width: 600px;
                margin: 0 auto;
                margin-top: 18px;
            }
        }
    }

    .about_student_left_section {
        padding-bottom: 180px;

        .agent_process_wrap {
            .agent_right_text_detail {
                margin: 0 auto;
                margin-top: 37px;
                padding-left: 0px;

                .heading_wrap_set {
                    text-align: center !important;

                    h1 {
                        font-size: 38px;

                        &::before {
                            width: 95px;
                            right: -19px;
                        }
                    }

                    p {
                        font-size: 14px;
                        margin-top: 0px;
                        margin: 0 auto;
                    }
                }

                .right_area {
                    padding-top: 30px;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            .agent_left_img_detail {
                margin-top: 22px;
                margin-left: 0px;

                .image_area {
                    text-align: center;
                }
            }
        }
    }

    .about_student_right_section {
        padding-bottom: 160px;

        &::before {
            top: -88px;
            left: -32px;
            width: 104%;
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: 48px;
                padding-left: 10px;
                padding-right: 0px;

                .heading_area {
                    .heading_wrap_set {
                        text-align: center !important;

                        h1 {
                            right: -3px;
                            font-size: 38px;

                            &::before {
                                width: 81px;
                                left: -25px;
                            }
                        }

                        p {
                            font-size: 14px;
                            margin-top: 0px;
                            margin: 0 auto;

                        }
                    }
                }

                .right_area {
                    padding-top: 30px;
                    margin: 0 auto;
                    text-align: center;
                    float: unset;
                }
            }

            .agent_right_img_detail {
                margin-top: 18px;
                margin-left: -22px;
                padding-top: 40px;

                .image_area {
                    margin: 0 auto;
                    text-align: center;
                }

                .heading_area {
                    &.el {
                        text-align: center !important;
                    }
                }
            }
        }
    }

    .join_us_section {
        .review_area {
            .bg_img_area {
                .main_img_set {
                    .agent_process_wrap {
                        .agent_left_text_detail {
                            h1 {
                                font-size: 38px;
                            }
                        }
                    }

                    .agent_right_img_detail {
                        .image_area {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .cms_banner_area {
        .bg_area {
            &.ul {
                height: 171px;
            }

            .heading_area {
                padding-left: 20px;
                padding-right: 20px;

                p {
                    text-align: center;
                    font-size: 14px;
                    color: $white;
                    margin-top: 20px;
                }
            }
        }
    }

    .about_detail_section {
        padding-bottom: 100px;
        padding-top: 60px;

        .about_bg_area {
            position: relative;

            .bg_img_area {

                .main_img_set {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .center_img_area {
                position: unset;

                .bottom_area {
                    margin-top: 320px;

                    h1 {
                        font-size: 38px;
                    }

                    p {
                        margin-top: 16px;
                        font-size: 16px;
                    }
                }

                .bottom_listing_detail {
                    margin-top: 60px;
                }
            }

        }

    }

    .our_mission_section {
        padding-bottom: 80px;

        .mission_detail_wrap {
            h1 {
                font-size: 38px;
            }

            p {
                font-size: 16px;
                max-width: 100%;
                width: 600px;
                margin: 0 auto;
                margin-top: 18px;
            }
        }
    }

    .about_student_left_section {
        padding-bottom: 180px;

        .agent_process_wrap {
            .agent_right_text_detail {
                margin: 0 auto;
                margin-top: 37px;
                padding-left: 0px;

                .heading_wrap_set {
                    text-align: center !important;

                    h1 {
                        font-size: 38px;

                        &::before {
                            width: 95px;
                            right: -19px;
                        }
                    }

                    p {
                        font-size: 14px;
                        margin-top: 0px;
                        margin: 0 auto;
                    }
                }

                .right_area {
                    padding-top: 30px;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            .agent_left_img_detail {
                margin-top: 22px;
                margin-left: 0px;

                .image_area {
                    text-align: center;
                }
            }
        }
    }

    .about_student_right_section {
        padding-bottom: 160px;

        &::before {
            top: -88px;
            left: -32px;
            width: 104%;
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: 48px;
                padding-left: 10px;
                padding-right: 0px;

                .heading_area {
                    .heading_wrap_set {
                        text-align: center !important;

                        h1 {
                            right: -3px;
                            font-size: 38px;

                            &::before {
                                width: 81px;
                                left: -25px;
                            }
                        }

                        p {
                            font-size: 14px;
                            margin-top: 0px;
                            margin: 0 auto;

                        }
                    }
                }

                .right_area {
                    padding-top: 30px;
                    margin: 0 auto;
                    text-align: center;
                    float: unset;
                }
            }

            .agent_right_img_detail {
                margin-top: 18px;
                margin-left: -22px;
                padding-top: 40px;

                .image_area {
                    margin: 0 auto;
                    text-align: center;
                }

                .heading_area {
                    &.el {
                        text-align: center !important;
                    }
                }
            }
        }
    }

    .join_us_section {
        .review_area {
            .bg_img_area {
                .main_img_set {
                    .agent_process_wrap {
                        .agent_left_text_detail {
                            h1 {
                                font-size: 38px;
                            }
                        }
                    }

                    .agent_right_img_detail {
                        .image_area {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .cms_banner_area {
        .bg_area {
            &.ul {
                height: 170px;
            }

            .heading_area {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    .about_detail_section {
        padding-bottom: 50px;
        padding-top: 50px;

        .about_bg_area {
            position: relative;

            .center_img_area {
                position: unset;

                .bg_img {
                    .image_detail {
                        .img_set {
                            margin: 0 auto;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .bottom_area {
                    margin-top: 215px;

                    h1 {
                        font-size: 24px;
                    }

                    p {
                        margin-top: 10px;
                        font-size: 14px;
                    }
                }


                .bottom_listing_detail {
                    margin-top: 40px;

                    .top_box_detail {
                        .img_area {
                            width: 100px;
                            height: 77px;

                            .info_area {
                                top: 28%;

                                i {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .bottom_box_detail {
                        .img_area {
                            width: 150px;
                            height: 100px;
                            margin-top: -42px;

                            .info_area {
                                top: 40%;

                                h3 {
                                    font-size: 18px;
                                }

                                p {
                                    font-size: 14px;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .our_mission_section {
        padding-bottom: 20px;

        .mission_detail_wrap {
            h1 {
                font-size: 30px;
            }

            p {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }

    .about_student_left_section {
        padding-bottom: 180px;

        .agent_process_wrap {
            .agent_right_text_detail {
                margin: 0 auto;
                margin-top: 37px;
                padding-left: 0px;

                .heading_wrap_set {
                    text-align: center !important;

                    h1 {
                        font-size: 30px;

                        &::before {
                            width: 75px;
                            right: -19px;
                        }
                    }

                    p {
                        font-size: 14px;
                        margin-top: 0px;
                        margin: 0 auto;
                    }
                }

                .right_area {
                    padding-top: 30px;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            .agent_left_img_detail {
                margin-top: 22px;
                margin-left: 0px;

                .image_area {
                    text-align: center;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .about_student_right_section {
        padding-bottom: 160px;

        &::before {
            top: -88px;
            left: -13px;
            width: 104%;
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: -22px;
                padding-left: 0px;
                padding-right: 0px;

                .heading_area {
                    .heading_wrap_set {
                        text-align: center !important;

                        h1 {
                            right: -3px;
                            font-size: 30px;

                            &::before {
                                width: 67px;
                                left: -25px;
                            }
                        }

                        p {
                            font-size: 14px;
                            margin-top: 0px;
                            margin: 0 auto;

                        }
                    }
                }

                .right_area {
                    padding-top: 30px;
                    margin: 0 auto;
                    text-align: center;
                    float: unset;
                }
            }

            .agent_right_img_detail {
                margin-top: 18px;
                margin-left: 0px;
                padding-top: 40px;

                .image_area {
                    margin: 0 auto;
                    text-align: center;

                    img {
                        width: 100%;
                    }
                }

                .heading_area {
                    &.el {
                        text-align: center !important;
                    }
                }
            }
        }
    }

    .join_us_section {
        .review_area {
            .bg_img_area {
                .main_img_set {
                    .agent_process_wrap {
                        .agent_left_text_detail {
                            h1 {
                                font-size: 30px;
                            }
                        }
                    }

                    .agent_right_img_detail {
                        .image_area {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .cms_banner_area {
        .bg_area {
            &.ul {
                height: 170px;
            }

            .heading_area {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    .about_detail_section {
        padding-bottom: 50px;
        padding-top: 50px;

        .about_bg_area {
            position: relative;

            .center_img_area {
                position: unset;

                .bg_img {
                    .image_detail {
                        .img_set {
                            margin: 0 auto;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .bottom_area {
                    margin-top: 215px;

                    h1 {
                        font-size: 24px;
                    }

                    p {
                        margin-top: 10px;
                        font-size: 14px;
                    }
                }


                .bottom_listing_detail {
                    margin-top: 40px;

                    .top_box_detail {
                        .img_area {
                            width: 100px;
                            height: 77px;

                            .info_area {
                                top: 28%;

                                i {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .bottom_box_detail {
                        .img_area {
                            width: 150px;
                            height: 100px;
                            margin-top: -42px;

                            .info_area {
                                top: 40%;

                                h3 {
                                    font-size: 18px;
                                }

                                p {
                                    font-size: 14px;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .our_mission_section {
        padding-bottom: 20px;

        .mission_detail_wrap {
            h1 {
                font-size: 30px;
            }

            p {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }

    .about_student_left_section {
        padding-bottom: 180px;

        .agent_process_wrap {
            .agent_right_text_detail {
                margin: 0 auto;
                margin-top: 37px;
                padding-left: 0px;

                .heading_wrap_set {
                    text-align: center !important;

                    h1 {
                        font-size: 30px;

                        &::before {
                            width: 75px;
                            right: -19px;
                        }
                    }

                    p {
                        font-size: 14px;
                        margin-top: 0px;
                        margin: 0 auto;
                    }
                }

                .right_area {
                    padding-top: 30px;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            .agent_left_img_detail {
                margin-top: 22px;
                margin-left: 0px;

                .image_area {
                    text-align: center;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .about_student_right_section {
        padding-bottom: 160px;

        &::before {
            top: -88px;
            left: -13px;
            width: 104%;
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: -22px;
                padding-left: 0px;
                padding-right: 0px;

                .heading_area {
                    .heading_wrap_set {
                        text-align: center !important;

                        h1 {
                            right: -3px;
                            font-size: 30px;

                            &::before {
                                width: 67px;
                                left: -25px;
                            }
                        }

                        p {
                            font-size: 14px;
                            margin-top: 0px;
                            margin: 0 auto;

                        }
                    }
                }

                .right_area {
                    padding-top: 30px;
                    margin: 0 auto;
                    text-align: center;
                    float: unset;
                }
            }

            .agent_right_img_detail {
                margin-top: 18px;
                margin-left: 0px;
                padding-top: 40px;

                .image_area {
                    margin: 0 auto;
                    text-align: center;

                    img {
                        width: 100%;
                    }
                }

                .heading_area {
                    &.el {
                        text-align: center !important;
                    }
                }
            }
        }
    }

    .join_us_section {
        .review_area {
            .bg_img_area {
                .main_img_set {
                    .agent_process_wrap {
                        .agent_left_text_detail {
                            h1 {
                                font-size: 30px;
                            }
                        }
                    }

                    .agent_right_img_detail {
                        .image_area {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .cms_banner_area {
        .bg_area {
            &.ul {
                height: 170px;
            }

            .heading_area {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    .about_detail_section {
        padding-bottom: 50px;
        padding-top: 50px;

        .about_bg_area {
            position: relative;

            .center_img_area {
                position: unset;

                .bg_img {
                    .image_detail {
                        .img_set {
                            margin: 0 auto;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .bottom_area {
                    margin-top: 215px;

                    h1 {
                        font-size: 24px;
                    }

                    p {
                        margin-top: 10px;
                        font-size: 14px;
                    }
                }


                .bottom_listing_detail {
                    margin-top: 40px;

                    .top_box_detail {
                        .img_area {
                            width: 100px;
                            height: 77px;

                            .info_area {
                                top: 28%;

                                i {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .bottom_box_detail {
                        .img_area {
                            width: 150px;
                            height: 100px;
                            margin-top: -42px;

                            .info_area {
                                top: 40%;

                                h3 {
                                    font-size: 18px;
                                }

                                p {
                                    font-size: 14px;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .our_mission_section {
        padding-bottom: 20px;

        .mission_detail_wrap {
            h1 {
                font-size: 30px;
            }

            p {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }

    .about_student_left_section {
        padding-bottom: 180px;

        .agent_process_wrap {
            .agent_right_text_detail {
                margin: 0 auto;
                margin-top: 37px;
                padding-left: 0px;

                .heading_wrap_set {
                    text-align: center !important;

                    h1 {
                        font-size: 30px;

                        &::before {
                            width: 75px;
                            right: -19px;
                        }
                    }

                    p {
                        font-size: 14px;
                        margin-top: 0px;
                        margin: 0 auto;
                    }
                }

                .right_area {
                    padding-top: 30px;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            .agent_left_img_detail {
                margin-top: 22px;
                margin-left: 0px;

                .image_area {
                    text-align: center;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .about_student_right_section {
        padding-bottom: 160px;

        &::before {
            top: -88px;
            left: -13px;
            width: 104%;
        }

        .agent_process_wrap {
            .agent_left_text_detail {
                margin-top: -22px;
                padding-left: 0px;
                padding-right: 0px;

                .heading_area {
                    .heading_wrap_set {
                        text-align: center !important;

                        h1 {
                            right: -3px;
                            font-size: 30px;

                            &::before {
                                width: 67px;
                                left: -25px;
                            }
                        }

                        p {
                            font-size: 14px;
                            margin-top: 0px;
                            margin: 0 auto;

                        }
                    }
                }

                .right_area {
                    padding-top: 30px;
                    margin: 0 auto;
                    text-align: center;
                    float: unset;
                }
            }

            .agent_right_img_detail {
                margin-top: 18px;
                margin-left: 0px;
                padding-top: 40px;

                .image_area {
                    margin: 0 auto;
                    text-align: center;

                    img {
                        width: 100%;
                    }
                }

                .heading_area {
                    &.el {
                        text-align: center !important;
                    }
                }
            }
        }
    }

    .join_us_section {
        .review_area {
            .bg_img_area {
                .main_img_set {
                    .agent_process_wrap {
                        .agent_left_text_detail {
                            h1 {
                                font-size: 30px;
                            }
                        }
                    }

                    .agent_right_img_detail {
                        .image_area {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}