@import "../base/variable.scss";
@import "../base/mixins.scss";

.success_area {
    margin-top: 50px;
    margin-bottom: 40px;
    .inner_area {
        .box_area {
            width: 100%;
            @include clearfix();
            height: 100%;
            display: block;
            background-color: $white;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            overflow: hidden;

            .heading_area {
                background: linear-gradient(101.56deg, #B4ECB9 -19.36%, #86DD8D 118.07%);
                padding: 20px 24px;

                h5 {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .info {
                max-height: 637px;
                overflow-y: auto;
                @include clearfix();

                &::-webkit-scrollbar {
                    width: 8px;
                    border-radius: 10px;
                    background-color: transparent;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 8px;
                }

                &::-webkit-scrollbar-thumb {
                    background: $stroke;
                    border-radius: 8px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: $stroke;
                }

                .detail_area {
                    @include clearfix();
                    border-bottom: 1px solid $stroke;
                    padding-top: 20px;
                    padding-left: 20px;
                    padding-bottom: 20px;

                    .left_area {
                        float: left;
                        width: 90px;

                        .image_area {
                            height: 90px;
                            width: 90px;
                            border-radius: 20px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .right_area {
                        padding-left: 20px;
                        width: calc(100% - 90px);
                        float: left;
                        padding-bottom: 0;

                        h4 {
                            padding-top: 5px;
                            font-size: 18px;
                            font-weight: 600;
                        }

                        p {
                            padding-top: 5px;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }
            }

        }
    }
}


/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .success_area {
        .inner_area {
            .box_area {
                .info {
                    .detail_area {
                        .right_area {
                            padding-left: 18px;

                            h4 {
                                font-size: 16px;
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }

            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .success_area {
        margin-top: 30px;

        .inner_area {
            .box_area {
                .heading_area {
                    padding: 16px 20px;
                }

                .info {
                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    .detail_area {
                        .right_area {
                            padding-left: 16px;

                            h4 {
                                font-size: 14px;
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }

            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .success_area {
        margin-top: 30px;
        margin-bottom: 10px;

        .inner_area {
            .box_area {
                .info {
                    .detail_area {
                        .right_area {
                            padding-left: 18px;

                            h4 {
                                font-size: 16px;
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }

            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .success_area {
        margin-top: 30px;
        margin-bottom: 10px;

        .inner_area {
            .box_area {
                .info {
                    .detail_area {
                        .right_area {
                            padding-left: 18px;

                            h4 {
                                font-size: 16px;
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }

            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}