@import "../base/variable.scss";
@import "../base/mixins.scss";

.terms_section {
    padding-bottom: 100px;

    .terms_wrap {
        .detail_area {
            margin-bottom: 40px !important;
            width: 800px;
            max-width: 100%;
            margin: 0 auto;


            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 30px;
                color: $secondary-color;
                font-weight: bold;
                margin-bottom: 30px;
            }

            p {
                font-size: 14px;
                color: $offspara;
                margin-bottom: 40px;
                text-align: center;
                font-weight: 500;
            }
            ul,ol{
                li{
                        font-size: 14px;
                        color: $offspara;
                        margin-bottom: 40px;
                        text-align: center;
                        font-weight: 500;
                }
            }

        }
    }
}


.privacy_section {
    padding-bottom: 100px;

    .privacy_wrap {
        .detail_area {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 30px;
                color: $secondary-color;
                font-weight: bold !important;
                margin-bottom: 30px;
            }

            p {
                font-size: 14px;
                color: $offspara;
                margin-bottom: 40px;
            }
            ul,ol{
                li{
                        font-size: 14px;
                        color: $offspara;
                        margin-bottom: 40px;
                        font-weight: 500;
                }
            }
        }

        .right_wrap {
            .black_box_area {
                background-color: $secondary-color;
                border-radius: 5px;
                padding: 30px 20px;

                h4 {
                    font-size: 24px;
                    color: $white;
                    padding-bottom: 40px;
                    font-weight: 600;
                }

                a {
                    p {
                        font-size: 18px;
                        color: $white;
                        padding-bottom: 24px;
                    }
                }
            }
        }
    }
}











/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .privacy_section {
        .privacy_wrap {
            .detail_area {

                h1,
                h2,
                h3,
                h4 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    color: $offspara;
                    margin-bottom: 40px;
                }
            }

            .right_wrap {
                .black_box_area {
                    h4 {
                        font-size: 20px;
                        padding-bottom: 30px;
                    }

                    a {
                        p {
                            font-size: 16px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .terms_section {
        .terms_wrap {
            .detail_area {
                width: 500px;

                h1,
                h2,
                h3,
                h4 {
                    font-size: 22px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .privacy_section {
        .privacy_wrap {
            .detail_area {

                h1,
                h2,
                h3,
                h4 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 40px;
                }
            }

            .right_wrap {
                .black_box_area {
                    h4 {
                        font-size: 20px;
                        padding-bottom: 30px;

                    }

                    a {
                        p {
                            font-size: 16px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .terms_section {
        .terms_wrap {
            .detail_area {
                width: 500px;

                h1,
                h2,
                h3,
                h4 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {

    .privacy_section {
        .privacy_wrap {
            .detail_area {

                h1,
                h2,
                h3,
                h4 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 40px;
                }
            }

            .right_wrap {
                .black_box_area {
                    h4 {
                        font-size: 20px;
                        padding-bottom: 30px;

                    }

                    a {
                        p {
                            font-size: 16px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .terms_section {
        .terms_wrap {
            .detail_area {
                width: 500px;

                h1,
                h2,
                h3,
                h4 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .privacy_section {
        .privacy_wrap {
            .detail_area {

                h1,
                h2,
                h3,
                h4 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 40px;
                }
            }

            .right_wrap {
                .black_box_area {
                    h4 {
                        font-size: 20px;
                        padding-bottom: 30px;

                    }

                    a {
                        p {
                            font-size: 16px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .terms_section {
        .terms_wrap {
            .detail_area {
                width: 500px;

                h1,
                h2,
                h3,
                h4 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}