@import "../base/variable.scss";
@import "../base/mixins.scss";

.testimonial_area {
    padding-bottom: 100px;

    .slider_wrap {
        position: relative;

        .heading_area {}

        .testimonial_slider {
            margin-top: 100px;

            .slider_info_area {
                width: 100%;
                @include clearfix();
                height: 100%;
                display: block;
                margin-right: 20px;
                // overflow: hidden;

                .slider_inner_area {
                    @include clearfix();
                    margin-right: 50px;

                    .testimonial_top_area {
                        @include clearfix();

                        .left_area {
                            width: 60px;
                            float: left;

                            .img_area {
                                width: 60px;
                                height: 60px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    overflow: hidden;
                                    object-fit: cover;
                                }
                            }
                        }

                        .right_area {
                            width: calc(100% - 60px);
                            float: left;

                            .rating_area {
                                padding-left: 20px;
                                @include clearfix();

                                .empty-icons {
                                    color: $secondary_color;
                                    float: left;
                                    width: 130px;
                                }

                                svg.star-svg {
                                    width: 24px;
                                    height: 24px;
                                }

                                .react-simple-star-rating-tooltip {
                                    display: inline-block !important;
                                    padding: 0 !important;
                                    background-color: transparent !important;
                                    color: $yellow  !important;
                                    margin-left: 0px !important;
                                    vertical-align: middle !important;
                                    border-radius: 0 !important;

                                }

                                .rating {
                                    font-size: 14px;
                                }
                            }

                            h4 {
                                padding-top: 10px;
                                padding-left: 20px;
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }
                    }

                    .des_area {
                        padding-top: 20px;

                        p {
                            font-size: 14px;
                            color: $offspara;
                        }
                    }
                }
            }
        }

        .slick-slider {
            padding-left: 300px;

        }

        .slick-arrow {
            color: $black;
            background-color: transparent;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 4;


            &.slick-prev {
                left: 0;
                top: 148px;

                &::before {
                    color: $white;
                    content: "\f177" !important;
                    font-family: 'Font Awesome 5 Pro' !important;
                    color: $secondary_color;
                    font-size: 68px;
                    font-weight: 100;
                    line-height: 0px;
                    transition: (0.2s ease);
                }


            }

            &.slick-next {
                left: 0;
                top: 218px;

                &::before {
                    color: $secondary_color  !important;
                    content: "\f178" !important;
                    font-family: 'Font Awesome 5 Pro' !important;
                    font-size: 68px;
                    font-weight: 100;
                    transition: (0.2s ease);
                }

                &:hover {
                    transition: (0.2s ease);

                    &::before {
                        color: $secondary_color  !important;
                        transition: (0.2s ease);
                    }
                }
            }

        }

        .count {
            position: absolute;
            left: 0px;
            top: 69%;

            p {
                font-size: 36px;
                font-weight: 600;

                sup {
                    font-size: 14px;
                    color: $offspara;
                    margin-top: -30px;
                    // font-weight: 600; 
                }
            }
        }
    }
}









/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .testimonial_area {
        padding-bottom: 100px;

        .slider_wrap {
            .testimonial_slider {
                margin-top: 80px;

                .slider_info_area {

                    .slider_inner_area {
                        margin-right: 40px;

                        .testimonial_top_area {
                            .right_area {
                                h4 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 180px;
            }

            .count {
                top: 69%;
            }
        }
    }

}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .testimonial_area {
        padding-bottom: 100px;

        .slider_wrap {
            .testimonial_slider {
                margin-top: 80px;

                .slider_info_area {

                    .slider_inner_area {
                        margin-right: 40px;

                        .testimonial_top_area {
                            .right_area {
                                h4 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 180px;
            }

            .count {
                top: 69%;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
     .testimonial_area {
        padding-bottom: 80px;

        .slider_wrap {
            position: unset;

            .testimonial_slider {
                margin-top: 40px;

                .slider_info_area {
                    display: unset;
                    margin-right: 0px;


                    .slider_inner_area {
                        margin-right: 10px;
                        margin-left: 10px;

                        .testimonial_top_area {
                            .right_area {
                                .rating_area {
                                    padding-left: 20px;


                                    .empty-icons {
                                        width: 118px;
                                    }

                                    svg.star-svg {
                                        width: 22px;
                                        height: 22px;
                                    }
                                }

                                h4 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 0px;
            }

            .slick-arrow {
                display: none;

                &.slick-prev {
                    display: none;

                    &::before {
                        display: none;
                    }
                }

                &.slick-next {
                    display: none;


                    &::before {
                        display: none;
                    }

                    &:hover {
                        display: none;

                        &::before {
                            display: none;
                        }
                    }
                }

            }

            .count {
                display: none;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .testimonial_area {
        padding-bottom: 80px;

        .slider_wrap {
            position: unset;

            .testimonial_slider {
                margin-top: 40px;

                .slider_info_area {
                    display: unset;
                    margin-right: 0px;


                    .slider_inner_area {
                        margin-right: 10px;
                        margin-left: 10px;

                        .testimonial_top_area {
                            .right_area {
                                .rating_area {
                                    padding-left: 20px;


                                    .empty-icons {
                                        width: 118px;
                                    }

                                    svg.star-svg {
                                        width: 22px;
                                        height: 22px;
                                    }
                                }

                                h4 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 0px;
            }

            .slick-arrow {
                display: none;

                &.slick-prev {
                    display: none;

                    &::before {
                        display: none;
                    }
                }

                &.slick-next {
                    display: none;


                    &::before {
                        display: none;
                    }

                    &:hover {
                        display: none;

                        &::before {
                            display: none;
                        }
                    }
                }

            }

            .count {
                display: none;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .testimonial_area {
        padding-bottom: 80px;

        .slider_wrap {
            position: unset;

            .testimonial_slider {
                margin-top: 40px;

                .slider_info_area {
                    display: unset;
                    margin-right: 0px;


                    .slider_inner_area {
                        margin-right: 10px;
                        margin-left: 10px;

                        .testimonial_top_area {
                            .right_area {
                                .rating_area {
                                    padding-left: 20px;


                                    .empty-icons {
                                        width: 118px;
                                    }

                                    svg.star-svg {
                                        width: 22px;
                                        height: 22px;
                                    }
                                }

                                h4 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 0px;
            }

            .slick-arrow {
                display: none;

                &.slick-prev {
                    display: none;

                    &::before {
                        display: none;
                    }
                }

                &.slick-next {
                    display: none;


                    &::before {
                        display: none;
                    }

                    &:hover {
                        display: none;

                        &::before {
                            display: none;
                        }
                    }
                }

            }

            .count {
                display: none;
            }
        }
    }

}

/* Smaller phones */
@media (max-width: 320px) {
    .testimonial_area {
        padding-bottom: 80px;

        .slider_wrap {
            position: unset;

            .testimonial_slider {
                margin-top: 40px;

                .slider_info_area {
                    display: unset;
                    margin-right: 0px;


                    .slider_inner_area {
                        margin-right: 10px;
                        margin-left: 10px;

                        .testimonial_top_area {
                            .right_area {
                                .rating_area {
                                    padding-left: 20px;


                                    .empty-icons {
                                        width: 118px;
                                    }

                                    svg.star-svg {
                                        width: 22px;
                                        height: 22px;
                                    }
                                }

                                h4 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 0px;
            }

            .slick-arrow {
                display: none;

                &.slick-prev {
                    display: none;

                    &::before {
                        display: none;
                    }
                }

                &.slick-next {
                    display: none;


                    &::before {
                        display: none;
                    }

                    &:hover {
                        display: none;

                        &::before {
                            display: none;
                        }
                    }
                }

            }

            .count {
                display: none;
            }
        }
    }
}