@import "../base/variable.scss";
@import "../base/mixins.scss";

.top_university_section {
    padding-bottom: 200px;

    .heading_area {}

    .top_university_detail_area {
        padding-top: 70px;
        position: relative;
        padding-left: 100px;

        .side_university_area {
            float: left;
            width: 35%;
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 70px;

            .side_strange {
                padding-top: 26px;
                .slick-slide {
                    padding: 10px;
                }
                .slick-slide > div {
                    display: block;
                }

                .uni_box_area {
                    position: relative;
                    @include clearfix();
                    background-color: $white;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    border-radius: 5px;
                    overflow: hidden;
                    display: flex !important;
                    align-items: stretch;
                    transition: 0.2s ease;
                    .uni_left_area {
                        float: left;
                        width: 138px;
                       
                        
                        .img_area {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                                object-fit: cover;
                            }
                        }
                    }

                    .uni_right_area {
                        display: block;
                        padding-top: 20px;
                        padding-bottom: 10px;
                        padding-left: 16px;
                        padding-right: 16px;
                        float: right;
                        width: calc(100% - 138px);


                        .detail_area {
                            h4 {
                                font-size: 16px;
                                margin-bottom: 10px;
                                padding-right: 22px;
                            }

                            a {
                                .location_detail {
                                    @include clearfix();

                                    .left_area {
                                        width: 30px;
                                        float: left;

                                        i {
                                            color: $secondary_color;
                                            margin-right: 10px;
                                            font-size: 18px;
                                        }
                                    }

                                    .right_area {
                                        float: left;
                                        width: calc(100% - 30px);
                                        color: $black;
                                        font-size: 14px;
                                    }
                                }

                            }

                        }

                        .side_rating_area {
                            @include clearfix();
                            margin-top: 8px;
                            ul{
                                li{
                                    display: inline-block;
                                    margin-left: 10px;
                                    &:first-child{
                                        margin-left: 0;
                                    }
                                    i{
                                        color: $stroke;
                                        font-size: 16px;
                                        &.active{
                                            color:$yellow;
                                        }
                                    }
                                }
                            }
                        }


                        .icon_area {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding-top: 20px;
                            padding-right: 16px;

                            a {
                                i {
                                    color: $black;
                                    font-weight: 500;
                                    font-size: 18px;
                                }
                            }

                        }
                    }

                    &:hover {
                        background-color: $secondary_color;
                        color: $white;
                        transition: 0.2s ease;

                        .uni_right_area {
                            .detail_area {
                                a {
                                    .location_detail {
                                        .left_area {

                                            i {
                                                color: $white;
                                            }
                                        }

                                        .right_area {
                                            color: $white;
                                        }
                                    }
                                }
                            }
                            .side_rating_area{
                                ul{
                                    li{
                                        i{
                                            color: $midblack;
                                            &.active{
                                                color: $yellow;
                                            }
                                        }
                                    }
                                }
                            }

                            .icon_area {
                                i {
                                    color: $white;

                                }
                            }
                        }
                    }
                }

            }
        }
        .slick-arrow{
            position: absolute;
            bottom: 0;
            right: 27%;
            top: unset;
            left: unset !important;
            z-index: 99;
            height: 50px;
            width: 151px;
            margin-bottom: -74px;
            &:hover {
                background-color: $secondary_color;
                border: 1px solid $secondary_color;
                color: $white;
                transition: all 0.3s ease-in-out;
            }
            &.slick-prev{
                display: inline-block !important;
                border: 1px solid $secondary_color;
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                border-radius: 4px;
                padding: 0px 50px;
                left: unset !important;
                margin-right: 149px;
                &::before{
                    content: '\f177';
                    color: $black;
                    font-family: 'Font Awesome 5 Pro';
                    font-size: 28px;
                }
                &:hover {
                    &::before{
                        color: $white; 
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            &.slick-next {
                display: inline-block !important;
                border: 1px solid $secondary_color;
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
                border-radius: 4px;
                padding: 0px 50px;
                &:hover {
                    &::before{
                        color: $white; 
                        transition: all 0.3s ease-in-out;
                    }
                }
                &::before{
                    content: '\f178';
                    color: $black;
                    font-family: 'Font Awesome 5 Pro';
                    font-size: 28px;
                }

                i {
                    font-size: 30px;
                    font-weight: 300;
                }

               
            }
        }

        .university_inner_area {
            display: flex !important;
            @include clearfix();
            padding-left: 120px;

            .left_area {
                width: 70%;
                position: relative;
                float: left;

                .img_area {
                    position: relative;
                    height: 100%;
                    width: 100%;


                    img {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        object-fit: cover;
                    }
                }


                .slider_detail_area {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding-right: 10px;

                    p {
                        color: $white;
                        font-size: 44px;

                        sup {
                            font-size: 14px !important;
                        }
                    }
                }
            }

            .right_area {
                width: calc(100% - 70%);
                float: left;

                .logo_area {
                    .img_area {
                        background-color: $bg-light;
                        padding-top: 20px;
                        padding-left: 30px;
                        padding-bottom: 20px;

                        img {
                            object-fit: cover;
                            text-align: center;
                            width: 200px;
                        }
                    }
                }

                .rating_area {
                    padding-left: 20px;
                    border-bottom: 1px solid $stroke;
                    margin-top: 16px;
                    padding-bottom: 16px;
                    @include clearfix();
                    ul{
                        li{
                            display: inline-block;
                            margin-left: 10px;
                            color: $yellow;
                            font-size: 14px;
                            &:first-child{
                                margin-left: 0;
                            }
                            i{
                                color: $stroke;
                                font-size: 20px;
                                &.active{
                                    color: $yellow;
                                }
                            }
                        }
                    }
                    .rating {
                        font-size: 14px;
                    }
                }

                .university_detail_area {
                    margin-top: 20px;
                    margin-left: 20px;

                    h4 {
                        font-size: 24px;
                        padding-bottom: 16px;
                        color: $secondary_color;
                        font-weight: 600;
                    }

                    .university_location_area {
                        padding-bottom: 50px;

                        a {
                            .left_area {
                                width: 40px;
                                float: left;

                                i {
                                    color: $secondary_color;
                                    margin-right: 14px;
                                    font-size: 22px;
                                }
                            }

                            .right_area {
                                width: calc(100% - 40px);
                                float: left;
                                color: $black;
                                font-size: 16px;
                            }

                        }

                    }

                    p {
                        font-size: 14px;
                        color: $offspara;

                        a {
                            color: $black;
                            font-weight: 600;
                        }
                    }
                }

                .uni_detail_area {
                    margin-top: 60px;

                    .box_area {
                        border-bottom: 1px solid $stroke;
                        @include clearfix();
                        background-color: $bg-light;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        padding-left: 30px;
                        padding-right: 30px;

                        &.el {
                            border: none;
                            background-color: $primary_color;
                        }

                        .dt_left_area {
                            float: left;
                        }

                        .dt_right_area {
                            float: right;
                        }
                    }
                }
            }
        }
    }
}






/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .top_university_section {
        padding-bottom: 120px;

        .top_university_detail_area {
            .side_university_area {
                width: 38%;
                padding-top: 80px;

                .side_strange {
                    padding-top: 14px;

                   
                }
            }

            .university_inner_area {
                padding-left: 19px;

                .left_area {
                    .slider_detail_area {
                        p {
                            font-size: 38px;
                        }
                    }
                }

                .right_area {

                    .university_detail_area {
                        margin-top: 20px;
                        margin-left: 20px;

                        h4 {
                            font-size: 20px;
                        }

                        .university_location_area {
                            padding-bottom: 60px;

                            a {
                                .left_area {
                                    i {
                                        font-size: 20px;
                                    }
                                }

                                .right_area {
                                    font-size: 14px;
                                }
                            }
                        }


                        p {
                            font-size: 14px;
                        }
                    }

                    .uni_detail_area {
                        margin-top: 50px;

                        .box_area {
                            padding-left: 16px;
                            padding-right: 16px;

                            .dt_left_area {
                                font-size: 14px;
                            }

                            .dt_right_area {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {

    .top_university_section {
        padding-bottom: 130px;

        .top_university_detail_area {
            padding-top: 70px;
            padding-left: 0px;

            .side_university_area {
                display: none;
                float: unset;
                width: 100%;
                position: unset;
                top: unset;
                left: unset;
                padding-top: 30px;

                .side_strange {
                    padding-top: 20px;
                    @include clearfix();

                    .uni_box_area {
                       
                        width: 47%;
                        float: left;
                        margin: 0 10px;
                        margin-top: 30px;

                        .uni_right_area {
                            .detail_area {
                                h4 {
                                    font-size: 16px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }

                }
            }
            

            .university_inner_area {
                padding-left: 0px;

                .left_area {
                    width: 60%;

                    .slider_detail_area {
                        padding-right: 10px;
                    }

                    .slider_icon_area {
                        padding-bottom: 30px;

                        .left_icon_area {
                            padding: 8px 50px;

                            i {
                                font-size: 30px;
                                font-weight: 300;
                            }


                        }

                        .right_icon_area {
                            display: inline-block;
                            border: 1px solid $secondary_color;
                            border-top-left-radius: 0 !important;
                            border-top-right-radius: 0 !important;
                            border-bottom-left-radius: 0 !important;
                            border-radius: 4px;
                            padding: 8px 50px;

                            i {
                                font-size: 30px;
                                font-weight: 300;
                            }

                            &:hover {
                                background-color: $secondary_color;
                                border: 1px solid $secondary_color;
                                color: $white;
                                transition: (0.2s ease);

                            }
                        }
                    }
                }

                .right_area {
                    width: calc(100% - 60%);

                    .logo_area {
                        .img_area {
                            padding-right: 30px;

                            img {
                                width: 100%;
                            }
                        }
                    }


                    .university_detail_area {
                        padding-left: 0px;

                        h4 {
                            font-size: 20px;

                        }

                        .university_location_area {
                            padding-bottom: 60px;

                            a {
                                .left_area {
                                    width: 30px;
                                }

                                .right_area {
                                    width: calc(100% - 30px);

                                }

                            }

                        }
                    }

                    .uni_detail_area {
                        margin-top: 60px;

                        .box_area {
                            padding-left: 20px;
                            padding-right: 20px;

                            .dt_left_area {
                                font-size: 14px;

                            }

                            .dt_right_area {
                                font-size: 14px;

                            }
                        }
                    }
                }
            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .top_university_section {
        padding-bottom: 100px;

        .top_university_detail_area {
            padding-top: 40px;
            position: unset;
            padding-left: 0px;

            .side_university_area {
                float: unset;
                display: none;
                width: 100%;
                position: unset;
                padding-top: 10px;

                .side_strange {
                    padding-top: 26px;

                    .uni_box_area {
                       
                        width: 46%;
                        float: left;
                        margin: 0 10px;
                        margin-bottom: 20px;
                        margin-top: 0px;

                        .uni_left_area {
                            width: 136px;

                            .img_area {
                                width: 136px;
                                height: 136px;
                            }
                        }

                        .uni_right_area {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            padding-left: 10px;
                            width: calc(100% - 136px);

                            .detail_area {
                                h4 {
                                    font-size: 14px;
                                    margin-bottom: 10px;
                                }

                                a {
                                    .location_detail {
                                        .left_area {
                                            width: 20px;

                                            i {
                                                margin-right: 8px;
                                                font-size: 16px;
                                            }
                                        }

                                        .right_area {
                                            padding-right: 10px;
                                            width: calc(100% - 20px);
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }

                            .side_rating_area {
                                margin-top: 8px;

                                .empty-icons {
                                    color: $secondary_color;
                                    float: left;
                                    width: 118px;
                                }

                                svg.star-svg {
                                    width: 22px;
                                    height: 22px;
                                }
                               
                            }


                            .icon_area {
                                padding-top: 10px;
                                padding-right: 10px;

                                a {
                                    i {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .university_inner_area {
                display: unset !important;
                padding-left: 0px;

                .left_area {
                    width: 100%;

                    float: unset;
                    .img_area{
                        height: 400px;
                    }


                    .slider_detail_area {
                        padding-right: 10px;

                        p {
                            color: $white;
                            font-size: 44px;

                            sup {
                                font-size: 14px !important;
                            }
                        }
                    }

                    .slider_icon_area {
                        display: none;

                        .left_icon_area {
                            display: none;
                        }

                        .right_icon_area {
                            display: none;
                        }
                    }
                }

                .right_area {
                    width: 100%;
                    float: unset;

                    .logo_area {
                        .img_area {
                            padding-top: 0px;
                            padding-left: 30px;
                            padding-bottom: 0px;
                        }
                    }

                    .rating_area {

                        .empty-icons {
                            width: 118px;
                        }

                        svg.star-svg {
                            width: 22px;
                            height: 22px;
                        }
                    }

                    .university_detail_area {
                        margin-top: 20px;
                        margin-left: 20px;

                        h4 {
                            font-size: 20px;

                        }

                        .university_location_area {
                            padding-bottom: 50px;

                            a {
                                .left_area {
                                    width: 30px;

                                    i {
                                        font-size: 20px;
                                    }
                                }

                                .right_area {
                                    width: calc(100% - 30px);
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    .uni_detail_area {
                        margin-top: 40px;

                        .box_area {
                            padding-left: 20px;
                            padding-right: 20px;

                            &.el {
                                border: none;
                                background-color: $primary_color;
                            }

                            .dt_left_area {
                                float: left;
                            }

                            .dt_right_area {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .top_university_section {
        padding-bottom: 90px;

        .top_university_detail_area {
            padding-top: 40px;
            position: unset;
            padding-left: 0px;

            .side_university_area {
                float: unset;
                width: 100%;
                position: unset;
                display: none;
                padding-top: 10px;

                .side_strange {
                    padding-top: 26px;

                    .uni_box_area {
                        margin-bottom: 20px;

                        .uni_left_area {
                            width: 136px;

                            .img_area {
                                width: 136px;
                                height: 136px;
                            }
                        }

                        .uni_right_area {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            padding-left: 10px;
                            width: calc(100% - 136px);

                            .detail_area {
                                h4 {
                                    font-size: 14px;
                                    margin-bottom: 10px;
                                }

                                a {
                                    .location_detail {
                                        .left_area {
                                            width: 20px;

                                            i {
                                                margin-right: 8px;
                                                font-size: 16px;
                                            }
                                        }

                                        .right_area {
                                            padding-right: 10px;
                                            width: calc(100% - 20px);
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }

                            .side_rating_area {
                                margin-top: 8px;

                                .empty-icons {
                                    color: $secondary_color;
                                    float: left;
                                    width: 118px;
                                }

                                svg.star-svg {
                                    width: 22px;
                                    height: 22px;
                                }
                            }


                            .icon_area {
                                padding-top: 10px;
                                padding-right: 10px;

                                a {
                                    i {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .university_inner_area {
                display: unset !important;
                padding-left: 0px;

                .left_area {
                    width: 100%;

                    float: unset;
                    .img_area{
                        height: 300px;
                    }


                    .slider_detail_area {
                        padding-right: 10px;

                        p {
                            color: $white;
                            font-size: 44px;

                            sup {
                                font-size: 14px !important;
                            }
                        }
                    }
                }

                .right_area {
                    width: 100%;
                    float: unset;

                    .logo_area {
                        .img_area {
                            padding-top: 0px;
                            padding-left: 30px;
                            padding-bottom: 0px;
                        }
                    }

                    .rating_area {

                        .empty-icons {
                            width: 118px;
                        }

                        svg.star-svg {
                            width: 22px;
                            height: 22px;
                        }
                    }

                    .university_detail_area {
                        margin-top: 20px;
                        margin-left: 20px;

                        h4 {
                            font-size: 20px;

                        }

                        .university_location_area {
                            padding-bottom: 50px;

                            a {
                                .left_area {
                                    width: 30px;

                                    i {
                                        font-size: 20px;
                                    }
                                }

                                .right_area {
                                    width: calc(100% - 30px);
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    .uni_detail_area {
                        margin-top: 40px;

                        .box_area {
                            padding-left: 20px;
                            padding-right: 20px;

                            &.el {
                                border: none;
                                background-color: $primary_color;
                            }

                            .dt_left_area {
                                float: left;
                            }

                            .dt_right_area {
                                float: right;
                            }
                        }
                    }
                }
            }
            .slick-arrow{
                right: 0;
                left: unset !important;
                margin: 0 auto ;
                margin-bottom: -60px;
                height: 40px;
                width: 130px;
                &.slick-prev{
                    right: unset;
                    margin-right: 0;
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .top_university_section {
        padding-bottom: 90px;

        .top_university_detail_area {
            padding-top: 40px;
            position: unset;
            padding-left: 0px;

            .side_university_area {
                float: unset;
                width: 100%;
                position: unset;
                display: none;
                padding-top: 10px;

                .side_strange {
                    padding-top: 26px;

                    .uni_box_area {
                        margin-bottom: 20px;

                        .uni_left_area {
                            width: 136px;

                            .img_area {
                                width: 136px;
                                height: 136px;
                            }
                        }

                        .uni_right_area {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            padding-left: 10px;
                            width: calc(100% - 136px);

                            .detail_area {
                                h4 {
                                    font-size: 14px;
                                    margin-bottom: 10px;
                                }

                                a {
                                    .location_detail {
                                        .left_area {
                                            width: 20px;

                                            i {
                                                margin-right: 8px;
                                                font-size: 16px;
                                            }
                                        }

                                        .right_area {
                                            padding-right: 10px;
                                            width: calc(100% - 20px);
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }

                            .side_rating_area {
                                margin-top: 8px;

                                .empty-icons {
                                    color: $secondary_color;
                                    float: left;
                                    width: 118px;
                                }

                                svg.star-svg {
                                    width: 22px;
                                    height: 22px;
                                }
                            }


                            .icon_area {
                                padding-top: 10px;
                                padding-right: 10px;

                                a {
                                    i {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .university_inner_area {
                display: unset !important;
                padding-left: 0px;

                .left_area {
                    width: 100%;

                    float: unset;
                    .img_area{
                        height: 300px;
                    }


                    .slider_detail_area {
                        padding-right: 10px;

                        p {
                            color: $white;
                            font-size: 44px;

                            sup {
                                font-size: 14px !important;
                            }
                        }
                    }
                }

                .right_area {
                    width: 100%;
                    float: unset;

                    .logo_area {
                        .img_area {
                            padding-top: 0px;
                            padding-left: 30px;
                            padding-bottom: 0px;
                        }
                    }

                    .rating_area {

                        .empty-icons {
                            width: 118px;
                        }

                        svg.star-svg {
                            width: 22px;
                            height: 22px;
                        }
                    }

                    .university_detail_area {
                        margin-top: 20px;
                        margin-left: 20px;

                        h4 {
                            font-size: 20px;

                        }

                        .university_location_area {
                            padding-bottom: 50px;

                            a {
                                .left_area {
                                    width: 30px;

                                    i {
                                        font-size: 20px;
                                    }
                                }

                                .right_area {
                                    width: calc(100% - 30px);
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    .uni_detail_area {
                        margin-top: 40px;

                        .box_area {
                            padding-left: 20px;
                            padding-right: 20px;

                            &.el {
                                border: none;
                                background-color: $primary_color;
                            }

                            .dt_left_area {
                                float: left;
                            }

                            .dt_right_area {
                                float: right;
                            }
                        }
                    }
                }
            }
            .slick-arrow{
                right: 0;
                left: unset !important;
                margin: 0 auto ;
                margin-bottom: -60px;
                height: 40px;
                width: 130px;
                &.slick-prev{
                    right: unset;
                    margin-right: 0;
                }
            }
        }
    }

}

/* Smaller phones */
@media (max-width: 320px) {}