@import "../base/variable.scss";
@import "../base/mixins.scss";


.top_courses {
    padding-bottom: 150px;

    .slider_wrap {
        .heading_area {
            padding-bottom: 80px;
        }

        .slider_img_wrap {
            width: 100%;
            @include clearfix();
            height: 100%;

            &:hover {
                .btn_area {
                    opacity: 1;
                    @include transition(0.2s ease);
                }
            }

            .slider_inner_area {
                position: relative;
                background-color: $white;
                border: 1px solid $stroke;
                margin-right: 10px;
                margin-left: 10px;
                @include clearfix();
                border-radius: 6px;

                // overflow: hidden;
                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: "";
                    width: 100%;
                    height: 10px;
                    background: transparent;
                    @include transition(0.2s ease);
                }

                &:hover {
                    &::before {
                        background: $primary_color;
                        @include transition(0.2s ease);
                    }

                }

                // .img_area {
                //     height: 100%;
                //     width: 100%;

                //     img {
                //         width: 100%;
                //         object-fit: cover;
                //     }
                // }

                .detail_area {
                    padding: 20px;

                    h4 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 14px;
                        color: $offspara;
                        margin-top: 10px;
                    }

                    ul {
                        margin-top: 20px;

                        li {
                            position: relative;
                            list-style: none;

                            p {
                                font-size: 14px;
                                margin-top: 10px;
                                padding-left: 26px;
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                right: 0;
                                left: 0;
                                width: 14px;
                                height: 14px;
                                background-color: $primary_color;
                                border-radius: 50%;
                                top: 3px;
                            }
                        }
                    }
                }
            }

            .btn_area {
                margin-top: 10px;
                margin-left: 10px;
                margin-right: 10px;
                opacity: 0;
                padding-bottom: 10px;
                @include transition(0.2s ease);
            }
        }

        .slick-arrow {
            color: $black;
            background-color: transparent;
            position: absolute;
            right: 0;
            bottom: 0;
            top: unset;
            border: 1px solid $black;
            z-index: 4;
            padding: 24px 80px;

            &.slick-prev {
                left: unset;
                right: 161px;
                bottom: -100px;
                border: 1px solid $secondary_color;
                border-radius: 5px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                &::before {
                    color: $white;
                    content: "\f177" !important;
                    font-family: 'Font Awesome 5 Pro' !important;
                    color: $secondary_color;
                    font-size: 18px;
                    padding-top: 0px;
                    font-weight: 600;
                    line-height: 0;
                    transition: (0.2s ease);
                }

                &:hover {
                    background-color: $secondary_color;
                    transition: (0.2s ease);

                    &::before {
                        color: $white  !important;
                        transition: (0.2s ease);
                    }
                }
            }

            &.slick-next {
                left: unset;
                right: 0px;
                bottom: -100px;
                border-radius: 5px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                &::before {
                    color: $secondary_color  !important;
                    content: "\f178" !important;
                    font-family: 'Font Awesome 5 Pro' !important;
                    font-size: 18px;
                    padding-top: 0px;
                    font-weight: 600;
                    line-height: 0;
                    transition: (0.2s ease);
                }

                &:hover {
                    background-color: $secondary_color;
                    transition: (0.2s ease);

                    &::before {
                        color: $white  !important;
                        transition: (0.2s ease);
                    }
                }
            }

        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .top_courses {
        padding-bottom: 150px;

        .slider_wrap {
            .heading_area {
                padding-bottom: 60px;
            }

            .slider_img_wrap {
                .slider_inner_area {
                    &::before{
                        background-color: $primary-color;
                    }
                    .detail_area {
                        padding: 18px;

                        h4 {
                            font-size: 16px;
                        }

                        ul {
                            margin-top: 18px;

                            li {
                                &::before {
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                        }
                    }
                }
                .btn_area{
                    opacity: 1;
                }


            }

            .slick-arrow {
                padding: 24px 59px;

                &.slick-prev {
                    right: 120px;
                }

                &.slick-next {
                    left: unset;
                    right: 0px;
                }

            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .top_courses {
        padding-bottom: 150px;

        .slider_wrap {
            .heading_area {
                padding-bottom: 60px;
            }

            .slider_img_wrap {
                .slider_inner_area {
                    &::before{
                        background-color: $primary-color;
                    }
                    .detail_area {
                        padding: 18px;

                        h4 {
                            font-size: 16px;
                        }

                        ul {
                            margin-top: 18px;

                            li {
                                &::before {
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                        }
                    }
                }
                .btn_area{
                    opacity: 1;
                }


            }

            .slick-arrow {
                padding: 24px 59px;

                &.slick-prev {
                    right: 120px;
                }

                &.slick-next {
                    left: unset;
                    right: 0px;
                }

            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .top_courses {
        padding-bottom: 123px;
        padding-top: 50px;

        .slider_wrap {
            .heading_area {
                padding-bottom: 40px;
            }

            .slider_img_wrap {
                .slider_inner_area {
                    &::before{
                        background-color: $primary-color;
                    }
                    .detail_area {
                        padding: 16px;

                        h4 {
                            font-size: 14px;
                        }
                    }
                }
                .btn_area{
                    opacity: 1;
                }

            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .top_courses {
        padding-bottom: 123px;
        padding-top: 16px;

        .slider_wrap {
            .heading_area {
                padding-bottom: 40px;
            }

            .slider_img_wrap {
                .slider_inner_area {
                    &::before{
                        background-color: $primary-color;
                    }
                    .detail_area {
                        padding: 16px;

                        h4 {
                            font-size: 14px;
                        }
                    }
                }
                .btn_area{
                    opacity: 1;
                }


            }

            .slick-arrow {
               

                &.slick-prev {
                   left: 0;
                   right: 0;
                }

                &.slick-next {
                    left: unset;
                   right: 0;
                }

            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .top_courses {
        padding-bottom: 123px;
        padding-top: 16px;

        .slider_wrap {
            .heading_area {
                padding-bottom: 40px;
            }

            .slider_img_wrap {
                .slider_inner_area {
                    &::before{
                        background-color: $primary-color;
                    }
                    .detail_area {
                        padding: 16px;

                        h4 {
                            font-size: 14px;
                        }
                    }
                }
                .btn_area{
                    opacity: 1;
                }


            }

            .slick-arrow {
               

                &.slick-prev {
                   left: 0;
                   right: 0;
                }

                &.slick-next {
                    left: unset;
                   right: 0;
                }

            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .top_courses {
        padding-bottom: 60px;

        .slider_wrap {
            .heading_area {
                padding-bottom: 40px;
            }

            .slider_img_wrap {
                .slider_inner_area {
                    .detail_area {
                        padding: 16px;

                        h4 {
                            font-size: 14px;
                        }
                    }
                }


            }

            .slick-arrow {
                border: none;
                background-color: transparent;
                display: none;

                &.slick-prev {
                    border: none;
                    background-color: transparent;
                    display: none;

                    &::before {
                        display: none;
                    }

                    &:hover {
                        display: none;

                        &::before {
                            display: none;
                        }
                    }
                }

                &.slick-next {
                    display: none;

                    &::before {
                        display: none;
                    }

                    &:hover {
                        display: none;

                        &::before {
                            display: none;
                        }
                    }
                }

            }
        }
    }
}