@import "../base/variable.scss";
@import "../base/mixins.scss";

.top_agent {
    padding-bottom: 100px;

    .slider_wrap {
        position: relative;

        .heading_area {
            padding-bottom: 150px;
        }

        .slider_img_wrap {
            padding: 15px;

            .agent_box {
                width: 100%;
                @include clearfix();
                height: 100%;
                display: block;
                margin-right: 20px;
                background-color: $white;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                overflow: hidden;

                .slider_box_area {
                    .slider_inner_area {
                        @include clearfix();
                        margin-right: 20px;

                        .left_area {
                            float: left;
                            width: 160px;

                            .img_area {
                                height: 100%;
                                width: 100%;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                        }

                        .right_area {
                            padding: 20px;
                            float: left;
                            width: calc(100% - 160px);

                            .name {
                                font-size: 18px;
                                padding-bottom: 6px;
                            }

                            .desc {
                                font-size: 14px;
                                color: $offspara;
                                padding-bottom: 6px;
                            }

                            .rating_area {
                                @include clearfix();
                                .rating {
                                    font-size: 14px;
                                }
                                .rating_met{
                                    display: flex;
                                    align-items: center;
                                    .show_rating{
                                        font-size: 12px;
                                        padding: 2px 11px !important;
                                    }
                                }
                            }

                            .location_area {
                                margin-top: 10px;
                                @include clearfix();
                                float: left;

                                .location_left_area {
                                    float: left;
                                    width: 20px;

                                    i {
                                        color: $secondary_color;
                                        font-size: 18px;

                                    }
                                }

                                .location_right_area {
                                    float: left;
                                    width: calc(100% - 20px);
                                    padding-left: 5px;

                                    p {
                                        font-size: 14px;
                                        color: $black;
                                        margin-top: 1px;
                                    }
                                }
                            }
                        }
                    }
                }

                .bottom_area {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: center;
                    background-color: $primary_color;

                    p {
                        font-size: 14px;
                        color: $black;
                    }
                }
            }
        }

        .slick-slider {
            padding-left: 300px;

        }

        .slick-arrow {
            color: $black;
            background-color: transparent;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 4;


            &.slick-prev {
                left: 0;
                top: 82px;

                &::before {
                    color: $white;
                    content: "\f177" !important;
                    font-family: 'Font Awesome 5 Pro' !important;
                    color: $secondary_color;
                    font-size: 68px;
                    font-weight: 100;
                    line-height: 0px;
                    transition: (0.2s ease);
                }


            }

            &.slick-next {
                left: 0;
                top: 166px;

                &::before {
                    color: $secondary_color  !important;
                    content: "\f178" !important;
                    font-family: 'Font Awesome 5 Pro' !important;
                    font-size: 68px;
                    font-weight: 100;
                    transition: (0.2s ease);
                }

                &:hover {
                    transition: (0.2s ease);

                    &::before {
                        color: $secondary_color  !important;
                        transition: (0.2s ease);
                    }
                }
            }

        }
        .slick-dots{
            li{
                button{
                    color: $black;
                    font-size: 20px;
                    font-weight: 500;
                    &::before{
                        content: none;
                    }
                }
            }
        }

        .count {
            position: absolute;
            left: 0px;
            top: 69%;

            p {
                font-size: 36px;
                font-weight: 600;

                sup {
                    font-size: 14px;
                    color: $offspara;
                    margin-top: -30px;
                }
            }
        }
    }
}




/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .top_agent {
        padding-bottom: 80px;

        .slider_wrap {
            .heading_area {
                padding-bottom: 90px;
            }

            .slider_img_wrap {
                padding: 15px;

                .agent_box {

                    .slider_box_area {
                        .slider_inner_area {
                            margin-right: 10px;

                            .right_area {
                                padding: 10px;

                                .name {
                                    font-size: 16px;
                                }

                                .rating_area {
                                    .rating_met{
                                         .show_rating {
                                            padding: 3px 11px !important;
                                            font-size: 12px;
                                        }
                                    }

                                }

                                .location_area {
                                    margin-top: 10px;

                                    .location_left_area {
                                        i {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 95px;
            }

            .count {
                top: 64%;
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .top_agent {
        padding-bottom: 80px;

        .slider_wrap {
            .heading_area {
                padding-bottom: 90px;
            }

            .slider_img_wrap {
                padding: 15px;

                .agent_box {

                    .slider_box_area {
                        .slider_inner_area {
                            margin-right: 10px;

                            .right_area {
                                padding: 10px;

                                .name {
                                    font-size: 16px;
                                }

                                .rating_area {
                                    .empty-icons {
                                        width: 118px;
                                    }

                                    svg.star-svg {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }

                                .location_area {
                                    margin-top: 10px;

                                    .location_left_area {
                                        i {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 116px;
            }

            .count {
                top: 64%;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .top_agent {
        padding-bottom: 80px;

        .slider_wrap {
            .heading_area {
                padding-bottom: 32px;
            }

            .slider_img_wrap {
                padding: 15px;

                .agent_box {

                    .slider_box_area {
                        .slider_inner_area {
                            margin-right: 10px;

                            .right_area {
                                padding: 10px;

                                .name {
                                    font-size: 16px;
                                }

                                .rating_area {
                                    .empty-icons {
                                        width: 118px;
                                    }

                                    svg.star-svg {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }

                                .location_area {
                                    margin-top: 10px;

                                    .location_left_area {
                                        i {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 104px;
            }

            .count {
                top: 58%;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .top_agent {
        padding-bottom: 60px;

        .slider_wrap {
            position: relative;

            .heading_area {
                padding-bottom: 30px;
            }

            .slider_img_wrap {
                padding: 15px;

                .agent_box {
                    margin-right: 0px;

                    .slider_box_area {
                        .slider_inner_area {
                            margin-right: 0px;

                            .left_area {
                                float: unset;
                                width: 100%;

                                .img_area {
                                    height: 230px;
                                }

                            }

                            .right_area {
                                padding: 18px;
                                float: unset;
                                width: 100%;

                                .name {
                                    font-size: 14px;

                                }

                                .desc {
                                    font-size: 12px;

                                }

                                .rating_area {
                                    .empty-icons {
                                        width: 118px;
                                    }

                                    svg.star-svg {
                                        width: 22px;
                                        height: 22px;
                                    }
                                }

                                .location_area {
                                    padding-bottom: 20px;
                                    margin-top: 12px;

                                    .location_left_area {
                                        width: 20px;

                                        i {

                                            font-size: 18px;

                                        }
                                    }

                                    .location_right_area {
                                        float: left;
                                        width: calc(100% - 20px);
                                        padding-left: 5px;

                                        p {
                                            font-size: 14px;
                                            color: $black;
                                            margin-top: 1px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .bottom_area {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        text-align: center;
                        background-color: $primary_color;

                        p {
                            font-size: 14px;
                            color: $black;
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 0px;

            }

            .slick-arrow {
                display: none;

                &.slick-prev {
                    display: none;

                    &::before {
                        display: none;
                    }
                }

                &.slick-next {
                    display: none;


                    &::before {
                        display: none;
                    }

                    &:hover {
                        display: none;

                        &::before {
                            display: none;
                        }
                    }
                }

            }

            .count {
                display: none;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .top_agent {
        padding-bottom: 60px;

        .slider_wrap {
            position: relative;

            .heading_area {
                padding-bottom: 30px;
            }

            .slider_img_wrap {
                padding: 15px;

                .agent_box {
                    margin-right: 0px;

                    .slider_box_area {
                        .slider_inner_area {
                            margin-right: 0px;

                            .left_area {
                                float: unset;
                                width: 100%;

                                .img_area {
                                    height: 230px;
                                }

                            }

                            .right_area {
                                padding: 18px;
                                float: unset;
                                width: 100%;

                                .name {
                                    font-size: 14px;

                                }

                                .desc {
                                    font-size: 12px;

                                }

                                .rating_area {
                                    .empty-icons {
                                        width: 118px;
                                    }

                                    svg.star-svg {
                                        width: 22px;
                                        height: 22px;
                                    }
                                }

                                .location_area {
                                    padding-bottom: 20px;
                                    margin-top: 12px;

                                    .location_left_area {
                                        width: 20px;

                                        i {

                                            font-size: 18px;

                                        }
                                    }

                                    .location_right_area {
                                        float: left;
                                        width: calc(100% - 20px);
                                        padding-left: 5px;

                                        p {
                                            font-size: 14px;
                                            color: $black;
                                            margin-top: 1px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .bottom_area {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        text-align: center;
                        background-color: $primary_color;

                        p {
                            font-size: 14px;
                            color: $black;
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 0px;

            }

            .slick-arrow {
                display: none;

                &.slick-prev {
                    display: none;

                    &::before {
                        display: none;
                    }
                }

                &.slick-next {
                    display: none;


                    &::before {
                        display: none;
                    }

                    &:hover {
                        display: none;

                        &::before {
                            display: none;
                        }
                    }
                }

            }

            .count {
                display: none;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .top_agent {
        padding-bottom: 60px;

        .slider_wrap {
            position: relative;

            .heading_area {
                padding-bottom: 30px;
            }

            .slider_img_wrap {
                padding: 15px;

                .agent_box {
                    margin-right: 0px;

                    .slider_box_area {
                        margin-right: 0px;

                        .slider_inner_area {
                            margin-right: 0px;

                            .left_area {
                                float: unset;
                                width: 100%;

                                .img_area {
                                    height: 230px;
                                }

                            }

                            .right_area {
                                padding: 18px;
                                float: unset;
                                width: 100%;

                                .name {
                                    font-size: 14px;

                                }

                                .desc {
                                    font-size: 12px;

                                }

                                .rating_area {
                                    .empty-icons {
                                        width: 118px;
                                    }

                                    svg.star-svg {
                                        width: 22px;
                                        height: 22px;
                                    }
                                }

                                .location_area {
                                    padding-bottom: 20px;
                                    margin-top: 12px;

                                    .location_left_area {
                                        width: 20px;

                                        i {

                                            font-size: 18px;

                                        }
                                    }

                                    .location_right_area {
                                        float: left;
                                        width: calc(100% - 20px);
                                        padding-left: 5px;

                                        p {
                                            font-size: 14px;
                                            color: $black;
                                            margin-top: 1px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .bottom_area {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        text-align: center;
                        background-color: $primary_color;

                        p {
                            font-size: 14px;
                            color: $black;
                        }
                    }
                }
            }

            .slick-slider {
                padding-left: 0px;

            }

            .slick-arrow {
                display: none;

                &.slick-prev {
                    display: none;

                    &::before {
                        display: none;
                    }
                }

                &.slick-next {
                    display: none;


                    &::before {
                        display: none;
                    }

                    &:hover {
                        display: none;

                        &::before {
                            display: none;
                        }
                    }
                }

            }

            .count {
                display: none;
            }
        }
    }
}