@import "../base/variable.scss";
@import "../base/mixins.scss";

.detail_met{
    &::after{
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        background-color: $secondary_color;
        height: 540px;
        z-index: -1;
    }
}

.university_courses_wrap {
    padding-top: 40px;
    &.up{
        padding: 30px 0;
    }
    .penn_state_university_wrap {
        padding-top: 30px;
        @include clearfix();
        .left_wrap {
            @include clearfix();
            float: left;
            width: calc(100% - 414px);
            &.up{
                float: unset;
                width: 100%;
                display: flex;
                align-items: center;
            }
        }

        .right_area {
            float: left;
            width: 414px;
            padding-left: 30px;
        }
    }
}
.background{
    .background_area{
        float: left;
        width: 250px;
        .img_area{
            width: 236px;
            max-width: 100%;
            max-height: 400px;
            background-color: #fdfbf5;
            border-radius: 15px;
            padding: 20px;
            img{
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }
}


.university_area {
    &.up{
    float: left;
    padding-left: 15px;
    width: calc(100% - 250px);
    padding-top: 0;
    .inner_area{
        @include clearfix();
        display: flex;
        align-items: flex-end;
        position: relative;
        .left_met{
             float: left;
             width: calc(100% - 170px);
             padding-right: 30px;
             .left_area{
                width: 100%;
                float: unset;
             }
             .des_area{
                padding-bottom: 0;
                p{
                    max-width: 100%;
                }
             }
             .rating_met{
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                ul{
                    display: inline-block;
                    li{
                        display: inline-block;
                        padding-right: 10px;
                        color: rgb(204, 204, 204);
                        font-size: 20px;
                        i.active {
                            color: #FFD021;
                        }
                    }
                }
                span{
                    display: inline-block;
                    padding: 4px 14px !important;
                    background-color: rgb(51, 51, 51);
                    color: $yellow  !important;
                    font-size: 14px;
                    margin-left: 0px;
                    vertical-align: middle;
                    border-radius: 5px;
                    margin-left: 4px !important;
                }
             }
        }
        .right_met{
            float: left;
            width: 170px;
            .saved{
                i{
                    position: absolute;
                    background: #fdfbf5;
                    padding: 13px 16px;
                    color: $secondary-color;
                    font-size: 20px;
                    top: 0;
                    right: 0;
                    border-radius: 5px;
                    margin-top: 18px;
                    margin-right: 18px;  
                }
            }
            .right_area{
                width: unset;
                padding-left: 0;
            }
            .btn-primary-2{
                background-color: $primary-color;
                color: $black !important;
            }
        }
    }
    }
    .inner_area {
        .rating_area {
            display: block;
            padding-top: 20px;
            padding-bottom: 10px;

            .empty-icons {
                color: $secondary_color;
                float: left;
                width: 150px;
            }

            svg.star-svg {
                width: 28px;
                height: 28px;
                padding-left: 4px;
            }

            .react-simple-star-rating-tooltip {
                display: inline-block;
                padding: 1px 14px !important;
                background-color: rgb(51, 51, 51);
                color: $yellow  !important;
                margin-left: 0px;
                vertical-align: middle;
                border-radius: 5px;
                margin-left: 4px !important;
            }

            .rating {
                font-size: 10px;
            }
        }

        .university_detail_area {
            @include clearfix();

            .left_area {
                padding-bottom: 16px;
                float: left;
                width: calc(100% - 300px);
                h1 {
                    font-size: 48px;
                    color: $white;
                }
            }

            .right_area {
                float: right;
                width: 300px;

                .btn-primary-2 {
                    float: right;
                    background-color: $primary-color;
                    color: $black !important;
                }
            }

            .des_area {
                padding-bottom: 30px;
                float: left;

                p {
                    color: $white;
                    font-size: 14px;

                    a {
                        font-size: 14px;
                        color: $black;
                        font-weight: 600;
                    }
                    .readMoreText{
                        color: $white !important;
                    }
                }
            }
        }

        .table_area {
            margin-bottom: 30px;
            @include clearfix();
            border: 1px solid rgba(0, 0, 0, 0.1);
            ul {
                @include clearfix();
                li {
                    padding: 18px;
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    border-left: 1px solid rgba(0, 0, 0, 0.1);
                    float: left;
                    border-radius: 0;
                    width: 50%;
                    height: 100%;

                    &:first-child {
                        border-top: 0;
                    }

                    &:nth-child(2) {
                        border-top: 0;
                    }

                    &:nth-of-type(odd) {
                        border-left: 0;
                    }

                    a {
                        color: $secondary_color;
                        @include clearfix();

                        i {
                            font-size: 20px;
                            color: $secondary_color;
                           
                        }
                        .left_icon{
                            width: 20px;
                            float: left;
                        }
                        .right_detail{
                            float: left;
                            width: calc(100% - 20px);
                            padding-left: 10px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    &.web_link {
                        a {
                            color: $link;
                        }
                    }
                }
            }
        }

        .box_detail_area {
            padding-bottom: 30px;
            @include clearfix();
            height: 100%;
            .box_area {
                border-top: 10px solid $primary_color;
                background-color: $white;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                overflow: hidden;
                padding: 12px 20px;
                height: 100%;

                .icon_area {
                    @include clearfix();
                    padding-bottom: 20px;

                    i {
                        background-color: $bg-light;
                        border-radius: 10px;
                        padding: 20px;
                        font-size: 20px;

                    }
                }

                h5 {
                    font-size: 24px;
                    font-weight: 600;
                    padding-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    color: $black;
                    font-weight: 500;
                }
            }

        }
    }
}





/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
    
}


@media (min-width: 1200px) and (max-width: 1399px) {
    .university_area {
        .inner_area {
            .university_detail_area {
                .left_area {
                    h1 {
                        font-size: 44px;
                    }
                }
            }

            .table_area {
                ul {
                    li {
                        padding: 16px;
                    }
                }
            }

            .box_detail_area {
                .box_area {
                    h5 {
                        font-size: 22px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .university_courses_wrap {
        .penn_state_university_wrap {
            .left_wrap {
                width: 100%;
            }

            .right_area {
                width: 100%;
                padding-left: 0px;
            }
        }
        .agent_area{
            padding-bottom: 10px;
        }
    }

    .university_area {
        padding-top: 0px;
        &.up{
            .inner_area {
                display: block;
                .left_met{
                    float: unset;
                    width: 100%;
                    .left_area{
                        width: 600px;
                    }
                }
                .right_met{
                    float: unset;
                    margin-top: 10px;
                    width: 100%;
                    
                }
            }
        }
        .inner_area {
            .university_detail_area {
                .left_area {
                    width: calc(100% - 170px);

                    h1 {
                        font-size: 44px;
                    }
                }

                .right_area {
                    width: 170px;
                }

                .des_area {
                    padding-bottom: 24px;

                    p {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }

            .table_area {
                margin-top: 50px;
                ul {
                    li {
                        padding: 16px;

                        a {
                            font-size: 16px;

                            i {
                                font-size: 18px;
                                padding-left: 6px;
                                padding-right: 6px;
                            }
                        }
                    }
                }
            }

            .box_detail_area {
                .box_area {
                    .icon_area {
                        i {
                            padding: 20px;
                        }
                    }

                    h5 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

            }
        }
        
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {

    .university_courses_wrap {
        &.up{
            padding: 10px 0;
        }
        .penn_state_university_wrap {
            .left_wrap {
                width: 100%;
            }

            .right_area {
                width: 100%;
                padding-left: 0px;
            }
        }
        .agent_area{
            padding-bottom: 0px;
        }
    }


    .university_area {
        &.up{
            .inner_area {
                display: block;
                .left_met{
                    float: unset;
                    width: 100%;
                    .left_area{
                        width: 100%;
                    }
                    .des_area{
                        width: 100%;
                    }
                }
                .right_met{
                    float: unset;
                    margin-top: 10px;
                    width: 100%;
                    
                }
            }
        }
        .inner_area {
            .university_detail_area {
                .left_area {
                    width: calc(100% - 167px);

                    h1 {
                        font-size: 34px;
                    }
                }

                .right_area {
                    width: 167px;
                }

                .des_area {
                    padding-bottom: 24px;

                    p {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }

            .table_area {
                margin-top: 40px;
                ul {
                    li {
                        padding: 16px;

                        a {
                            font-size: 16px;

                            i {
                                font-size: 18px;
                                padding-left: 6px;
                                padding-right: 6px;
                            }
                        }
                    }
                }
            }

            .box_detail_area {
                .box_area {
                    .icon_area {
                        i {
                            padding: 20px;
                        }
                    }

                    h5 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .detail_met{
        &::after{
            height: 658px;
        }
    }

    .university_courses_wrap {
        &.up{
            .penn_state_university_wrap{
                .left_wrap{
                    display: block;
                    .background_area{
                        float: unset;
                        width: 100%;
                        margin: 0 auto;
                        .img_area{
                            margin: 0 auto;
                        }
                    }
                    .university_area{
                        &.up{
                            float: unset;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .penn_state_university_wrap {
            .left_wrap {
                width: 100%;
            }

            .right_area {
                width: 100%;
                padding-left: 0px;
            }
        }
        .agent_area{
            padding-bottom: 0;
        }
        .map_section{
            padding-top: 20px;
            iframe{
                height: 200px;
            }
        }
    }

    .university_area {
        margin-top: 120px;
        &.up{
            margin-top: 0;
            padding-left: 0;
            .inner_area {
                display: block;
                .left_met{
                    float: unset;
                    width: 100%;
                    padding-right: 0;
                    .left_area{
                        width: 100%;
                        padding-right: 0;
                        padding-bottom: 0;
                    }
                    .des_area{
                        width: 100%;
                    }
                }
                .right_met{
                    float: unset;
                    margin-top: 10px;
                    width: 100%;
                    
                }
            }
        }
        .inner_area {
            .university_detail_area {
                .left_area {
                    width: calc(100% - 100px);
                    padding-right: 10px;

                    h1 {
                        margin-top: 10px;
                        font-size: 20px;
                    }
                }

                .right_area {
                    width: 100px;
                }

                .des_area {
                    padding-top: 14px;
                    padding-bottom: 0px;

                    p {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }

            .table_area {
                margin-top: 67px;
                ul {
                    li {
                        padding: 14px;
                        width: 100%;

                        &:nth-child(2) {
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                        }

                        a {
                            font-size: 14px;

                            i {
                                font-size: 18px;
                                padding-left: 8px;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }

            .box_detail_area {
                .box_area {
                    padding: 8px 14px;

                    .icon_area {
                        i {
                            padding: 20px;
                        }
                    }

                    h5 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .btn-primary-2 {
        width: 100px;
    }
    .detail_met{
        &::after{
            height: 658px;
        }
    }

    .university_courses_wrap {
        &.up{
            .penn_state_university_wrap{
                .left_wrap{
                    display: block;
                    .background_area{
                        float: unset;
                        width: 100%;
                        margin: 0 auto;
                        .img_area{
                            margin: 0 auto;
                        }
                    }
                    .university_area{
                        &.up{
                            float: unset;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .penn_state_university_wrap {
            .left_wrap {
                width: 100%;
            }

            .right_area {
                width: 100%;
                padding-left: 0px;
            }
        }
        .agent_area{
            padding-bottom: 0;
        }
        .map_section{
            padding-top: 20px;
            iframe{
                height: 200px;
            }
        }
    }

    .university_area {
        &.up{
            padding-left: 0;
            .inner_area {
                display: block;
                .left_met{
                    float: unset;
                    width: 100%;
                    padding-right: 0;
                    .left_area{
                        width: 100%;
                        padding-right: 0;
                        padding-bottom: 0;
                    }
                    .des_area{
                        width: 100%;
                    }
                }
                .right_met{
                    float: unset;
                    margin-top: 10px;
                    width: 100%;
                    
                }
            }
        }
        .inner_area {
            .university_detail_area {
                .left_area {
                    width: calc(100% - 100px);
                    padding-right: 10px;

                    h1 {
                        margin-top: 10px;
                        font-size: 20px;
                    }
                }

                .right_area {
                    width: 100px;
                }

                .des_area {
                    padding-top: 14px;
                    padding-bottom: 0px;

                    p {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }

            .table_area {
                margin-top: 67px;
                ul {
                    li {
                        padding: 14px;
                        width: 100%;

                        &:nth-child(2) {
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                        }

                        a {
                            font-size: 14px;

                            i {
                                font-size: 18px;
                                padding-left: 8px;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }

            .box_detail_area {
                .box_area {
                    padding: 8px 14px;

                    .icon_area {
                        i {
                            padding: 20px;
                        }
                    }

                    h5 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

            }
        }
    }
   
}

/* Smaller phones */
@media (max-width: 360px) {
    .btn-primary-2 {
        width: 100px;
    }
    .detail_met{
        &::after{
            height: 658px;
        }
    }
    .university_courses_wrap {
        &.up{
            .penn_state_university_wrap{
                .left_wrap{
                    display: block;
                    .background_area{
                        float: unset;
                        width: 100%;
                        margin: 0 auto;
                        .img_area{
                            margin: 0 auto;
                        }
                    }
                    .university_area{
                        &.up{
                            float: unset;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .penn_state_university_wrap {
            .left_wrap {
                width: 100%;
            }

            .right_area {
                width: 100%;
                padding-left: 0px;
            }
        }
        .agent_area{
            padding-bottom: 0;
        }
        .map_section{
            padding-top: 20px;
            iframe{
                height: 200px;
            }
        }
    }

    .university_area {
        &.up{
            padding-left: 0;
            .inner_area {
                display: block;
                .left_met{
                    float: unset;
                    width: 100%;
                    padding-right: 0;
                    .left_area{
                        width: 100%;
                        padding-right: 0;
                        padding-bottom: 0;
                    }
                    .des_area{
                        width: 100%;
                    }
                }
                .right_met{
                    float: unset;
                    margin-top: 10px;
                    width: 100%;
                    
                }
            }
        }
        .inner_area {
            .university_detail_area {
                .left_area {
                    width: calc(100% - 100px);
                    padding-right: 8px;

                    h1 {
                        margin-top: 10px;
                        font-size: 20px;
                    }
                }

                .right_area {
                    width: 100px;
                }

                .des_area {
                    padding-top: 14px;
                    padding-bottom: 24px;

                    p {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }

            .table_area {
                margin-top: 67px;
                ul {
                    li {
                        padding: 14px;
                        width: 100%;

                        &:nth-child(2) {
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                        }

                        a {
                            font-size: 14px;

                            i {
                                font-size: 18px;
                                padding-left: 8px;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }

            .box_detail_area {
                .box_area {
                    padding: 8px 14px;

                    .icon_area {
                        i {
                            padding: 20px;
                        }
                    }

                    h5 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

            }
        }
    }

}

/* Smaller phones */
@media (max-width: 320px) {
    .btn-primary-2 {
        width: 100px;
    }

    .university_courses_wrap {
        .penn_state_university_wrap {
            .left_wrap {
                width: 100%;
            }

            .right_area {
                width: 100%;
                padding-left: 0px;
            }
        }
    }

    .university_area {
        .inner_area {
            .university_detail_area {
                .left_area {
                    float: unset;
                    width: 100%;

                    h1 {
                        font-size: 26px;
                    }
                }

                .right_area {
                    width: 100%;

                    .btn-primary-2 {
                        float: unset;
                    }
                }

                .des_area {
                    padding-top: 14px;
                    padding-bottom: 24px;

                    p {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }

            .table_area {
                ul {
                    li {
                        padding: 14px;
                        width: 100%;

                        &:nth-child(2) {
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                        }

                        a {
                            font-size: 12px;

                            i {
                                font-size: 16px;
                                padding-left: 6px;
                                padding-right: 8px;
                            }
                        }
                    }
                }
            }

            .box_detail_area {
                .box_area {
                    padding: 8px 14px;

                    .icon_area {
                        i {
                            padding: 18px;
                        }
                    }

                    h5 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

            }
        }
    }
}