@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.university_section {
    padding-right: 120px;

    .banner_inner {
        @include clearfix();
        margin-top: 60px;
        margin-left: 60px;
        margin-bottom: 40px;

        .banner_area {
            padding-bottom: 40px;
            position: relative;

            .image_area {
                width: 100%;
                height: 201px;
                border-radius: 5px;
                overflow: hidden;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(88.82deg, #262c33c9 1.01%, rgba(38, 44, 51, 0) 101.24%);
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .detail_area {
                @include clearfix();
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1;
                color: $white;
                padding: 20px 20px 20px 20px;
                display: flex;
                align-items: end;
                width: 100%;


                .left_area {
                    width: 100%;

                    .image_area {
                        width: 50px;
                        height: 50px;
                        background-color: $white;
                        border-radius: 18px;
                        overflow: hidden;
                        padding-bottom: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .uni_name_area {
                        padding-top: 10px;
                        padding-bottom: 10px;

                        h4 {
                            font-size: 32px;
                            color: $white
                        }
                    }

                    .university_location_area {
                        padding-bottom: 10px;
                        @include clearfix();

                        a {
                            color: $white;

                            .left_area {
                                width: 30px;
                                float: left;

                                i {
                                    color: $white;
                                    margin-right: 14px;
                                    font-size: 22px;
                                }
                            }

                            .right_area_in {
                                width: calc(100% - 30px);
                                float: left;

                                p {
                                    color: $white;
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .des_area {
                        p {
                            font-size: 14px;
                        }
                    }

                }

                .right_area {
                    float: right;
                    @include clearfix();
                    display: flex;
                    align-items: flex-end;
                    height: 100%;
                    flex-direction: column;

                    .ad_area {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-top: 10px;
                        margin-right: 10px;

                        a {
                            background-color: $ad_color;
                            color: $white;
                            border-radius: 5px;
                            padding: 6px 12px;
                            font-size: 12px;
                        }

                    }

                    .apply_btn {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin-bottom: 20px;
                        margin-right: 20px;

                        .btn-primary-2 {
                            width: 138px;
                        }
                    }
                }

            }
        }

        .agent_banner_area {
            @include clearfix();
            position: relative;
            background-color: $secondary_color;
            border-radius: 5px;
            height: 201px;
            margin-bottom: 40px;

            .detail_area {
                @include clearfix();
                padding: 20px 20px 20px 20px;
                position: relative;
                display: flex;
                align-items: end;
                height: 100%;

                .agent_left_area {
                    @include clearfix();

                    float: left;
                    width: calc(100% - 500px);
                    position: relative;
                    z-index: 2;


                    .agent_img {
                        float: left;
                        width: 80px;

                        .image_area {
                            width: 80px;
                            height: 80px;
                            border-radius: 18px;
                            overflow: hidden;
                            background: linear-gradient(146.45deg, #FF473E -34.91%, #FEBCB3 126.56%);
                            border: 6px solid #414A56;
                            box-shadow: 0px 4px 10px rgba(255, 141, 132, 0.17);

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .agent_info {
                        float: left;
                        width: calc(100% - 80px);
                        padding-left: 20px;

                        .agent_name {
                            padding-bottom: 10px;

                            h5 {
                                font-size: 24px;
                                color: $white
                            }
                        }

                        .agent_location_area {
                            padding-bottom: 6px;
                            @include clearfix();

                            a {
                                color: $white;


                                .left_area {
                                    width: 30px;
                                    float: left;

                                    i {
                                        color: $white;
                                        margin-right: 14px;
                                        font-size: 20px;
                                    }
                                }

                                .right_area_in {
                                    width: calc(100% - 30px);
                                    float: left;

                                    p {
                                        color: $white;
                                        font-size: 14px;
                                        font-weight: 400;
                                    }

                                }

                            }
                        }

                        .des_area {
                            p {
                                font-size: 14px;
                                color: $white;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .right_area {
                    float: right;
                    @include clearfix();
                    height: 100%;
                    width: 500px;
                    display: flex;
                    align-items: end;
                    justify-content: end;

                    .ad_area {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-top: 10px;
                        margin-right: 10px;


                        a {
                            background-color: $ad_color;
                            color: $white;
                            border-radius: 5px;
                            padding: 6px 12px;
                            font-size: 12px;
                        }

                    }

                    .contact_btn {
                        position: relative;
                        float: right;
                        z-index: 2;

                        a {
                            display: block;

                            &:hover {
                                color: $white;
                            }
                        }
                    }
                }

                .dots2 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                }

                .dot_bottom {
                    position: absolute;
                    right: 0;
                    bottom: 0px;
                    z-index: 1;
                }
            }
        }

        .inner_heading_area {
            h4 {
                font-size: 36px;
                font-weight: 700;
            }

            p {
                font-size: 14px;
                color: $offspara;
                margin-top: 20px;
            }
        }

        .center_heading_area {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;

            p {
                font-size: 18px;
                color: $secondary_color;
            }
        }

        .box_area {
            width: 100%;

            &.ul {
                border-top: 1px solid;
                border-width: 5px;
                border-image: linear-gradient(to bottom,
                        red,
                        rgba(0, 0, 0, 0)) 1 100%;
            }

            .box_inner_area {
                &.ul {
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                    border: 1px solid $white;
                    overflow: hidden;
                }

                position: relative;
                background-color: $white;
                border: 1px solid $primary_color;
                box-shadow: 0px 0px 4px $primary_color;
                border-radius: 5px;
                width: 100%;
                height: 100%;
                overflow: hidden;
                padding: 20px;
                margin-bottom: 30px;

                .top_area {
                    @include clearfix();

                    .applicant_detail_area {
                        float: left;
                        width: 50%;

                        .applicant_image_area {
                            float: left;
                            width: 80px;

                            .image_area {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }


                        .applicant_info_area {
                            @include clearfix();
                            width: calc(100% - 80px);
                            float: left;
                            padding-left: 10px;

                            .applicant_name {
                                .left_area {
                                    float: left;

                                    h4 {
                                        // padding-bottom: 10px;
                                        font-size: 18px;
                                        font-weight: 600;
                                        span{
                                            padding-left: 5px;
                                            color: $offspara;
                                            font-size: 12px;
                                        }
                                    }
                                }

                                .right_area {
                                    float: right;


                                    p {
                                        padding-left: 5px;
                                        color: $offspara;
                                        font-size: 12px;
                                    }
                                }

                            }

                            .applicant_location_area {
                                padding-top: 30px;
                                padding-bottom: 2px;
                                @include clearfix();

                                a {
                                    color: $secondary_color;

                                    .left_area {
                                        width: 20px;
                                        float: left;

                                        i {
                                            color: $secondary_color;
                                            margin-right: 10px;
                                            font-size: 18px;
                                        }
                                    }

                                    .right_area_in {
                                        width: calc(100% - 20px);
                                        float: right;

                                        p {
                                            font-size: 12px;
                                            color: $secondary_color;
                                            font-weight: 600;
                                        }


                                    }
                                }
                            }

                            .applicant_uni_name {
                                p {
                                    font-size: 12px;
                                    color: $secondary_color;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    .save_icon_area {
                        @include clearfix();
                        width: calc(100% - 50%);
                        float: left;
                         .ineer{
                            float: right;
                         }
                        .icon_area {
                            float: right;
                            a {
                                position: absolute;
                                background-color: $checkbox;
                                backdrop-filter: blur(4px);
                                padding: 8px 14px;
                                color: #262C33;
                                font-size: 20px;
                                top: 0;
                                right: 0;
                                border-radius: 5px;
                                margin-top: 10px;
                                margin-right: 10px;
                                cursor: pointer;
                                z-index: 2;
                            }
                        }
                        .connect{
                            padding-top: 43px;
                            position: relative;
                            margin-right: -10px;
                            p{
                                display: inline-block;
                                color: $offspara;
                                font-weight: 500;
                                font-size: 12px;
                            }
                            span{
                                width: 26px;
                                height: 8px;
                                background-color: $checkbox;
                                border-radius: 2px;
                                margin-left: 5px;
                                display: inline-block;
                                &.active{
                                    background-color: $primary_color;
                                }
                            }
                        }

                        .view_area {
                            float: right;
                            @include clearfix();
                            margin-top: 50px;
                            display: inline-block;

                            a {
                                color: $offspara;
                                font-size: 12px;

                                i {
                                    margin-right: 4px;
                                    color: $secondary_color;
                                    font-size: 18px
                                }
                            }
                        }

                        .rating_area {

                            @include clearfix();

                            .empty-icons {
                                color: $secondary_color;
                                float: left;
                                width: 130px;
                            }

                            svg.star-svg {
                                width: 24px;
                                height: 24px;
                            }

                            .react-simple-star-rating-tooltip {
                                display: inline-block !important;
                                padding: 0 !important;
                                background-color: transparent !important;
                                color: $offspara  !important;
                                margin-left: 0px !important;
                                vertical-align: middle !important;
                                border-radius: 0 !important;
                                float: left;
                            }

                            .rating {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .bottom_area {
                    @include clearfix();
                    padding-top: 10px;
                    display: flex;
                    align-items: center;
                    .connect{
                        padding-top: 16px;
                        position: relative;
                        margin-right:0px;
                        p{
                            display: inline-block;
                            color: $offspara;
                            font-weight: 500;
                            font-size: 12px;
                        }
                        span{
                            width: 26px;
                            height: 8px;
                            background-color: $checkbox;
                            border-radius: 2px;
                            margin-left: 5px;
                            display: inline-block;
                            &.active{
                                background-color: $primary_color;
                            }
                        }
                    }

                    .left_area {
                        float: left;
                        width: calc(100% - 180px);
                        @include clearfix();

                        .detail_area {
                            ul {
                                li {
                                    display: inline-block;
                                    margin-right: 10px;

                                    &:last-child {
                                        margin-right: 0;
                                    }



                                    a {
                                        display: block;

                                        &.listing_button {
                                            background-color: $checkbox;
                                            // width: 200px;
                                            height: 40px;
                                            text-align: center;
                                            line-height: 40px;
                                            border-radius: 5px;
                                            position: relative;
                                            overflow: hidden;
                                            color: $black;
                                            font-weight: 500;
                                            font-size: 14px;
                                            padding-left: 30px;
                                            padding-right: 30px;

                                            &::after {
                                                position: absolute;
                                                content: "";
                                                left: 0;
                                                top: 0;
                                                height: 100%;
                                                width: 10px;
                                                background-color: $light-green;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .right_area {
                        float: right;
                        width: 180px;
                        @include clearfix();
                        .purchase_btn {
                            float: right;
                            a {
                                .btn-primary-2 {
                                    width: 150px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .university_section {
        padding-right: 60px;

        .banner_inner {
            .banner_area {
                margin-bottom: 20px;

                .detail_area {
                    padding: 45px 1px 12px 14px;

                    .left_area {
                        .image_area {
                            padding-bottom: 10px;
                        }

                        .uni_name_area {
                            h4 {
                                font-size: 20px;
                            }
                        }

                        .university_location_area {
                            padding-bottom: 5px;

                            a {
                                .left_area {
                                    width: 28px;

                                    i {
                                        font-size: 20px;
                                    }
                                }

                                .right_area_in {
                                    width: calc(100% - 28px);

                                    p {
                                        font-size: 14px;
                                    }

                                }
                            }
                        }
                    }

                    .right_area {
                        .apply_btn {
                            margin-bottom: 16px;
                            margin-right: 14px;

                            .btn-primary-2 {
                                width: 120px;
                            }
                        }
                    }

                }
            }

            .agent_banner_area {
                margin-bottom: 20px;

                .detail_area {
                    padding: 96px 14px 15px 26px;
                    display: block;

                    .agent_left_area {
                        width: 100%;

                        .agent_info {
                            .agent_name {
                                h5 {
                                    font-size: 20px;
                                }
                            }

                            .agent_location_area {
                                padding-bottom: 3px;
                            }
                        }
                    }

                    .right_area {
                        display: flex;

                        .contact_btn {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            margin-bottom: 14px;
                            margin-right: 14px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .university_section {
        padding-right: 60px;

        .banner_inner {
            .banner_area {
                margin-bottom: 20px;

                .detail_area {
                    padding: 45px 1px 12px 14px;

                    .left_area {
                        .image_area {
                            padding-bottom: 10px;
                        }

                        .uni_name_area {
                            h4 {
                                font-size: 20px;
                            }
                        }

                        .university_location_area {
                            padding-bottom: 5px;

                            a {
                                .left_area {
                                    width: 28px;

                                    i {
                                        font-size: 20px;
                                    }
                                }

                                .right_area_in {
                                    width: calc(100% - 28px);

                                    p {
                                        font-size: 14px;
                                    }

                                }
                            }
                        }
                    }

                    .right_area {
                        .apply_btn {
                            margin-bottom: 16px;
                            margin-right: 14px;

                            .btn-primary-2 {
                                width: 120px;
                            }
                        }
                    }

                }
            }

            .agent_banner_area {
                margin-bottom: 20px;

                .detail_area {
                    padding: 36px 14px 15px 14px;
                    display: block;

                    .agent_left_area {
                        width: 100%;

                        .agent_info {
                            .agent_name {
                                h5 {
                                    font-size: 20px;
                                }
                            }

                            .agent_location_area {
                                padding-bottom: 3px;
                            }
                        }
                    }

                    .right_area {
                        display: flex;

                        .contact_btn {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            margin-bottom: 14px;
                            margin-right: 14px;
                        }
                    }
                }
            }

            .inner_heading_area {
                h4 {
                    font-size: 30px;
                }

                p {
                    font-size: 14px;
                    margin-top: 10px;
                }
            }

            .center_heading_area {
                margin-bottom: 20px;

                p {
                    font-size: 16px;
                }
            }

            .box_area {
                .box_inner_area {
                    .top_area {
                        @include clearfix();
                        .applicant_detail_area {
                            width:calc(100% - 50px);
                            float: unset;
                            @include clearfix();
                            .applicant_info_area {
                                .applicant_name {
                                    .left_area {
                                        h4 {
                                            font-size: 16px;
                                        }
                                    }

                                    .right_area {
                                        float: left;

                                        p {
                                            padding-left: 5px;
                                        }
                                    }

                                }
                            }
                        }
                        .save_icon_area{
                            width: 100%;
                            float: unset;
                        }

                    }
                    .bottom_area{
                        display: block;
                        .connect{
                            padding-top: 0px;
                        }
                        .left_area{
                            padding-top: 10px;
                            float: unset;
                            width: 100%;
                            
                        }
                        .right_area{
                            width: 100%;
                            float: unset;
                            .purchase_btn{
                                float: unset;
                            }
                        }
                    }


                }
            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .university_section {
        padding-right: 60px;

        .banner_inner {
            .banner_area {
                margin-bottom: 20px;

                .detail_area {
                    padding: 45px 1px 12px 14px;

                    .left_area {
                        .image_area {
                            padding-bottom: 10px;
                        }

                        .uni_name_area {
                            h4 {
                                font-size: 20px;
                            }
                        }

                        .university_location_area {
                            padding-bottom: 5px;

                            a {
                                .left_area {
                                    width: 28px;

                                    i {
                                        font-size: 20px;
                                    }
                                }

                                .right_area_in {
                                    width: calc(100% - 28px);

                                    p {
                                        font-size: 14px;
                                    }

                                }
                            }
                        }
                    }

                    .right_area {
                        .apply_btn {
                            margin-bottom: 16px;
                            margin-right: 14px;

                            .btn-primary-2 {
                                width: 120px;
                            }
                        }
                    }

                }
            }

            .agent_banner_area {
                margin-bottom: 20px;

                .detail_area {
                    padding: 36px 14px 15px 14px;
                    display: block;

                    .agent_left_area {
                        width: 100%;

                        .agent_info {
                            .agent_name {
                                h5 {
                                    font-size: 20px;
                                }
                            }

                            .agent_location_area {
                                padding-bottom: 3px;
                            }
                        }
                    }

                    .right_area {
                        display: flex;

                        .contact_btn {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            margin-bottom: 14px;
                            margin-right: 14px;
                        }
                    }
                }
            }

            .inner_heading_area {
                h4 {
                    font-size: 30px;
                }

                p {
                    font-size: 14px;
                    margin-top: 10px;
                }
            }

            .center_heading_area {
                margin-bottom: 20px;

                p {
                    font-size: 16px;
                }
            }

            .box_area {
                .box_inner_area {
                    .top_area {
                        @include clearfix();
                        .applicant_detail_area {
                            width:calc(100% - 50px);
                            float: unset;
                            @include clearfix();
                            .applicant_info_area {
                                .applicant_name {
                                    .left_area {
                                        h4 {
                                            font-size: 16px;
                                        }
                                    }

                                    .right_area {
                                        float: left;

                                        p {
                                            padding-left: 5px;
                                        }
                                    }

                                }
                            }
                        }

                        .save_icon_area{
                            width: 100%;
                            float: unset;
                        }

                    }

                    .bottom_area{
                        display: block;
                        .connect{
                            padding-top: 0px;
                        }
                        .left_area{
                            padding-top: 10px;
                            width: 100%;
                            float: unset;
                            
                        }
                        .right_area{
                            width: 100%;
                            float: unset;
                            .purchase_btn{
                                float: unset;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .university_section {
        padding-right: 10px;

        .banner_inner {
            margin-left: 10px;
            position: relative;

            .banner_area {
                margin-bottom: 20px;


                .detail_area {
                    padding: 10px 1px 12px 14px;

                    .left_area {
                        .image_area {
                            padding-bottom: 8px;
                        }

                        .uni_name_area {
                            padding-bottom: 6px;

                            h4 {
                                font-size: 16px;
                            }
                        }

                        .university_location_area {
                            padding-bottom: 1px;

                            a {
                                .left_area {
                                    width: 24px;

                                    i {
                                        font-size: 18px;
                                    }
                                }

                                .right_area_in {
                                    width: calc(100% - 24px);

                                    p {
                                        font-size: 14px;
                                    }

                                }
                            }
                        }
                    }

                    .right_area {
                        .apply_btn {
                            position: absolute;
                            bottom: -59px;
                            right: -8px;

                            .btn-primary-2 {
                                width: 110px;
                            }
                        }
                    }

                }
            }

            .agent_banner_area {
                margin-bottom: 20px;

                .detail_area {
                    padding: 36px 14px 15px 14px;
                    display: block;

                    .agent_left_area {
                        width: 100%;

                        .agent_img {
                            width: 70px;

                            .image_area {
                                width: 70px;
                                height: 70px;
                            }
                        }

                        .agent_info {
                            width: calc(100% - 70px);
                            padding-left: 14px;

                            .agent_name {
                                h5 {
                                    font-size: 16px;
                                }
                            }

                            .agent_location_area {
                                padding-bottom: 3px;
                            }
                        }
                    }

                    .right_area {
                        display: flex;

                        .contact_btn {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            margin-bottom: 14px;
                            margin-right: 14px;

                            a {
                                &.btn-primary-4 {
                                    width: 120px;
                                }
                            }
                        }
                    }
                }
            }

            .inner_heading_area {
                h4 {
                    font-size: 24px;
                }

                p {
                    font-size: 14px;
                    margin-top: 10px;
                }
            }

            .center_heading_area {
                margin-bottom: 18px;

                p {
                    font-size: 14px;
                }
            }

            .box_area {
                .box_inner_area {
                    .top_area {
                        @include clearfix();
                        .applicant_detail_area {
                            width:calc(100% - 50px);
                            float: unset;
                            @include clearfix();
                            .applicant_info_area {
                                .applicant_name {
                                    .left_area {
                                        h4 {
                                            font-size: 14px;
                                        }
                                    }

                                    .right_area {
                                        float: left;

                                        p {
                                            padding-left: 5px;
                                        }
                                    }

                                }

                                .applicant_location_area {
                                    padding-top: 24px;
                                    padding-bottom: 2px;

                                    a {
                                        .left_area {
                                            i {
                                                margin-right: 8px;
                                                font-size: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .save_icon_area {
                            float: unset;
                            width: 100%;
                            .icon_area {
                                a {
                                    padding: 5px 10px;
                                    font-size: 16px;
                                    margin-top: 10px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    .bottom_area{
                        display: block;
                        .connect{
                            padding-top: 0px;
                        }
                        .left_area{
                            padding-top: 10px;
                            width: 100%;
                            float: unset;
                           
                        }
                        .right_area{
                            width: 100%;
                            float: unset;
                            .purchase_btn{
                                float: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .university_section {
        padding-right: 10px;

        .banner_inner {
            margin-left: 10px;
            position: relative;

            .banner_area {
                margin-bottom: 20px;


                .detail_area {
                    padding: 10px 1px 12px 14px;

                    .left_area {
                        .image_area {
                            padding-bottom: 8px;
                        }

                        .uni_name_area {
                            padding-bottom: 6px;

                            h4 {
                                font-size: 16px;
                            }
                        }

                        .university_location_area {
                            padding-bottom: 1px;

                            a {
                                .left_area {
                                    width: 24px;

                                    i {
                                        font-size: 18px;
                                    }
                                }

                                .right_area_in {
                                    width: calc(100% - 24px);

                                    p {
                                        font-size: 14px;
                                    }

                                }
                            }
                        }
                    }

                    .right_area {
                        .apply_btn {
                            position: absolute;
                            bottom: -59px;
                            right: -8px;

                            .btn-primary-2 {
                                width: 110px;
                            }
                        }
                    }

                }
            }

            .agent_banner_area {
                margin-bottom: 20px;

                .detail_area {
                    padding: 36px 14px 15px 14px;
                    display: block;

                    .agent_left_area {
                        width: 100%;

                        .agent_img {
                            width: 70px;

                            .image_area {
                                width: 70px;
                                height: 70px;
                            }
                        }

                        .agent_info {
                            width: calc(100% - 70px);
                            padding-left: 14px;

                            .agent_name {
                                h5 {
                                    font-size: 16px;
                                }
                            }

                            .agent_location_area {
                                padding-bottom: 3px;
                            }
                        }
                    }

                    .right_area {
                        display: flex;

                        .contact_btn {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            margin-bottom: 14px;
                            margin-right: 14px;

                            a {
                                &.btn-primary-4 {
                                    width: 120px;
                                }
                            }
                        }
                    }
                }
            }

            .inner_heading_area {
                h4 {
                    font-size: 24px;
                }

                p {
                    font-size: 14px;
                    margin-top: 10px;
                }
            }

            .center_heading_area {
                margin-bottom: 18px;

                p {
                    font-size: 14px;
                }
            }

            .box_area {
                .box_inner_area {
                    .top_area {
                        @include clearfix();
                        .applicant_detail_area {
                            width:calc(100% - 50px);
                            float: unset;
                            @include clearfix();
                            .applicant_info_area {
                                .applicant_name {
                                    .left_area {
                                        h4 {
                                            font-size: 14px;
                                        }
                                    }

                                    .right_area {
                                        float: left;

                                        p {
                                            padding-left: 5px;
                                        }
                                    }

                                }

                                .applicant_location_area {
                                    padding-top: 24px;
                                    padding-bottom: 2px;

                                    a {
                                        .left_area {
                                            i {
                                                margin-right: 8px;
                                                font-size: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .save_icon_area {
                            float: unset;
                            width: 100%;
                            .icon_area {
                                a {
                                    padding: 5px 10px;
                                    font-size: 16px;
                                    margin-top: 10px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    .bottom_area{
                        display: block;
                        .connect{
                            padding-top: 0px;
                        }
                        .left_area{
                            padding-top: 10px;
                            width: 100%;
                            float: unset;
                           
                        }
                        .right_area{
                            width: 100%;
                            float: unset;
                            .purchase_btn{
                                float: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
   
}