@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.dashboard_wrap {
    .dashboard_wrap_inner {
        .user_content_side {
            .heading_area {
                @include clearfix();

                .heading_wrap_set_dashboard {
                    float: left;
                }

                .right {
                    float: right;
                    margin-right: 20px;

                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            display: inline-block;
                            margin-right: 20px;

                            &:last-child {
                                margin-right: 0;
                            }

                            .sort_by_swap {
                                display: flex;
                                align-items: center;
                                @include clearfix();

                                .left {
                                    padding-right: 15px;

                                    p {
                                        font-size: 14px;
                                    }
                                }

                                .right {
                                    .dropdown {
                                        .btn-primary {
                                            background-color: transparent;
                                            border: 1px solid $stroke;
                                            color: $black;
                                            width: 115px;
                                            font-weight: 500;
                                            font-size: 14px;
                                            position: relative;
                                            padding-left: 0px;
                                            height: 45px;
                                        }

                                        .dropdown-toggle {
                                            &::after {
                                                border-top-color: $black;
                                                position: absolute;
                                                right: 0;
                                                top: 0;
                                                margin-top: 20px;
                                                margin-right: 10px;
                                                border-width: 6px;
                                            }

                                            &:focus {
                                                box-shadow: none;
                                            }
                                        }
                                    }
                                }
                            }

                            .listing_view {
                                background-color: $checkbox;
                                border-radius: 5px;

                                a {
                                    background-color: $checkbox;
                                    color: $black;
                                    padding: 8px 14px;
                                    border-radius: 5px;
                                    display: inline-block;

                                    &:last-child {
                                        border-top-left-radius: 0;
                                        border-bottom-left-radius: 0;
                                    }

                                    &.active {
                                        background-color: $light-black;

                                        i {
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.inner_info_mine {
    .my_applications_area {
        .cards_area {
            padding-bottom: 60px;

            .cards_detail_area {
                .box_area {
                    position: relative;

                    .default_card {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        text-align: center;
                        margin-top: 4px;

                        img {}
                    }

                    &.bg {
                        position: relative;
                        background-color: $secondary_color;
                    }

                    .doller_img {
                        position: absolute;
                        right: 0;
                        bottom: -10px;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                    }

                    position: relative;
                    background-color: $primary-color;
                    width: 100%;
                    height: 155px;
                    border-radius: 5px;
                    overflow: hidden;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

                    &::after {
                        position: absolute;
                        left: 0;
                        top: 0;
                        content: "";
                        width: 100%;
                        height: 7px;
                        background-color: $secondary_color
                    }


                    .top_area {
                        @include clearfix();
                        padding-left: 20px;
                        padding-right: 20px;
                        padding-top: 20px;

                        .left_area {
                            float: left;

                            .image_area {
                                height: 60px;
                                width: 60px;
                                border-radius: 5px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .inner_info {
                                h4 {
                                    color: $white;
                                    font-size: 24px;
                                    font-weight: 600;


                                }
                            }
                        }


                        .right_area {
                            float: right;

                            .manage_btn_area {
                               
                                .btn-primary-4 {
                                    border: 1px solid $secondary_color;
                                    width: 130px;
                                    height: 40px;
                                    color: $secondary_color;
                                    text-align: center;
                                    line-height: 40px;
                                    font-weight: 600;
                                    font-size: 12px;
                                }
                                
                            }

                            .add_credit_btn_area {
                                    .btn-primary-4 {
                                        border: 1px solid $white;
                                        width: 130px;
                                        height: 40px;
                                        color: $white;
                                        text-align: center;
                                        line-height: 40px;
                                        font-weight: 600;
                                        font-size: 12px;
                                    }
                            }
                        }
                    }

                    .bottom_area {

                        padding-left: 20px;
                        padding-right: 20px;

                        p {
                            padding-top: 10px;
                        }

                        .inner_info {
                            h3 {
                                margin-top: 20px;
                                color: $white;
                                font-size: 40px;
                                font-weight: bold;

                                sub {
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }

                            .name_info {
                                float: left;

                                p {
                                    font-size: 14px;
                                    color: $secondary_color;
                                    font-weight: 600;
                                }
                            }

                            .expiry_info {
                                float: right;

                                p {
                                    font-size: 14px;
                                    color: $secondary_color;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }


        .inner_heading_area {
            padding-bottom: 30px;

            h2 {
                font-size: 24px;
                font-weight: bold;
            }
        }

        .my_orders {
            padding-bottom: 60px;

            &.my_order {
                .table_row_area {
                    table {
                        thead {
                            tr {
                                th {
                                    width: 10.66%;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }

            &.applicant_size {
                .table_row_area {
                    table {
                        tbody {
                            tr {
                                td {
                                    padding: 2px 40px;
                                }
                            }
                        }
                    }
                }
            }

            .table_row_area {
                table {
                    border-spacing: 0 10px;
                    border-collapse: separate;
                    margin: 10px auto;

                    thead {
                        border: none;

                        tr {
                            color: $secondary_color;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 20px;
                            text-align: start;
                            border-radius: 0px;

                            th {
                                position: sticky;
                                top: -3px;
                                background-color: transparent;
                                border-bottom: 1px solid $secondary_color;
                                z-index: 99;
                                font-weight: 500;
                                overflow: hidden;
                                width: 22% !important;
                                padding: 10px 40px;
                                border-right-width: 0;
                                border-left-width: 0;
                                border-right: 0;
                                border-left: 0;
                                text-align: start;


                                &:first-child {
                                    border-radius: 0px;
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                    border-left-width: 0px;
                                }

                                &:last-child {
                                    border-radius: 0px;
                                    border-top-left-radius: 0;
                                    border-bottom-left-radius: 0;
                                    border-right-width: 0px;
                                }
                            }
                        }
                    }

                    thead::after {
                        line-height: 50px;
                        content: "";
                        color: #ffffff;
                        display: inline-block;
                    }

                    tbody {
                        border: none;

                        tr {
                            border-bottom-width: 0;

                            &:nth-child(odd) {
                                background: transparent
                            }

                            &:nth-child(even) {
                                background: $bg-light;
                            }

                            td {
                                font-size: 14px;
                                font-weight: 600;
                                color: $secondary_color;
                                text-align: start;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                padding: 20px 40px;
                                border: none;

                                .agent_detail {
                                    padding-top: 6px;
                                    display: inline-block;

                                    .image_area {
                                        float: left;
                                        width: 50px;
                                        height: 50px;
                                        border-radius: 18px;
                                        overflow: hidden;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }

                                    .name_area {
                                        float: left;
                                        text-align: center;
                                        margin-top: 15px;
                                        margin-left: 20px;

                                        &.ul {
                                            margin-top: 0px;

                                        }
                                    }
                                }

                                .view_area {
                                    a {
                                        color: $secondary_color;

                                        &.btn-primary-1 {
                                            height: 45px;
                                            width: 110px;
                                            line-height: 30px;
                                        }
                                    }
                                }

                                .transaction_status {
                                    display: inline-block;
                                    padding: 2px 30px;
                                    background-color: $primary-color;
                                    margin: 0 auto;
                                    justify-content: center;
                                    border-radius: 5px;

                                    &.ul {
                                        background-color: $failed;
                                        color: $white;
                                        padding: 2px 24px;

                                        font-weight: 500;
                                    }

                                    p {
                                        font-size: 14px;
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1280px) and (max-width: 1399px) {


    .inner_info_mine {
        .my_applications_area {


            .my_orders {
                &.my_order {
                    .table_row_area {
                        table {
                            thead {
                                tr {
                                    th {
                                        white-space: nowrap;
                                        padding: 24px;
                                    }
                                }
                            }
                        }
                    }
                }

                .table_row_area {
                    table {
                        thead {
                            tr {
                                // th {
                                //     padding: 24px;
                                // }
                            }
                        }

                        thead::after {
                            line-height: 10px;
                        }

                        tbody {
                            tr {
                                td {
                                    white-space: nowrap;
                                    padding: 16px 24px;

                                    .agent_detail {
                                        .name_area {
                                            margin-top: -36px;
                                            margin-left: 62px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .heading_area {
                    padding: 0px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    padding-left: 20px;
                    padding-right: 20px;

                    .heading_wrap_set_dashboard {
                        padding-top: 0px;
                        padding-bottom: 0;

                        h2 {
                            padding-bottom: 0px;
                            font-size: 26px;
                        }
                    }

                    .right {
                        float: right;
                        margin-right: 10px;

                        ul {
                            li {
                                margin-right: 30px;

                                .sort_by_swap {
                                    .left {
                                        padding-right: 15px;
                                    }

                                    .right {
                                        .dropdown {
                                            .btn-primary {
                                                width: 109px;
                                                padding-left: 0px;
                                                height: 45px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .inner_info_mine {
        .my_applications_area {


            .my_orders {
                &.my_order {
                    .table_row_area {
                        table {
                            thead {
                                tr {
                                    th {
                                        white-space: nowrap;
                                        padding: 24px;
                                    }
                                }
                            }
                        }
                    }
                }

                .table_row_area {
                    table {
                        thead {
                            tr {
                                // th {
                                //     padding: 24px;
                                // }
                            }
                        }

                        thead::after {
                            line-height: 10px;
                        }

                        tbody {
                            tr {
                                td {
                                    white-space: nowrap;
                                    padding: 16px 24px;

                                    .agent_detail {
                                        .name_area {
                                            margin-top: -36px;
                                            margin-left: 62px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .cards_area {
                padding-top: 40px;
                padding-bottom: 20px;

                .cards_detail_area {
                    .box_area {
                        margin-bottom: 30px;

                        .top_area {
                            padding-left: 12px;
                            padding-right: 14px;
                            padding-top: 25px;

                            .left_area {
                                .image_area {
                                    height: 50px;
                                    width: 50px;


                                }

                                .inner_info {
                                    h4 {
                                        font-size: 20px;
                                    }

                                }
                            }

                            .right_area {
                                .manage_btn_area {
                                    a {
                                        .btn-primary-4 {
                                            width: 96px;
                                        }
                                    }
                                }

                                .add_credit_btn_area {
                                    a {
                                        .btn-primary-4 {
                                            width: 110px;
                                        }
                                    }
                                }
                            }
                        }

                        .bottom_area {
                            padding-left: 16px;
                            padding-right: 16px;

                            .inner_info {
                                h3 {
                                    margin-top: 40px;
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .heading_area {
                    padding: 0px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    padding-left: 20px;

                    .heading_wrap_set_dashboard {
                        h2 {
                            padding-bottom: 0px;
                            font-size: 26px;
                        }
                    }

                    .right {
                        float: right;
                        margin-right: 10px;

                        ul {
                            li {
                                margin-right: 0px;

                                .sort_by_swap {
                                    .left {
                                        padding-right: 15px;
                                    }

                                    .right {
                                        .dropdown {
                                            .btn-primary {
                                                width: 109px;
                                                padding-left: 0px;
                                                height: 45px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .inner_info_mine {
        .my_applications_area {
            .my_orders {
                &.my_order {
                    .table_row_area {
                        table {
                            thead {
                                tr {
                                    th {
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }
                    }
                }

                .table_row_area {
                    table {
                        thead {
                            tr {
                                // th {
                                //     padding: 10px 10px;
                                // }
                            }
                        }

                        thead::after {
                            line-height: 10px;
                        }

                        tbody {
                            tr {
                                td {
                                    white-space: nowrap;
                                    padding: 20px 40px;

                                    .agent_detail {
                                        .name_area {
                                            margin-top: -36px;
                                            margin-left: 62px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .cards_area {
                padding-top: 40px;
                padding-bottom: 20px;

                .cards_detail_area {
                    .box_area {
                        margin-bottom: 30px;

                        .top_area {
                            .left_area {
                                .inner_info {
                                    h4 {
                                        font-size: 22px;
                                    }
                                }
                            }
                        }

                        .bottom_area {
                            .inner_info {
                                h3 {
                                    margin-top: 30px;
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .heading_area {
                    padding: 30px;

                    .heading_wrap_set_dashboard {
                        h2 {
                            padding-bottom: 0px;
                            font-size: 28px;
                        }
                    }

                    .right {
                        float: right;
                        margin-right: 20px;

                        ul {
                            li {

                                &:last-child {
                                    margin-right: -38px;
                                }

                                .sort_by_swap {
                                    .left {
                                        padding-right: 15px;


                                    }

                                    .right {
                                        .dropdown {
                                            .btn-primary {
                                                width: 109px;
                                                padding-left: 0px;
                                                height: 45px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .inner_info_mine {
        margin-top: 20px;

        .my_applications_area {
            .my_orders {
                &.my_order {
                    .table_row_area {
                        table {
                            thead {
                                tr {
                                    th {
                                        white-space: nowrap;
                                        padding: 20px 40px;
                                    }
                                }
                            }
                        }
                    }
                }

                .table_row_area {
                    table {
                        thead {
                            tr {
                                th {
                                    white-space: nowrap;
                                    padding: 20px 40px;
                                }
                            }
                        }

                        thead::after {
                            line-height: 10px;
                        }

                        tbody {
                            tr {
                                td {
                                    white-space: nowrap;
                                    padding: 20px 40px;

                                    .agent_detail {
                                        .name_area {
                                            margin-top: -36px;
                                            margin-left: 62px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .cards_area {
                padding-bottom: 30px;

                .cards_detail_area {
                    &.top {
                        margin-top: 60px;
                    }

                    .box_area {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .heading_area {
                    padding: 0px;
                    padding-bottom: 30px;

                    .heading_wrap_set_dashboard {
                        h2 {
                            font-size: 24px;
                        }
                    }

                    .right {
                        float: left;
                        margin-right: 20px;

                        ul {
                            li {
                                margin-right: 20px;

                                .sort_by_swap {
                                    padding-bottom: 30px;

                                    .left {
                                        padding-right: 15px;

                                        p {
                                            margin-left: 30px;
                                        }
                                    }

                                    .right {
                                        .dropdown {
                                            .btn-primary {
                                                width: 102px;
                                                padding-left: 0px;
                                                height: 45px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .inner_info_mine {
        width: 100%;
        padding-left: 0px;
        margin-top: 0px;

        .my_applications_area {
            .my_orders {
                &.my_order {
                    .table_row_area {
                        table {
                            thead {
                                tr {
                                    th {
                                        white-space: nowrap;
                                        padding: 10px 40px;
                                    }
                                }
                            }
                        }
                    }
                }

                .table_row_area {
                    table {
                        thead {
                            tr {
                                th {
                                    padding: 10px 10px;
                                }
                            }
                        }

                        thead::after {
                            line-height: 10px;
                        }

                        tbody {
                            tr {
                                td {
                                    white-space: nowrap;
                                    padding: 14px 40px;

                                    .agent_detail {
                                        .name_area {
                                            margin-top: -36px;
                                            margin-left: 62px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .cards_area {
                padding-top: 40px;
                padding-bottom: 20px;

                .cards_detail_area {
                    .box_area {
                        margin-bottom: 30px;

                        &.bg {
                            .top_area {
                                padding-top: 20px;
                            }
                        }

                        .top_area {
                            padding-left: 12px;
                            padding-right: 14px;
                            padding-top: 30px;

                            .left_area {
                                .image_area {
                                    height: 50px;
                                    width: 50px;
                                }


                                .inner_info {
                                    h4 {
                                        font-size: 20px;
                                    }

                                }
                            }

                            .right_area {
                                .manage_btn_area {
                                    a {
                                        .btn-primary-4 {
                                            width: 94px;
                                        }
                                    }
                                }

                                .add_credit_btn_area {
                                    a {
                                        .btn-primary-4 {
                                            width: 110px;
                                        }
                                    }
                                }
                            }
                        }

                        .bottom_area {
                            padding-left: 16px;
                            padding-right: 16px;

                            .inner_info {
                                h3 {
                                    margin-top: 40px;
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Smaller phones */
@media (max-width: 360px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .heading_area {
                    padding: 0px;
                    padding-bottom: 30px;

                    .heading_wrap_set_dashboard {
                        h2 {
                            font-size: 24px;
                        }
                    }

                    .right {
                        float: left;
                        margin-right: 20px;

                        ul {
                            li {
                                margin-right: 20px;

                                .sort_by_swap {
                                    padding-bottom: 30px;

                                    .left {
                                        padding-right: 15px;

                                        p {
                                            margin-left: 30px;
                                        }
                                    }

                                    .right {
                                        .dropdown {
                                            .btn-primary {
                                                width: 102px;
                                                padding-left: 0px;
                                                height: 45px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .inner_info_mine {
        width: 100%;
        padding-left: 0px;
        margin-top: 0px;

        .my_applications_area {
            .my_orders {
                &.my_order {
                    .table_row_area {
                        table {
                            thead {
                                tr {
                                    th {
                                        white-space: nowrap;
                                        padding: 10px 40px;
                                    }
                                }
                            }
                        }
                    }
                }

                .table_row_area {
                    table {
                        thead {
                            tr {
                                th {
                                    padding: 10px 10px;
                                }
                            }
                        }

                        thead::after {
                            line-height: 10px;
                        }

                        tbody {
                            tr {
                                td {
                                    white-space: nowrap;
                                    padding: 14px 40px;

                                    .agent_detail {
                                        .name_area {
                                            margin-top: -36px;
                                            margin-left: 62px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .cards_area {
                padding-top: 40px;
                padding-bottom: 20px;

                .cards_detail_area {
                    .box_area {
                        margin-bottom: 30px;

                        &.bg {
                            .top_area {
                                padding-top: 20px;
                            }
                        }

                        .top_area {
                            padding-left: 12px;
                            padding-right: 14px;
                            padding-top: 30px;

                            .left_area {
                                .image_area {
                                    height: 50px;
                                    width: 50px;
                                }


                                .inner_info {
                                    h4 {
                                        font-size: 20px;
                                    }

                                }
                            }

                            .right_area {
                                .manage_btn_area {
                                    margin-top: 6px;

                                    a {
                                        .btn-primary-4 {
                                            width: 94px;
                                        }
                                    }
                                }

                                .add_credit_btn_area {
                                    a {
                                        .btn-primary-4 {
                                            width: 110px;
                                        }
                                    }
                                }
                            }
                        }

                        .bottom_area {
                            padding-left: 16px;
                            padding-right: 16px;

                            .inner_info {
                                h3 {
                                    margin-top: 40px;
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .heading_area {
                    padding: 0px;
                    padding-bottom: 30px;

                    .heading_wrap_set_dashboard {
                        h2 {
                            font-size: 24px;
                        }
                    }

                    .right {
                        float: left;
                        margin-right: 5px;

                        ul {
                            li {
                                margin-right: 20px;

                                .sort_by_swap {
                                    padding-bottom: 30px;

                                    .left {
                                        padding-right: 15px;

                                        p {
                                            margin-left: 30px;
                                        }
                                    }

                                    .right {
                                        .dropdown {
                                            .btn-primary {
                                                width: 102px;
                                                padding-left: 0px;
                                                height: 45px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .inner_info_mine {
        width: 100%;
        padding-left: 0px;
        margin-top: 0px;

        .my_applications_area {
            .my_orders {
                &.my_order {
                    .table_row_area {
                        table {
                            thead {
                                tr {
                                    th {
                                        white-space: nowrap;
                                        padding: 10px 40px;
                                    }
                                }
                            }
                        }
                    }
                }

                .table_row_area {
                    table {
                        thead {
                            tr {
                                th {
                                    padding: 10px 10px;
                                }
                            }
                        }

                        thead::after {
                            line-height: 10px;
                        }

                        tbody {
                            tr {
                                td {
                                    white-space: nowrap;
                                    padding: 14px 40px;

                                    .agent_detail {
                                        .name_area {
                                            margin-top: -36px;
                                            margin-left: 62px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .cards_area {
                padding-top: 40px;
                padding-bottom: 20px;

                .cards_detail_area {
                    .box_area {
                        margin-bottom: 30px;

                        &.bg {
                            .top_area {
                                padding-top: 20px;
                            }
                        }

                        .top_area {
                            padding-left: 12px;
                            padding-right: 14px;
                            padding-top: 30px;

                            .left_area {
                                .image_area {
                                    height: 50px;
                                    width: 50px;
                                }


                                .inner_info {
                                    h4 {
                                        font-size: 20px;
                                    }

                                }
                            }

                            .right_area {
                                .manage_btn_area {
                                    margin-top: 6px;

                                    a {
                                        .btn-primary-4 {
                                            width: 100px;
                                        }
                                    }
                                }

                                .add_credit_btn_area {
                                    a {
                                        .btn-primary-4 {
                                            width: 110px;
                                        }
                                    }
                                }
                            }
                        }

                        .bottom_area {
                            padding-left: 16px;
                            padding-right: 16px;

                            .inner_info {
                                h3 {
                                    margin-top: 40px;
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}