@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.inner_info_mine {
    .input_fields_area {
        .expect_education_area {
            margin-top: 18px;

            .form_search {
                .form-control {
                    height: 50px;
                    background: $checkbox;
                    border-radius: 5px;
                    padding-left: 30px;
                    border: none;

                    &::placeholder {
                        font-weight: 500;
                        font-size: 14px;
                        color: $offspara;
                    }
                }

                .form-label {
                    font-size: 14px;
                }
            }
        }
    }

    .btn_area {
        margin-top: 40px;
    }
}





/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .inner_info_mine {
        .input_fields_area {
            margin-top: 30px
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .inner_info_mine {
        .input_fields_area {
            margin-top: 30px
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .heading_area {
                    padding-bottom: 0px !important;

                    .heading_wrap_set_dashboard {
                        padding-top: 9px;

                        h2 {
                            padding-top: 20px;
                            font-size: 24px !important;
                        }
                    }
                }
            }
        }
    }

    .inner_info_mine {
        .input_fields_area {
            padding-left: 30px;
            padding-right: 30px;
        }

        .btn_area {
            padding-left: 30px;
            margin-top: 30px;
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .heading_area {
                    padding-bottom: 0px !important;

                    .heading_wrap_set_dashboard {
                        padding-top: 9px;

                        h2 {
                            padding-top: 20px;
                            font-size: 24px !important;
                        }
                    }
                }
            }
        }
    }

    .inner_info_mine {
        .input_fields_area {
            padding-left: 30px;
            padding-right: 30px;
        }

        .btn_area {
            padding-left: 30px;
            margin-top: 30px;
        }
    }

}

/* Smaller phones */
@media (max-width: 320px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .heading_area {
                    padding-bottom: 0px !important;

                    .heading_wrap_set_dashboard {
                        padding-top: 9px;

                        h2 {
                            padding-top: 20px;
                            font-size: 24px !important;
                        }
                    }
                }
            }
        }
    }

    .inner_info_mine {
        .input_fields_area {
            padding-left: 30px;
            padding-right: 30px;
        }

        .btn_area {
            padding-left: 30px;
            margin-top: 30px;
        }
    }
}