@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.listing_section {
    &.dashboard{
        .listing_side_main_set_wrap {
            position: relative;
            .listing_head_wrap {
                padding-bottom: 30px;
                padding-left: 17px;
                @include clearfix();
                .left {
                    float: left;
                    p {
                        font-size: 18px;
                        font-weight: 500;

                        span {
                            font-weight: 300;
                            padding-left: 5px;
                            color: $offspara;
                        }
                    }
                }
                .right {
                    float: right;
                    ul {
                        display: flex;
                        align-items: center;
                        li {
                            display: inline-block;
                            margin-right: 20px;

                            &:last-child {
                                margin-right: 0;
                            }
                            .listing_view {
                                background-color: $checkbox;
                                border-radius: 5px;

                                a {
                                    background-color: $checkbox;
                                    color: $black;
                                    padding: 8px 14px;
                                    border-radius: 5px;
                                    display: inline-block;

                                    &:last-child {
                                        border-top-left-radius: 0;
                                        border-bottom-left-radius: 0;
                                    }

                                    &.active {
                                        background-color: $light-black;

                                        i {
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

.inner_info_mine {
    &.listing{
        .my_favorites_area{
            width: calc(100% - 350px);
        }
        .profile_area{
            width: 350px;
           
            .profile-flexi{
                display:  block !important;
                position: sticky;
                top: 85px;
                .right{
                    width: 100% !important;
                    float: unset !important;
                }
                .head_set{
                    margin-top: 0 !important;
                }
            }
        }
    }
    .my_favorites_area {
        .lsiting_show_wrap {
            padding-left: 0px;
            padding-top: 0px;

            .list_grid {
                .list_grid_wrap {
                    &.list_single{
                        .listing_box{
                            width: 100%;
                        }
                    }
                    .listing_box {
                        width: 33.33%;
                        padding-right: 15px;
                        padding-left: 15px;
                        float: left;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}




/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
    .inner_info_mine {
        &.listing{
            width: calc(100% - 100px) !important;
        }
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .inner_info_mine {
        &.listing{
            width: calc(100% - 40px) !important;
            .my_favorites_area {
                width: calc(100% - 300px);
                .lsiting_show_wrap {
                    .list_grid {
                        .list_grid_wrap {
                            &.list_single{
                                 .listing_box {
                                    width: 100%;
                                 }
                            }
                            .listing_box {
                                width: 50%;
    
                            }
                        }
                    }
                }
             }
             .profile_area{
                 width: 300px;
             }
        }
        
    }
}

@media (min-width: 1280px) and (max-width: 1399px) {
    .inner_info_mine {
        &.listing{
            width: calc(100% - 40px) !important;
            .my_favorites_area {
                width: calc(100% - 350px);
                .lsiting_show_wrap {
                    .list_grid {
                        .list_grid_wrap {
                            &.list_single{
                                .listing_box {
                                   width: 100%;
                                }
                           }
                            .listing_box {
                                width: 50%;
    
                            }
                        }
                    }
                }
             }
             .profile_area{
                 width: 350px;
             }
        }
        
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .inner_info_mine {
        &.listing{
            width: calc(100% - 20px) !important;
            .d-flex{
                flex-direction: column-reverse;
            }
            .my_favorites_area {
                width: 100%;
                .lsiting_show_wrap {
                    .list_grid {
                        .list_grid_wrap {
                            &.list_single{
                                .listing_box {
                                   width: 100%;
                                }
                           }
                            .listing_box {
                                width: 50%;
    
                            }
                        }
                    }
                }
             }
             .profile_area{
                 width: 100%;
                 .profile-flexi{
                    .right{
                        padding-left: 17px !important;
                        padding-bottom: 20px;
                        .preferances{
                             .flag_icon_area{
                                 .image_area{
                                    width: 80px !important;
                                 }
                             }
                        }
                    }
                 }
             }
        }
        
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .inner_info_mine {
        &.listing{
            width: calc(100% - 20px) !important;
            .my_favorites_area {
                width: 100%;
                padding-top: 30px;
                .lsiting_show_wrap {
                    .list_grid {
                        .list_grid_wrap {
                            &.list_single{
                                .listing_box {
                                   width: 100%;
                                }
                           }
                            .listing_box {
                                width: 50%;
    
                            }
                        }
                    }
                }
             }
             .profile_area{
                 width: 100%;
                 .profile-flexi{
                    .right{
                        padding-left: 17px !important;
                        padding-bottom: 20px;
                        .preferances{
                             .flag_icon_area{
                                 .image_area{
                                    width: 80px !important;
                                 }
                             }
                        }
                    }
                 }
             }
        }
        
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .inner_info_mine {
        &.listing{
            width: 100% !important;
            padding-left: 0 !important;
            .my_favorites_area {
                padding-top: 30px;
                width: 100%;
                .lsiting_show_wrap {
                    .list_grid {
                        .list_grid_wrap {
                            &.list_single{
                                .listing_box {
                                   width: 100%;
                                }
                           }
                            .listing_box {
                                width: 50%;
    
                            }
                        }
                    }
                }
             }
             .profile_area{
                 width: 100%;
                 .profile-flexi{
                    .right{
                        padding-left: 17px !important;
                        padding-bottom: 20px;
                        .preferances{
                             .flag_icon_area{
                                 .image_area{
                                    width: 80px !important;
                                 }
                             }
                        }
                    }
                 }
             }
        }
        
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .inner_info_mine {
        &.listing{
            width: 100% !important;
            padding-left: 0 !important;
            .my_favorites_area {
                padding-top: 30px;
                width: 100%;
                .lsiting_show_wrap {
                    .list_grid {
                        .list_grid_wrap {
                            &.list_single{
                                .listing_box {
                                   width: 100%;
                                }
                           }
                            .listing_box {
                                width: 100%;
    
                            }
                        }
                    }
                }
             }
             .profile_area{
                 width: 100%;
                 .profile-flexi{
                    .right{
                        padding-left: 17px !important;
                        padding-bottom: 20px;
                        .preferances{
                             .flag_icon_area{
                                 .image_area{
                                    width: 80px !important;
                                 }
                             }
                        }
                    }
                 }
             }
        }
        
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .inner_info_mine {
        &.listing{
            width: 100% !important;
            padding-left: 0 !important;
            .my_favorites_area {
                padding-top: 30px;
                width: 100%;
                .lsiting_show_wrap {
                    .list_grid {
                        .list_grid_wrap {
                            &.list_single{
                                .listing_box {
                                   width: 100%;
                                }
                           }
                            .listing_box {
                                width: 100%;
    
                            }
                        }
                    }
                }
             }
             .profile_area{
                 width: 100%;
                 .profile-flexi{
                    .right{
                        padding-left: 17px !important;
                        padding-bottom: 20px;
                        .preferances{
                             .flag_icon_area{
                                 .image_area{
                                    width: 80px !important;
                                 }
                             }
                        }
                    }
                 }
             }
        }
        
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .inner_info_mine {
        .my_favorites_area {
            .lsiting_show_wrap {
                padding-top: 30px;

                .list_grid {
                    .list_grid_wrap {
                        .listing_box {
                            width: 99.33%;
                        }
                    }
                }
            }
        }
    }
}