@import "../../base/variable.scss";
@import "../../base/mixins.scss";


.dashboard_wrap {
    .dashboard_wrap_inner {
        .user_content_side {
            .inner_info_mine {
                padding-left: 60px;
                margin-top: 60px;
                width: calc(100% - 300px);
               

                .profile_area {
                    .profile-flexi {
                        display: flex;

                        .left {
                            width: calc(100% - 350px);
                            float: left;

                            .my_detail_box {
                                background-color: $bg-light;
                                padding: 53px 30px;
                                border-radius: 5px;

                                .my_profile {
                                    p {
                                        margin-bottom: 15px;
                                        font-weight: 600;
                                    }

                                    .img_area_profile {
                                        width: 130px;
                                        height: 130px;
                                        border-radius: 24px;
                                        overflow: hidden;
                                        position: relative;
                                        // &:hover{
                                        //     .edits_btn{
                                        //         ul{
                                        //             li{
                                        //                 opacity: 1;
                                        //                 transition: 0.2s ease;
                                        //             }
                                        //         }
                                        //     }
                                        // }

                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                        .edits_btn{
                                            position: absolute;
                                            top: 70%;
                                            left: 0;
                                            right: 0;
                                            text-align: center;
                                            margin: 0 auto;
                                            ul{
                                                li{
                                                    margin-left: 10px;
                                                    display: inline-block;
                                                   
                                                    transition: 0.2s ease;
                                                    &:first-child{
                                                        margin-left: 0;
                                                    }
                                                    a{
                                                        display: inline-block;

                                                        i{
                                                            color: $black;
                                                            background-color: $primary-color;
                                                            width: 30px;
                                                            height: 30px;
                                                            line-height: 30px;
                                                            border-radius: 50%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .edit_detail {
                                    margin-top: 30px;

                                    .form_body {
                                        margin-bottom: 20px;

                                        label {
                                            font-size: 14px;
                                            margin-bottom: 15px;
                                            font-weight: 600;
                                        }

                                        .form-control {
                                            background-color: $checkbox;
                                            border-radius: 5px;
                                            border-color: $checkbox;
                                            height: 50px;
                                        }

                                        .css-b62m3t-container {
                                            .css-9gakcf-option {
                                                background-color: $secondary_color;
                                                color: $white;
                                                cursor: default;
                                                display: block;
                                                font-size: 14px;
                                                padding: 18px 20px;
                                                width: 100%;
                                                -webkit-user-select: none;
                                                -moz-user-select: none;
                                                -ms-user-select: none;
                                                user-select: none;
                                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                                box-sizing: border-box;
                                            }

                                            .css-1n7v3ny-option {
                                                background-color: transparent;
                                            }

                                            .css-26l3qy-menu {
                                                box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
                                                border-radius: 4px;
                                                overflow: hidden;
                                            }

                                            .css-4ljt47-MenuList {
                                                padding-top: 0px;
                                                padding-bottom: 0px;
                                            }
                                        }

                                        .css-b62m3t-container {
                                            .css-14el2xx-placeholder {
                                                z-index: 2;
                                                color: $secondary_color;
                                                margin-right: 41px;
                                                box-sizing: border-box;
                                            }

                                            .css-6j8wv5-Input {
                                                margin: 0px;
                                                visibility: visible;
                                                display: inline-grid;
                                                box-sizing: border-box;
                                                transition: all 100ms;
                                                padding-right: 0;
                                                padding-left: 0px;
                                            }

                                            .css-1s2u09g-control {
                                                z-index: 2;
                                                align-items: center;
                                                background-color: $checkbox;
                                                border-color: transparent;
                                                border-radius: 4px;
                                                border-style: solid;
                                                border-width: 1px;
                                                cursor: default;
                                                display: -webkit-box;
                                                display: -webkit-flex;
                                                display: -ms-flexbox;
                                                display: flex;
                                                -webkit-box-flex-wrap: wrap;
                                                -webkit-flex-wrap: wrap;
                                                -ms-flex-wrap: wrap;
                                                flex-wrap: wrap;
                                                -webkit-box-pack: justify;
                                                -webkit-justify-content: space-between;
                                                justify-content: space-between;
                                                min-height: 50px;
                                                outline: 0 !important;
                                                position: relative;
                                                -webkit-transition: all 100ms;
                                                transition: all 100ms;
                                            }
                                        }

                                        .css-1hb7zxy-IndicatorsContainer {
                                            .css-1okebmr-indicatorSeparator {
                                                z-index: 2;
                                                background-color: transparent;
                                                transition: all 100ms;
                                            }

                                            .css-tlfecz-indicatorContainer {
                                                z-index: 2;
                                                color: $black;
                                                display: flex;
                                                font-size: 30px;
                                                padding-right: 40px;
                                                -webkit-transition: color 150ms;
                                                transition: color 150ms;
                                                box-sizing: border-box;
                                                transition: all 100ms;
                                            }

                                            .css-1gtu0rj-indicatorContainer {
                                                padding-right: 40px;
                                            }
                                        }

                                        .css-319lph-ValueContainer {
                                            padding-left: 15px;
                                            padding-right: 0;
                                        }

                                        .css-1pahdxg-control {
                                            background-color: $checkbox;
                                            border-color: $checkbox;
                                            box-shadow: none;
                                            min-height: 50px;

                                        }
                                    }

                                    .save_changes {
                                        margin-top: 20px;
                                    }
                                }
                            }
                        }

                        .right {
                            width: 350px;
                            float: left;
                            padding-left: 30px;

                            .wallet_detail_area {
                                margin-top: 80px;

                                .box_area {
                                    position: relative;

                                    .default_card {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        margin: 0 auto;
                                        text-align: center;
                                        margin-top: 4px;

                                        img {}
                                    }

                                    &.bg {
                                        position: relative;
                                        background-color: $secondary_color;
                                    }

                                    .doller_img {
                                        position: absolute;
                                        right: 0;
                                        bottom: -10px;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }

                                    }

                                    position: relative;
                                    background-color: $primary-color;
                                    width: 100%;
                                    height: 155px;
                                    border-radius: 5px;
                                    overflow: hidden;
                                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

                                    &::after {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        content: "";
                                        width: 100%;
                                        height: 7px;
                                        background-color: $secondary_color
                                    }


                                    .top_area {
                                        @include clearfix();
                                        padding-left: 20px;
                                        padding-right: 20px;
                                        padding-top: 20px;

                                        .left_area {
                                            float: left;

                                            .image_area {
                                                height: 60px;
                                                width: 60px;
                                                border-radius: 5px;

                                                img {
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }

                                            .inner_info {
                                                h4 {
                                                    color: $white;
                                                    font-size: 18px;
                                                    font-weight: 600;


                                                }
                                            }
                                        }


                                        .right_area {
                                            float: right;

                                            .manage_btn_area {
                                                a {
                                                    font-size: 12px;

                                                    .btn-primary-4 {
                                                        width: 115px;
                                                        height: 40px;
                                                        line-height: 40px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .bottom_area {
                                        padding-left: 20px;
                                        padding-right: 20px;

                                        p {
                                            padding-top: 10px;
                                        }

                                        .inner_info {
                                            p {
                                                color: $white;
                                                font-size: 12px;
                                                font-weight: 500;
                                            }

                                            h3 {
                                                margin-top: 10px;
                                                color: $yellow;
                                                font-size: 30px;
                                                font-weight: bold;

                                                sub {
                                                    font-size: 14px;
                                                    font-weight: 400;
                                                    color: $white;
                                                }
                                            }

                                            .name_info {
                                                float: left;

                                                p {
                                                    font-size: 14px;
                                                    color: $secondary_color;
                                                    font-weight: 600;
                                                }
                                            }

                                            .expiry_info {
                                                float: right;

                                                p {
                                                    font-size: 14px;
                                                    color: $secondary_color;
                                                    font-weight: 600;
                                                }
                                            }
                                        }
                                    }

                                    .dots2 {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        z-index: 1;
                                    }
                                }
                            }

                            .preferances {
                                background-color: $light-black;
                                padding: 20px;
                                border-radius: 5px;
                                position: relative;
                                z-index: 2;
                                overflow: hidden;

                                .flag {
                                    @include clearfix();
                                    display: flex;
                                    align-items: center;

                                    .leftim {
                                        width: 77px;
                                        float: left;

                                        img {
                                            width: 77px;
                                            height: 55px;
                                        }
                                    }

                                    .rightin {
                                        width: calc(100% - 77px);
                                        float: left;
                                        padding-left: 20px;

                                        p {
                                            color: $white;
                                            word-break: break-all;
                                        }
                                    }
                                }

                                .flag_icon_area {
                                    @include clearfix();
                                    position: relative;
                                    z-index: 2;
                                    border-bottom: 1px solid $black_stroke;
                                    padding-bottom: 10px;

                                    .image_area {
                                        border-radius: 5px;
                                        overflow: hidden;
                                        float: left;
                                        padding: 9px 8px;
                                        width: 25%;


                                        img {
                                            width: 100%;
                                            height: 36px;
                                            object-fit: cover;
                                        }

                                        &.add {
                                            width: 58px;
                                            height: 36px;
                                            border: 1px solid $white;
                                            margin-top: 8px;
                                            margin-left: 8px;
                                            text-align: center;

                                            a {
                                                i {
                                                    text-align: center;
                                                    color: #ffffff;
                                                    font-size: 14px;
                                                    align-items: center;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                            }
                                        }
                                    }
                                }

                                .uni_area {
                                    margin-top: 20px;
                                    @include clearfix();
                                    background: linear-gradient(180deg, rgba(60, 67, 75, 0) 0%, #3C434B 100%);
                                    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
                                    padding: 10px;
                                    border-radius: 5px;

                                    .left_area {
                                        float: left;
                                        width: 50px;

                                        i {
                                            background-color: $degree;
                                            color: $white;
                                            font-size: 20px;
                                            border-radius: 5px;
                                            height: 50px;
                                            width: 50px;
                                            text-align: center;
                                            line-height: 50px;

                                        }
                                    }

                                    .right_area {
                                        padding-left: 20px;
                                        float: left;
                                        width: calc(100% - 50px);

                                        h2 {
                                            color: $white;
                                            font-size: 24px;
                                            font-weight: 400;
                                        }

                                        p {
                                            color: $white;
                                            font-size: 14px;
                                            font-weight: 400;
                                        }
                                    }
                                }

                                .intake {
                                    margin-top: 20px;

                                    p {
                                        color: $white;
                                        padding-bottom: 15px;
                                    }
                                }

                                .dots {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    z-index: 1;
                                }

                            }

                            .save_changes {
                                margin-top: 20px;
                            }

                            .invite_friend_area {
                                @include clearfix();
                                margin-top: 30px;
                                margin-bottom: 30px;
                                position: relative;

                                .top_box {
                                    position: relative;
                                    background-color: $primary-color;
                                    border-radius: 5px;
                                    padding: 16px;

                                    .image_area {
                                        text-align: center;

                                        // img {
                                        //     width: 208px;
                                        // }
                                    }

                                    .info_area {
                                        text-align: center;

                                        p {
                                            font-size: 16px;
                                            color: $black;
                                            font-weight: 600;

                                            strong {
                                                font-size: 18px;
                                                color: $black;
                                                padding-right: 4px;
                                                // font-weight: 900;
                                            }
                                        }
                                    }

                                    &::after {
                                        position: absolute;
                                        left: -15px;
                                        bottom: -15px;
                                        content: "";
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 30px;
                                        background-color: $white;

                                    }

                                    &::before {
                                        position: absolute;
                                        right: -15px;
                                        bottom: -15px;
                                        content: "";
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 30px;
                                        background-color: $white;

                                    }
                                }

                                .bottom_box {
                                    border-top: 1px dashed $white;
                                    background-color: $secondary_color;
                                    border-radius: 5px;


                                    .expect_education_area {
                                        margin-top: 20px;
                                        padding: 16px;

                                        .form-control-plaintext {
                                            background-color: transparent;
                                            border: 1px solid $white;
                                            border-radius: 5px;
                                            border-color: $checkbox;
                                            height: 50px;
                                            padding-left: 20px;
                                            color: $white;

                                            &:focus-visible {
                                                border-color: $white;
                                                border-color: $checkbox;
                                                outline: none;
                                            }

                                        }

                                        a {
                                            color: $white;

                                            i {
                                                margin-top: -33px;
                                                float: right;
                                                padding-right: 20px;
                                            }
                                        }
                                    }

                                    .btn_copy_area {
                                        position: relative;
                                        margin-top: 12px;
                                        // border-top: 1px dashed $white;
                                        padding-bottom: 20px;
                                        @include clearfix();
                                        padding: 16px;

                                        .facebook_btn {
                                            float: left;
                                            border: 1px solid $white;
                                            width: 130px;
                                            height: 50px;
                                            border-radius: 5px;
                                            text-align: center;
                                            line-height: 50px;

                                            img {
                                                object-fit: cover;
                                                width: 32px;
                                                height: 32px;
                                            }
                                        }

                                        .whatsapp_btn {
                                            float: right;
                                            border: 1px solid $white;
                                            width: 130px;
                                            text-align: center;
                                            line-height: 50px;
                                            border-radius: 5px;

                                            img {
                                                object-fit: cover;
                                                width: 32px;
                                                height: 32px;
                                            }
                                        }

                                        &::before {
                                            position: absolute;
                                            left: 0;
                                            top: -6px;
                                            content: "";
                                            width: 100%;
                                            border-top: 1px dashed $white;
                                        }
                                    }


                                }

                                .dots2 {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    z-index: 1;
                                }
                            }
                        }

                        .head_set {
                            margin-top: 30px;
                            margin-bottom: 20px;

                            h2 {
                                font-weight: 500;
                                font-size: 24px;
                                color: $light-black;
                            }
                        }
                    }
                    .PhoneInput{
                        box-shadow: none;
                        text-decoration: none;
                        outline: none;
                        background-color:  $checkbox;
                        border-radius: 5px;
                        border-color: $checkbox;
                        height: 50px;
                        margin-bottom: 20px;
                        padding: 0 20px;
                        .PhoneInputCountry{
                            select{
                                &:disabled{
                                    opacity: 0;
                                }
                            }
                        }
                        input{
                            border: none;
                        }
                    }

                    .change_password_area {
                        margin-bottom: 20px;
                        background-color: $bg-light;
                        padding: 40px 30px;
                        border-radius: 5px;
                        margin-top: 30px;

                        .change_heading_area {
                            margin-top: 0px;
                            margin-bottom: 20px;

                            h2 {
                                font-size: 24px;
                                color: $secondary_color;
                            }
                        }

                        .btn_area {
                            .left_area {
                                a {
                                    .btn-primary-2 {
                                        width: 188px;
                                    }
                                }
                            }
                        }
                       
                    }
                }
            }
        }
    }
}


/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .inner_info_mine {
                    width: calc(100% - 120px);
                }
            }
        }
    }
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1399px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .inner_info_mine {
                    width: calc(100% - 120px);
                }
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .inner_info_mine {
                    width: calc(100% - 30px);
                    padding-left: 33px;
                    margin-top: 20px;
                }

                .heading_area {
                    .heading_wrap_set_dashboard {
                        padding-left: 33px;
                        padding-top: 40px;
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .inner_info_mine {
                    width: calc(100% - 16px);
                    padding-left: 16px;
                    margin-top: 0px;

                    .profile_area {
                        .profile-flexi {
                            display: block;

                            .left {
                                width: 100%;
                                float: unset;
                            }

                            .right {
                                width: 100%;
                                float: right;
                                padding-left: 0;
                                margin-top: 30px;

                                .wallet_detail_area {
                                    margin-top: 0px;
                                }

                                .preferances {
                                    .flag_icon_area {
                                        .image_area {
                                            width: 16%;
                                        }
                                    }
                                }

                                .invite_friend_area {
                                    .bottom_box {
                                        .btn_copy_area {
                                            .facebook_btn {
                                                width: 160px;
                                            }

                                            .whatsapp_btn {
                                                width: 160px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .inner_info_mine {
                    width: calc(100% - 16px);
                    padding-left: 16px;
                    margin-top: 0px;

                    .profile_area {
                        .profile-flexi {
                            display: block;

                            .head_set {
                                h2 {
                                    font-size: 20px;
                                }
                            }

                            .left {
                                width: 100%;
                                float: unset;

                                .head_set {
                                    h2 {
                                        font-size: 20px;
                                    }
                                }

                                .my_detail_box {
                                    padding: 20px 20px;

                                    .edit_detail {
                                        .save_changes {
                                            a {
                                                .btn-primary-2 {
                                                    width: 136px;
                                                }
                                            }
                                        }
                                    }

                                }
                            }

                            .right {
                                width: 100%;
                                float: right;
                                padding-left: 0;
                                margin-top: 30px;

                                .wallet_detail_area {
                                    margin-top: 0px;
                                }

                                .preferances {
                                    .flag_icon_area {
                                        .image_area {
                                            width: 14%;
                                        }
                                    }
                                }

                                .invite_friend_area {
                                    .bottom_box {
                                        .btn_copy_area {
                                            .facebook_btn {
                                                width: 160px;
                                            }

                                            .whatsapp_btn {
                                                width: 160px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .change_password_area {
                            margin-bottom: 10px;
                            padding: 20px;

                            .input_fields_area {
                                padding-left: 0px;
                                padding-right: 0px;
                                margin-top: 0;

                                .change_heading_area {
                                    margin-top: 0px;

                                    h2 {
                                        font-size: 20px;

                                    }
                                }
                            }

                            .btn_area {
                                padding-left: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .inner_info_mine {
                    width: calc(100% - 16px);
                    padding-left: 16px;
                    margin-top: 0px;

                    .profile_area {
                        .profile-flexi {
                            display: block;

                            .head_set {
                                h2 {
                                    font-size: 20px;
                                }
                            }

                            .left {
                                width: 100%;
                                float: unset;

                                .my_detail_box {
                                    padding: 12px 12px;

                                    .edit_detail {
                                        .save_changes {
                                            a {
                                                .btn-primary-2 {
                                                    width: 136px;
                                                }
                                            }
                                        }
                                    }

                                }
                            }

                            .right {
                                width: 100%;
                                float: right;
                                padding-left: 0;
                                margin-top: 30px;

                                .wallet_detail_area {
                                    margin-top: 10px;
                                }
                            }
                        }

                        .change_password_area {
                            margin-bottom: 10px;
                            padding: 12px;

                            .input_fields_area {
                                padding-left: 0px;
                                padding-right: 0px;
                                margin-top: 0;

                                .change_heading_area {
                                    margin-top: 0px;

                                    h2 {
                                        font-size: 20px;

                                    }
                                }
                            }

                            .btn_area {
                                padding-left: 0px;
                                .btn-primary-2{
                                    width: 200px;
                                }
                            }
                        }
                        .save_changes{
                            .btn-primary-2{
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            .user_content_side {
                .inner_info_mine {
                    width: calc(100% - 16px);
                    padding-left: 16px;
                    margin-top: 0px;

                    .profile_area {
                        .profile-flexi {
                            display: block;

                            .head_set {
                                h2 {
                                    font-size: 20px;
                                }
                            }

                            .left {
                                width: 100%;
                                float: unset;

                                .my_detail_box {
                                    padding: 12px 12px;

                                    .edit_detail {
                                        .save_changes {
                                            a {
                                                .btn-primary-2 {
                                                    width: 136px;
                                                }
                                            }
                                        }
                                    }

                                }
                            }

                            .right {
                                width: 100%;
                                float: right;
                                padding-left: 0;
                                margin-top: 30px;

                                .wallet_detail_area {
                                    margin-top: 10px;
                                }
                            }
                        }

                        .change_password_area {
                            margin-bottom: 10px;
                            padding: 12px;

                            .input_fields_area {
                                padding-left: 0px;
                                padding-right: 0px;
                                margin-top: 0;

                                .change_heading_area {
                                    margin-top: 0px;

                                    h2 {
                                        font-size: 20px;

                                    }
                                }
                            }

                            .btn_area {
                                padding-left: 0px;
                                .btn-primary-2{
                                    width: 200px;
                                }
                            }
                        }
                        .save_changes{
                            .btn-primary-2{
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}