@import "../../base/variable.scss";
@import "../../base/mixins.scss";

.dashboard_wrap {
    .dashboard_wrap_inner {
        display: flex;

        .side_bar {
            width: 200px;
            float: left;
            border-right: 1px solid $stroke;

            .Side_bar_wrap_dashboard {
                height: 100%;
                padding-top: 10px;
                text-align: center;
                width: 100%;
                position: sticky;
                top: 0;
                float: left;

                .Side_bar_wrap_in {
                    .user_img {
                        position: relative;

                        .bg_img {
                            margin-top: -20px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .user_img_inn {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            text-align: center;
                            margin-top: -43px;

                            .user_set {
                                width: 72px;
                                height: 72px;
                                margin: 0 auto;
                                text-align: center;
                                border: 5px solid $checkbox;
                                border-radius: 22px;
                                overflow: hidden;
                                background-color: $checkbox
                            }

                            .name {
                                padding-top: 10px;

                                p {
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    .menu_list {
                        padding-top: 24px;
                        padding-bottom: 60px;

                        .Shape1 {
                            img {
                                width: 80px;
                            }
                        }

                        .Shape2 {
                            img {
                                width: 80px;
                            }
                        }

                        .menus {
                            background-color: $light-black;
                            margin-right: 119px;

                            ul {
                                li {
                                    margin-bottom: 26px;
                                    text-align: center;
                                    position: relative;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }

                                    a {
                                        width: 40px;
                                        height: 40px;
                                        line-height: 42px;
                                        background-color: transparent;
                                        color: $white;
                                        display: block;
                                        margin: 0 auto;
                                        border-radius: 10px;
                                        transition: 0.3s ease-in-out;

                                        i {
                                            font-weight: 300;
                                            font-size: 18px;
                                        }
                                        .name-lable{
                                           position: absolute;
                                           left: 0;
                                           top: 0;
                                           background-color: $secondary-color;
                                           margin-left: 79px;
                                           z-index: -1;
                                           visibility: hidden;
                                           opacity: 0;
                                           transition: 0.3s ease-in-out;
                                           
                                            &:after {
                                                content: '';
                                            display: block;
                                            position: absolute;
                                            z-index: 10;
                                            right: -1px;
                                            width: 20px;
                                            height: 100%;
                                            background-color: $secondary-color;
                                            transform: skew(36deg);
                                            top: 0;
                                            z-index: 1;
                                            }
                                            &::before {
                                            content: '';
                                            display: block;
                                            position: absolute;
                                            z-index: 10;
                                            right: -1px;
                                            width: 20px;
                                            height: 100%;
                                            background-color: $secondary-color;
                                            transform: skew(-36deg);
                                            z-index: 1;
                                            }
                                           p{
                                            padding: 2px 10px;
                                            font-size: 14px;
                                            position: relative;
                                            z-index: 7;
                                           }
                                        }
                                    }

                                    &:hover {
                                        a {
                                            background-color: $prim_blck;
                                            transition: 0.3s ease-in-out;

                                            i {
                                                font-weight: 600;
                                            }
                                        }
                                        .name-lable{
                                            z-index: 1;
                                            visibility:visible;
                                            opacity: 1; 
                                            transition: 0.3s ease-in-out;
                                        }
                                    }

                                    &.active {
                                        a {
                                            background-color: $prim_blck;
                                            transition: 0.3s ease-in-out;

                                            i {
                                                font-weight: 600;
                                            }
                                        }
                                        .name-lable{
                                            z-index: 1;
                                            visibility:visible;
                                            opacity: 1;
                                            transition: 0.3s ease-in-out;
                                        }
                                    }
                                }
                            }
                        }

                        .Shape1 {
                            display: table-caption;
                        }

                        .Shape2 {
                            display: table-caption;
                        }
                    }
                }
            }
        }

        .user_content_side {
            width: calc(100% - 200px);
            float: left;
            // overflow: hidden;

            .heading_area {
                background-color: $bg-light;
                padding: 60px;

                .heading_wrap_set_dashboard {
                    h2 {
                        font-weight: 500;
                        font-size: 36px;
                        color: $light-black;
                    }
                }
            }
        }
    }
}


/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            display: flex;

            .side_bar {
                .Side_bar_wrap_dashboard {
                    .Side_bar_wrap_in {
                        .user_img {
                            position: relative;

                            .bg_img {
                                margin-top: -20px;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            .user_img_inn {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                text-align: center;
                                margin-top: -43px;

                                .user_set {
                                    width: 72px;
                                    height: 72px;
                                    margin: 0 auto;
                                    text-align: center;
                                    border: 5px solid $checkbox;
                                }

                                .name {
                                    padding-top: 10px;

                                    p {
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                        .menu_list {
                            padding-top: 24px;
                            padding-bottom: 60px;

                            .Shape1 {
                                img {
                                    width: 80px;
                                }
                            }

                            .Shape2 {
                                img {
                                    width: 80px;
                                }
                            }

                            .menus {
                                background-color: $light-black;
                                margin-right: 119px;

                                ul {
                                    li {
                                        margin-bottom: 26px;
                                        text-align: center;

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        a {
                                            width: 40px;
                                            height: 40px;
                                            line-height: 42px;
                                            background-color: transparent;
                                            color: $white;
                                            display: block;
                                            margin: 0 auto;
                                            border-radius: 10px;

                                            i {
                                                font-weight: 300;
                                                font-size: 18px;
                                            }
                                        }

                                        &:hover {
                                            a {
                                                background-color: $prim_blck;

                                                i {
                                                    font-weight: 600;
                                                }
                                            }
                                        }

                                        &.active {
                                            a {
                                                background-color: $prim_blck;

                                                i {
                                                    font-weight: 600;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .Shape1 {
                                display: table-caption;
                            }

                            .Shape2 {
                                display: table-caption;
                            }
                        }
                    }
                }
            }

            .user_content_side {

                .heading_area {
                    padding: 30px;

                    .heading_wrap_set_dashboard {
                        h2 {
                            font-weight: 500;
                            font-size: 26px;
                            color: $light-black;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            display: flex;

            .side_bar {
                display: none;
                width: 100%;

                .Side_bar_wrap_dashboard {
                    .Side_bar_wrap_in {
                        .user_img {
                            position: relative;

                            .bg_img {
                                margin-top: -20px;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            .user_img_inn {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                text-align: center;
                                margin-top: -43px;

                                .user_set {
                                    width: 72px;
                                    height: 72px;
                                    margin: 0 auto;
                                    text-align: center;
                                    border: 5px solid $checkbox;
                                    border-radius: 28px;
                                    overflow: hidden;
                                }

                                .name {
                                    padding-top: 10px;

                                    p {
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                        .menu_list {
                            padding-top: 24px;
                            padding-bottom: 60px;

                            .Shape1 {
                                img {
                                    width: 80px;
                                }
                            }

                            .Shape2 {
                                img {
                                    width: 80px;
                                }
                            }

                            .menus {
                                background-color: $light-black;
                                margin-right: 119px;

                                ul {
                                    li {
                                        margin-bottom: 26px;
                                        text-align: center;

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        a {
                                            width: 40px;
                                            height: 40px;
                                            line-height: 42px;
                                            background-color: transparent;
                                            color: $white;
                                            display: block;
                                            margin: 0 auto;
                                            border-radius: 10px;

                                            i {
                                                font-weight: 300;
                                                font-size: 18px;
                                            }
                                        }

                                        &:hover {
                                            a {
                                                background-color: $prim_blck;

                                                i {
                                                    font-weight: 600;
                                                }
                                            }
                                        }

                                        &.active {
                                            a {
                                                background-color: $prim_blck;

                                                i {
                                                    font-weight: 600;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .Shape1 {
                                display: table-caption;
                            }

                            .Shape2 {
                                display: table-caption;
                            }
                        }
                    }
                }
            }

            .user_content_side {
                width: 100%;
                float: left;
                overflow: hidden;

                .heading_area {
                    padding: 30px;

                    .heading_wrap_set_dashboard {
                        h2 {
                            font-weight: 500;
                            font-size: 26px;
                            color: $light-black;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            display: flex;

            .side_bar {
                display: none;
                width: 100%;
            }

            .user_content_side {
                width: 100%;

                .heading_area {
                    .heading_wrap_set_dashboard {
                        padding: 30px;

                        h2 {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            display: flex;

            .side_bar {
                display: none;
                width: 100%;
            }

            .user_content_side {
                width: 100%;

                .heading_area {
                    .heading_wrap_set_dashboard {
                        padding: 30px;

                        h2 {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    .dashboard_wrap {
        .dashboard_wrap_inner {
            display: flex;

            .side_bar {
                display: none;
                width: 100%;
            }

            .user_content_side {
                width: 100%;

                .heading_area {
                    .heading_wrap_set_dashboard {
                        padding: 30px;

                        h2 {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
}